<document-block inline-template>
  <div class="document-block">
    <a href="{{ instance.file_src.url }}"
      {% if instance.link_target %} target="{{ instance.link_target }}"{% endif %}
      {% if instance.link_title %} title="{{ instance.link_title }}"{% endif %}
      {{ instance.attributes_str }}>

      <div class="hexagon-wrapper">
        <span class="icon"></span>
        <div class="outer-layer">
          <div class="inner-layer">
          </div>
        </div>
      </div>

      <span class="title">
        {% if instance.file_name %}{{ instance.file_name }}
        {% else %}{{ instance.file_src.label }}{% endif %}
      </span>
      {% comment %}
        {% if instance.show_file_size %}
          <span>{{ instance.file_src.size|filesizeformat }}</span>
        {% endif %}
      {% endcomment %}
    </a>
  </div>
</document-block>

{% comment %}
  # https://github.com/divio/django-filer/blob/master/filer/models/filemodels.py
  {{ instance.file_src }}
  {{ instance.file_src.extension }}
  # Available variables:
  {{ instance.template }}
  {{ instance.file_name }}
  {{ instance.link_target }}
  {{ instance.link_title }}
  {{ instance.show_file_size }}
  {{ instance.attributes_str }}
{% endcomment %}
