// Font
$--font-path: '~element-ui/lib/theme-chalk/fonts';
$--font-size-base: 1em;

// Colors
$--color-primary: $gold;
$--color-success: map-get($alert-colors, 'success');
$--color-warning: map-get($alert-colors, 'warning');
$--color-danger: map-get($alert-colors, 'danger');
$--color-info: map-get($alert-colors, 'info');
$--color-text-primary: $base-font-color;
$--color-text-regular: $base-font-color;
$--color-text-secondary: $gold;
$--color-text-placeholder: $blue;
$--border-color-base: $base-border-color;
$--border-color-light: $light-beige;
$--border-color-lighter: $light-beige;
$--border-color-extra-light: $light-beige;

// Shadow
// $--box-shadow-base: $base-box-shadow;

// Border
$--border-radius-base: 0;
$--border-radius-small: 0;

// Select
$--select-input-font-size: 1em;
$--select-dropdown-padding: 0 0;
$--select-dropdown-empty-padding: 10px 0;
$--select-dropdown-border: 1px solid $light-beige;
$--select-option-height: spacing(3);
$--select-option-color: $dark-blue;
$--select-option-hover-background: $beige;

.el-form {
  .promo-code-input {
    .el-input__inner {
      background-color: transparent;
      color: var(--dark-gray);
      border-color: var(--green);
      border-radius: $base-border-radius;

      @include grid('desktop') {
        min-width: 250px;
      }
    }
  }

  .el-form-item {
    margin-bottom: spacing(1);

    @include grid('desktop') {
      margin-bottom: spacing(2);
    }

    .el-form-item__label {
      @include plumber-size('p-small');
      color: var(--dark-green);
      padding: 0 0 spacing(.5) !important;
      margin: 0 !important;

      &::before {
        color: var(--dark-green) !important;
      }
    }

    .el-input__inner {
      @include trans;
      padding: spacing(1.5) spacing();
      cursor: pointer;
      border-radius: $small-border-radius;

      @include grid('desktop') {
        padding: spacing(2) spacing();
      }

      &:hover {
        border-color: var(--beige);
      }

      &:active,
      &:focus {
        border-color: var(--gold);
      }
    }

    .el-textarea__inner {
      border-radius: $small-border-radius;
      padding: spacing();
    }

    .el-checkbox__original {
      [type="checkbox"] {
        display: none !important;
      }
    }
  }

  .el-form-item__error {
    left: auto;
    right: 0;
    margin-top: spacing(.5);
  }

  input::placeholder {
    color: var(--medium-gray);
  }

  textarea::placeholder {
    color: var(--medium-gray);
  }
}

// Checkbox group
.el-checkbox-group {
  position: relative;

  .el-checkbox__label {
    @include plumber-size('p-small');
    margin: 0 !important;
    padding: 0 0 0 spacing(3) !important;
    display: block;

    a {
      @include plumber-size('p-small');
      color: var(--dark-green);
      display: inline-block;
      font-weight: 700;
    }
  }

  .title {
    display: block;
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: spacing();
  }

  .help {
    @include plumber-size('p-small');
    padding: 0 !important;
    margin: 0 !important;
    line-height: 1.5 !important;
  }
}

.el-checkbox {
  padding: 0;
  margin: 0;
}

.el-checkbox-group-text {
  padding: 0 !important;
  margin: 0 !important;
}

// Checkbox
.el-checkbox {
  &.is-checked {
    .el-checkbox__inner {
      background-color: transparent;
      border-color: var(--orange);

      &::before {
        transform: none;
        opacity: 1;
      }
    }
  }

  &:hover {
    .el-checkbox__inner {
      border-color: var(--orange);
    }
  }
}

.el-checkbox__inner {
  @include size(30px);
  @include trans;
  background-color: transparent;
  border-radius: $small-border-radius;
  border: 1px solid var(--light-beige);
  cursor: pointer;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: -2px;
  transform: none;

  @include grid('desktop') {
    top: -4px;
  }

  &::before {
    @include position(absolute, 7px);
    @include trans;
    background: var(--orange);
    content: '';
    opacity: 0;
    transform: scale(.5);
  }
}

.el-checkbox__input {
  &.is-checked {
    border-color: var(--orange);
  }

  &.is-checked + .el-checkbox__label {
    color: var(--dark-green);
  }
}

// Radio
.el-radio-group {
  @include grid-container;
}

.el-radio {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr 12fr;
  align-self: flex-start;
  justify-content: flex-start;
  outline: none;
}

.el-radio__input {

  &.is-checked {
    .el-radio__inner {

      &::after {
        opacity: 1;
      }
    }
  }
}

.el-radio__inner {
  @include size(30px);
  background: $white;
  position: relative;
  border: $base-border;
  border-radius: 100%;
  backface-visibility: hidden;
  display: block;

  &::after {
    @include size(20px);
    @include trans();
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    content: '';
    background: var(--orange);
    border-radius: 100%;
  }
}

.el-radio__label {
  p {
    padding: 0;
    margin: 0;
    max-width: 400px;
  }

  .title {
    color: var(--medium-gray);
    text-transform: uppercase;
    font-weight: 700;
    display: block;
    padding-bottom: spacing();
  }

  .help {
    @include plumber-size('p-small');
    padding: 0 !important;
    margin: 0 !important;
    color: var(--medium-gray);
    display: block;
  }
}

// Select
.el-select {
  position: relative;
  min-width: 100%;
}

// Message
.el-message {
  z-index: 2020 !important;

  @include grid('mobile-large', $down: true) {
    min-width: 320px !important;
  }

  @include grid('mobile-large') {
    min-width: calc(100% - #{$gutter});
  }
}

.el-message--success {
  background-color: var(--white) !important;
  border-color: rgba($black, .15) !important;


  .el-message__content {
    color: var(--medium-black) !important;
    color: green !important;
  }


  .el-icon-success {
    color: green !important;
  }
}


.el-tooltip__popper {
  position: absolute !important;
  bottom: 100px !important;
  transform-origin: none !important;
  display: none;
}
