{% extends "default.html" %}
{% load cms_tags i18n thumbnail %}

{% block content %}
  <media-list inline-template>
   <div class="post-list" v-appear="{enabled: $root.isLoaded}">
      <div class="container">
        {% include "blogit/post-menu.html" %}
          <div class="post-list-items" v-appear.children="{enabled: $root.isLoaded}">
            {% for item in media_list %}
              {% cycle 1 0 as is_odd silent %}
              {% include "media/media_item.html" %}
            {% endfor %}
       </div>



      </div>
      {% include "includes/pagination.html" %}
    </div>
  </media-list>
{% endblock %}
