<script>
export default {
  name: 'HomeFormLinks',
}
</script>

<style lang="scss" scoped>
@import "assets/sass/_resources.scss";

.home-form-links {
  @extend %appear;
  text-align: center;
  margin-bottom: spacing(3);

  @include grid('desktop', $down: true) {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  @include grid('desktop') {
    margin-bottom: spacing(21);
    padding-left: spacing(2);
    padding-right: spacing(2);
  }
}

.container {
  max-width: 1500px;
}

.wrapper {
  @include grid-container;

  @include grid('desktop') {
    @include grid-collapse;
    display: flex;
    align-items: center;
  }
}

.agent-form-link {
  @extend %appear-text;
  position: relative;
  display: block;

  @include grid('desktop') {
    @include grid-column(4);
  }

  @include grid('desktop', $down: true) {
    display: flex;
    align-items: center;
  }

  &:hover {
    .title {
      color: $action-color;
    }
  }

  .outer-layer .inner-layer:before {
    background-color: var(--light-green);
  }

  .icon {
    @include icon('icon-Distributor');
    color: var(--green);
  }
}

.register-form-link {
  @extend %appear-text;
  position: relative;
  display: block;

  @include grid('desktop', $down: true) {
    display: flex;
    align-items: center;
  }

  @include grid('desktop') {
    @include grid-column(4);
  }

  &:hover {
    .title {
      color: $action-color;
    }
  }

  .outer-layer .inner-layer:before {
    background-color: var(--light-gold);
  }

  .icon {
    @include icon('icon-Basket');
    color: var(--gold);
  }
}

.title {
  @include trans(color);
  padding: 0 0 0 spacing();
  margin: 0 0 spacing();
  color: var(--dark-gray);

  @include grid('desktop', $down: true) {
    max-width: 200px;
    text-align: left;
  }

  @include grid('desktop') {
    padding: 0;
  }
}

.description {
  padding: 0;
  margin: 0;
  display: none;
  color: var(--medium-gray-2);

  @include grid('desktop') {
    display: block;
  }
}

.hexagon-wrapper-link {
  @include trans;
  position: relative;
  margin-bottom: spacing();

  .icon {
    @include plumber-size('h3');
    padding: 0 !important;
    margin: 0 !important;
    @include trans(color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-weight: 700;

    @include grid('desktop') {
      @include plumber-size('h3');
      padding: 0 !important;
      margin: 0 !important;
    }
  }

  .outer-layer {
    overflow: hidden;
    display: inline-block;
    width: spacing(5.5);
    height: spacing(4.5);
    transform: rotate(-30deg) skewX(30deg);
    border-radius: spacing(.5);
    position: relative;

    @include grid('desktop') {
      width: spacing(5.5);
      height: spacing(4.5);
    }
  }

  .outer-layer *, .outer-layer *:before {
    display: block;
    overflow: hidden;
    width: inherit;
    height: inherit;
    border-radius: inherit;
  }

  .inner-layer {
    transform: skewX(-30deg) rotate(60deg) skewX(30deg);
    cursor: pointer;
  }

  .outer-layer .inner-layer:before {
    @include trans(background);
    transform: skewX(-30deg) rotate(60deg) skewX(30deg);
    content: '';
  }
}

.image {
  @extend %appear-text;
  display: none;

  @include grid('desktop') {
    @include grid-column(4);
    display: block;
  }
}

.hexagon-wrapper-image {
  @include trans;
  position: relative;
  margin-bottom: spacing();

  // .bg {
  //   position: absolute;
  //   top: spacing(2);
  //   left: 50%;
  //   transform: translateX(-50%);
  //   width: 420px;
  //   height: 530px;
  //   background-repeat: no-repeat;
  //   background-size: cover;
  //   background-position: center;
  //   background-image: url('../images/honey-homepage.png');
  //   z-index: 1;
  // }

  img {
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    height: 530px;
    z-index: 1;
  }

  .outer-layer {
    overflow: hidden;
    display: inline-block;
    width: spacing(4);
    height: spacing(3);
    transform: rotate(-30deg) skewX(30deg);
    border-radius: spacing(.5);
    position: relative;

    @include grid('desktop') {
      width: spacing(25);
      height: spacing(21);
    }

    @include grid('desktop-large') {
      width: spacing(30);
      height: spacing(26);
    }
  }

  .outer-layer *, .outer-layer *:before {
    display: block;
    overflow: hidden;
    width: inherit;
    height: inherit;
    border-radius: inherit;
  }

  .inner-layer {
    transform: skewX(-30deg) rotate(60deg) skewX(30deg);
    cursor: pointer;
  }

  .outer-layer .inner-layer:before {
    @include trans(background);
    transform: skewX(-30deg) rotate(60deg) skewX(30deg);
    content: '';
    background-color: var(--light-gold);
  }
}
</style>
