  <script>
export default {
  name: 'HomeTestimonials',
  data () {
    return {
      activeIndex: 1,
      maxIndex: 0,
      autoplayTimeout: null,
      pause: 5000,
      itemWidth: null,
    }
  },
  computed: {
    moveTranslateX () {
      let offsetIndex = this.activeIndex -1
      if (this.activeIndex === 0) offsetIndex = 0
      if (this.activeIndex === this.maxIndex) offsetIndex = this.maxIndex - 1
      return {
        '-webkit-transform': 'translateX(' + offsetIndex * this.itemWidth * -1 + 'px)',
        'transform': 'translateX(' + offsetIndex * this.itemWidth * -1 + 'px)'
      }
    }
  },
  mounted () {
    this.setItemWidth()
    window.addEventListener('resize', this.setItemWidth)
    this.transformByWindowSize()
    this.autoplay()
  },

  methods: {
    setItemWidth () { this.itemWidth = this.$refs.item.scrollWidth - this.$refs.items.offsetLeft },
    isActive (index) { return this.activeIndex === index },

    swipe() {
      if (this.$refs.items.scrollWidth < 0) this.prevSlide()
      else this.nextSlide()
    },
    nextSlide () {
      if (this.activeIndex === this.maxIndex) { this.activeIndex = 1 }
      else { this.activeIndex++ }
      this.autoplay();

      // console.log(this.$refs);
    },
    prevSlide () {
      if (this.$refs.items.scrollWidth != 0) {
        if (this.activeIndex === 0) { this.activeIndex = this.maxIndex }
        else { this.activeIndex-- }
        this.autoplay();
      }
    },

    transformByWindowSize() {
      let smallDevice = window.matchMedia('(max-width: 1600px)')
      if (smallDevice.matches) this.maxIndex = this.$el.querySelectorAll('.item').length
      else this.maxIndex = this.$el.querySelectorAll('.item').length - 1
    },

    autoplay () {
      clearTimeout(this.autoplayTimeout)
      this.autoplayTimeout = setTimeout(() => { this.nextSlide() }, this.pause)
    },
    activate: function (index) {
      this.activeIndex = index;
    }
  }
}
</script>

<style lang="scss" scoped>
@import "assets/sass/_resources.scss";

.home-testimonials {
  background-color: var(--white);
  position: relative;
  z-index: 1;

  @include grid('desktop') {
    padding-left: spacing(2);
    padding-right: spacing(2);
  }

  &::before {
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
    width: 100%;
    height: 50px;
    content: '';
    background-color: var(--white);
    position: absolute;
    top: -49px;
    left: 0;
    z-index: 1;

    @include grid('desktop') {
      top: -249px;
      height: 250px;
    }
  }
}

.container {
  @include grid('desktop') {
    max-width: 1650px;
  }
}

.title {
  @extend %appear-text;
  color: var(--lighter-gray);
  margin-bottom: spacing(2);
  text-align: center;

  @include grid('desktop-giant') {
    position: absolute;
    left: spacing();
    top: 50%;
    transform: rotate(-90deg) translateY(-50%);
    margin: 0 0 0 spacing(2);
    text-align: left;
  }

  &.appear {
    @include grid('desktop-giant') {
      transform: rotate(-90deg) translateY(-50%);
    }
  }
}

.items {
  @extend %appear-text;

  @include grid('desktop', $down: true) {
    display: flex;
  }

  @include grid('desktop') {
    transform: none !important;

    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
}

.item {
  @include grid-container;
  position: relative;

  @include grid('desktop', $down: true) {
    min-width: 100%;
    padding: spacing();
  }

  &:nth-child(1) {
    @include grid('desktop') {
      justify-self: start;
      position: relative;
      left: 170px;
    }

    .box {
      @include grid('desktop') {
        position: relative;
        left: 0;
        transform: none;
      }
    }

    svg {
      @include grid('desktop') {
        height: 120px;
      }
    }
  }

  &:nth-child(2) {
    @include grid('desktop') {
      justify-self: start;
    }

    svg {
      @include grid('desktop') {
        height: 210px;
      }
    }
  }

  &:nth-child(3) {
    svg {
      @include grid('desktop') {
        height: 175px;
      }
    }

    .box {
      @include grid('desktop') {
        position: absolute;
        transform: none;
        left: auto;
        right: 80px;
      }
    }
  }

  &:nth-child(4) {
    svg {
      @include grid('desktop') {
        height: 135px;
      }
    }

    .box {
      @include grid('desktop') {
        left: auto;
        transform: none;
        right: 90px;
        position: relative;
        display: inline-block;
        float: right;
      }
    }
  }

  &:nth-child(5) {
    @include grid('desktop') {
      justify-self: start;
    }


    .box {
      @include grid('desktop') {
        position: relative;
        left: auto;
        transform: none;
        left: 140px;
      }
    }

    svg {
      @include grid('desktop') {
        height: 135px;
      }
    }
  }


  &:nth-child(6) {
    @include grid('desktop') {
      justify-self: start;
    }

    .box {
      @include grid('desktop') {
        position: relative;
        right: -260px;
        left: auto;
        transform: none;
      }
    }

    svg {
      @include grid('desktop') {
        height: 150px;
      }
    }
  }

  &:nth-child(7) {
    @include grid('desktop') {
      justify-self: end;
    }

    .box {
      @include grid('desktop') {
        transform: none;
        left: auto;
        right: -185px;
        position: relative;
      }
    }

    svg {
      @include grid('desktop') {
        height: 210px;
      }
    }
  }
}

.box {
  position: relative;
  max-width: 300px;
  left: 50%;
  transform: translateX(-50%);
}

svg {
  margin-bottom: spacing(2);
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  height: 150px;

  @include grid('desktop') {
    height: 290px;
  }
}

.name {
  @include plumber-size('p-extra-small');
  color: var(--dark-green);
  margin: 0;
  padding: 0 !important;
  font-weight: 500;
  text-align: right;
}

.description {
  @include plumber-size('p-small');
  position: relative;
  max-width: 240px;
  margin-bottom: spacing() !important;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;

  span {
    width: 80px;
    height: 70px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    left: spacing(-5);
    top: spacing(-2);
    z-index: 1;
    display: block;
  }
}
</style>
