<script>
export default {
  name: "HomeRecipies",
  data() {
    return {
      activeIndex: 1,
      maxIndex: 0,
      autoplayTimeout: null,
      pause: 5000,
      itemWidth: null
    };
  },
  computed: {
    moveTranslateX() {
      let offsetIndex = this.activeIndex - 1;
      if (this.activeIndex === 0) offsetIndex = 0;
      if (this.activeIndex === this.maxIndex) offsetIndex = this.maxIndex - 1;
      return {
        "-webkit-transform":
          "translateX(" + offsetIndex * this.itemWidth * -1 + "px)",
        transform: "translateX(" + offsetIndex * this.itemWidth * -1 + "px)"
      };
    }
  },
  mounted() {
    this.setItemWidth();
    window.addEventListener("resize", this.setItemWidth);
    //this.transformByWindowSize();
    this.autoplay();
  },

  methods: {
    setItemWidth() {
      this.itemWidth =
        this.$refs.item.scrollWidth - this.$refs.items.offsetLeft;
    },
    isActive(index) {
      return this.activeIndex === index;
    },

    swipe() {
      if (this.$refs.items.scrollWidth < 0) this.prevSlide();
      else this.nextSlide();
    },
    nextSlide() {
      if (this.activeIndex === this.maxIndex) {
        this.activeIndex = 1;
      } else {
        this.activeIndex++;
      }
      this.autoplay();

      // console.log(this.$refs);
    },
    prevSlide() {
      if (this.$refs.items.scrollWidth != 0) {
        if (this.activeIndex === 0) {
          this.activeIndex = this.maxIndex;
        } else {
          this.activeIndex--;
        }
        this.autoplay();
      }
    },

    transformByWindowSize() {
      let smallDevice = window.matchMedia("(max-width: 1600px)");
      if (smallDevice.matches)
        this.maxIndex = this.$el.querySelectorAll(".item").length;
      else this.maxIndex = this.$el.querySelectorAll(".item").length - 1;
    },

    autoplay() {
      clearTimeout(this.autoplayTimeout);
      this.autoplayTimeout = setTimeout(() => {
        this.nextSlide();
      }, this.pause);
    },
    activate: function(index) {
      this.activeIndex = index;
    }
  }
};
</script>

<style lang="scss" scoped>
@import "assets/sass/_resources.scss";

.home-recipies {
 @extend %appear;
  @include grid-container;
  position: relative;
  z-index: 1;
  margin-bottom: spacing(4);
  text-align: center;

  @include grid('desktop') {
    margin-bottom: spacing(12);
    padding-left: spacing(2);
    padding-right: spacing(2);
  }
}

.container {
  @include grid('desktop') {
    max-width: 1650px;
  }
}

.title {
  @extend %appear-text;
  color: var(--beige);
  margin-bottom: spacing(2);

  @include grid('desktop') {
    margin-bottom: spacing(4);
  }

  @include grid('desktop-giant') {
    position: absolute;
    left: spacing();
    top: 50%;
    transform: rotate(-90deg) translateY(-50%);
    margin: 0 0 0 spacing(2);
  }

  &.appear {
    @include grid('desktop-giant') {
      transform: rotate(-90deg) translateY(-50%);
    }
  }
}

.items {
  @extend %appear-text;

  @include grid('desktop', $down: true) {
    display: flex;
  }

  @include grid('desktop') {
    transform: none !important;
    display: grid;
    //grid-gap: 5em;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  @include grid('desktop-giant') {
    grid-template-columns: 1fr 1fr;
  }
}

.item {
  @include trans(opacity);
  position: relative;

  @include grid('desktop', $down: true) {
    min-width: 100%;
    padding: spacing();
  }

  @include grid('desktop') {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }

  &:hover {
    opacity: .9;

    .name {
      color: $action-color;
    }
  }

 /* &:nth-child(1) {
    @include grid('desktop-giant') {
      grid-column: 1;
      grid-row: 1;
      justify-self: start;
      margin-left: spacing(2);
    }
  }

  &:nth-child(2) {
    @include grid('desktop-giant') {
      grid-column: 1;
      grid-row: 2;
      justify-self: end;
      margin-right: spacing(-2);
    }
  }

  &:nth-child(3) {
    position: relative;

    @include grid('desktop-giant') {
      grid-row-start: 1;
      grid-row-end: 3;
    }

    &::before {
      content: '';
      height: 440px;
      width: 500px;
      position: absolute;
      right: -250px;
      transform: rotate(25deg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      opacity: .1;
      display: none;

      @include grid('desktop-giant') {
        display: block;
        display: none;
      }
    }

    svg {
      @include grid('desktop-giant') {
        filter: grayscale(75%);
        height: 840px;
      }
    }

    .name {
      @include grid('desktop-giant') {
        @include plumber-size('h3');
        padding: 0 !important;
        margin: 0 !important;
        position: absolute;
        top: 45%;
        transform: translateY(-45%);
        max-width: 400px;
        color: var(--white);
      }
    }
  }

  &:nth-child(4) {
    @include grid('desktop-giant') {
      grid-column: 3;
      grid-row: 1;
      justify-self: start;
    }
  }

  &:nth-child(5) {
    @include grid('desktop-giant') {
      grid-column: 3;
      grid-row: 2;
      justify-self: end;
      margin-right: spacing(-2);
    }
  }*/
}

svg {
  position: relative;
  margin-bottom: spacing(2);
  height: 162px;

  @include grid('desktop') {
    height: 164px;
  }
}


.name {
  @include trans(color);
  color: var(--dark-green);
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-family: $heading-font-family;
  margin: 0 auto;
  max-width: 340px;
}
</style>
