<script>
export default {
  name: 'HomeProductCategories',
}
</script>

<style lang="scss" scoped>
@import "assets/sass/_resources.scss";

.home-product-categories {
  @extend %appear;
  margin-bottom: spacing();

  @include grid('desktop') {
    margin-bottom: spacing(10);
  }
}

.container {
  max-width: 1500px;
}

.items {
  @include grid-container;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  padding-top: spacing();

  @include grid('desktop') {
    padding-top: spacing(7);
  }

  @include grid('desktop-large') {
    padding-top: spacing(4);
  }
}

.item {
  @extend %appear-text;
  position: relative;
  display: block;
  margin-bottom: spacing(3);

  @include grid('tablet') {
    width: 50%;
    float: left;
  }

  @include grid('desktop') {
    margin-right: -1.85rem;
  }

  &.apitherapy {
    &:hover {
      .outer-layer .inner-layer::before {
        opacity: .5;
      }

      .title {
        color: var(--dark-green) !important;
      }
    }

    .outer-layer .inner-layer::before {
      @include trans(opacity);
      background-color: var(--light-gold);
    }

    .title {
      color: var(--gold);
    }

    img {
      opacity: .5;

      @include grid('desktop') {
        width: 310px;
        margin-left: 50px;
      }
    }
  }

  &.phytotherapy {
    &:hover {
      .outer-layer .inner-layer::before {
        opacity: .75;
      }

      .title {
        color: var(--dark-green) !important;
      }
    }

    .outer-layer .inner-layer::before {
      @include trans(opacity);
      background-color: var(--light-green);
    }

    .title {
      color: var(--green);
    }

    img {
      opacity: .5;

      @include grid('desktop') {
        width: 330px;
      }
    }
  }
}

.outer-layer {
  overflow: hidden;
  display: inline-block;
  width: spacing(17);
  height: spacing(15);

  transform: rotate(-30deg) skewX(30deg);
  border-radius: $huge-border-radius;
  position: relative;

  @include grid('desktop') {
    width: spacing(36);
    height: spacing(31);
  }

  // @include grid('desktop-large') {
  //   width: spacing(41);
  //   height: spacing(36);
  // }

  @include grid('desktop-giant') {
    width: spacing(46);
    height: spacing(40);
  }
}
.outer-layer *, .outer-layer *::before {
  display: block;
  overflow: hidden;
  width: inherit;
  height: inherit;
  border-radius: inherit;
}
.inner-layer {
  transform: skewX(-30deg) rotate(60deg) skewX(30deg);
  cursor: pointer;
}
.outer-layer .inner-layer::before {
  @include trans(background);
  transform: skewX(-30deg) rotate(60deg) skewX(30deg);
  content: '';
}

.image {
  position: absolute;
  z-index: 1;

  @include grid('desktop', $down: true) {
    left: 50%;
    transform: translateX(-50%);
    top: 0%;
  }

  @include grid('desktop') {
    margin-top: -100px;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
  }

  @include grid('desktop-giant') {
    margin-top: -175px;
  }
}

.text {
  position: absolute;
  z-index: 1;
  text-align: center;
  min-width: 450px;

  @include grid('desktop', $down: true) {
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
  }

  @include grid('desktop') {
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    margin-top: 150px;
    margin-left: 1.85rem;
  }
}

.title {
  @include trans(color);
  padding: 0;
  margin: 0 0 spacing();

  @include grid('desktop', $down: true) {
    @include plumber-size('h5');
    padding: 0 !important;
    margin: 0 0 spacing() !important;
  }
}

.description {
  @include plumber-size('p-small');
  padding: 0;
  margin: 0;
  color: var(--medium-gray);
  display: none;

  @include grid('desktop-giant') {
    display: block;
  }
}
</style>