<script>
export default {
name: "HomeCategories",
    data () {
    return {
      activeIndex: 1,
      maxIndex: 0,
      autoplayTimeout: null,
      pause: 5000,
      itemWidth: null,
    }
  },
  computed: {
    moveTranslateX () {
      let offsetIndex = this.activeIndex -1
      if (this.activeIndex === 0) offsetIndex = 0
      if (this.activeIndex === this.maxIndex) offsetIndex = this.maxIndex - 1
      return {
        '-webkit-transform': 'translateX(' + offsetIndex * this.itemWidth * -1 + 'px)',
        'transform': 'translateX(' + offsetIndex * this.itemWidth * -1 + 'px)'
      }
    }
  },
  mounted () {
    this.setItemWidth()
    window.addEventListener('resize', this.setItemWidth)
    this.transformByWindowSize()
    this.autoplay()
  },

  methods: {
    setItemWidth () { this.itemWidth = this.$refs.item.scrollWidth - this.$refs.items.offsetLeft },
    isActive (index) { return this.activeIndex === index },

    swipe() {
      if (this.$refs.items.scrollWidth < 0) this.prevSlide()
      else this.nextSlide()
    },
    nextSlide () {
      if (this.activeIndex === this.maxIndex) { this.activeIndex = 1 }
      else { this.activeIndex++ }
      this.autoplay();

      // console.log(this.$refs);
    },
    prevSlide () {
      if (this.$refs.items.scrollWidth != 0) {
        if (this.activeIndex === 0) { this.activeIndex = this.maxIndex }
        else { this.activeIndex-- }
        this.autoplay();
      }
    },

    transformByWindowSize() {
      let smallDevice = window.matchMedia('(max-width: 1600px)')
      if (smallDevice.matches) this.maxIndex = this.$el.querySelectorAll('.item').length
      else this.maxIndex = this.$el.querySelectorAll('.item').length - 1
    },

    autoplay () {
      clearTimeout(this.autoplayTimeout)
      this.autoplayTimeout = setTimeout(() => { this.nextSlide() }, this.pause)
    },
    activate: function (index) {
      this.activeIndex = index;
    }
  }

}
</script>

<style scoped>

</style>
