<template>
  <a
    href="#"
    class="add-to-cart hexagon-wrapper"
    :class="{'disabled': disabled}"
    @click.prevent="addToCart">

    <span class="icon"></span>
    <div class='outer-layer'>
      <div class='inner-layer'></div>
    </div>
  </a>
</template>

<script>
export default {
  name: 'AddToCart',
  props: {
    url: {type: String, default: null},
    quantity: {type: Number, default: 1},
    extra: {type: Object, default: () => ({})}
  },
  data () {
    return {
      disabled: null
    }
  },
  methods: {
    addToCart () {
      if (this.disabled) return
      this.disabled = true
      this.$message({message: this.$labels.cart.addToAdding, type: 'adding'})
      this.$emit('adding');
      this.$store
        .dispatch('cart/addToCart', {url: this.url, quantity: this.quantity, extra: JSON.stringify(this.extra)})
        .then(data => {
          _.delay(() => { if (data.summary.is_available[0]) this.disabled = false }, 500)
          this.$message({message: this.$labels.cart.addToSuccess, type: 'success'})
          this.$emit('success', data)
        })
        .catch(() => {
          this.disabled = false
          this.$message({message: this.$labels.cart.addToError, type: 'error'})
          this.$emit('error')
        })
    }
  }
}
</script>

<style lang="scss" scoped>
@import "assets/sass/_resources.scss";

.add-to-cart {
  @include plumber-size('p-small');
  padding: 0 !important;
  margin: 0 !important;
  @include trans((opacity, visibility));
  position: absolute;
  right: 0;
  top: spacing(10);
  display: block;
  z-index: 1;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--dark-green);
  display: inline-block;

  @include grid('tablet') {
    right: 0;
    top: spacing(16);
  }

  @include grid('desktop') {
   // right: spacing(4);
    top: spacing(19);
    opacity: 0;
    visibility: visible;
  }

  &:hover {
    opacity: .5;

    .outer-layer {
      opacity: .5;
    }
  }
}

.outer-layer {
  @include trans(opacity);
  overflow: hidden;
  display: inline-block;
  width: spacing(3.5);
  height: spacing(2.5);
  transform: rotate(-30deg) skewX(30deg);
  border-radius: spacing(.5);
  position: relative;

  @include grid('desktop') {
    width: spacing(4.5);
    height: spacing(3.5);
  }
}

.outer-layer *, .outer-layer *:before {
  display: block;
  overflow: hidden;
  width: inherit;
  height: inherit;
  border-radius: inherit;
}

.inner-layer {
  transform: skewX(-30deg) rotate(60deg) skewX(30deg);
  cursor: pointer;
}

.outer-layer .inner-layer:before {
  @include trans(background);
  transform: skewX(-30deg) rotate(60deg) skewX(30deg);
  background: var(--orange);
  content: '';
}

.icon {
  @include plumber-size('h3');
  padding: 0 !important;
  margin: 0 !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: var(--dark-green);

  @include icon('icon-Basket');
}
</style>
