<template>
  <div class="cart-summary-item">
    <div class="cart-summary-item-row">
      <div class="cart-summary-item-wrapper">
        <div class="cart-image-with-text">
          <div class="image">
            <img :src="previewImage.url" :alt="previewImage.label" widht="75" height="95">
          </div>
          <div class="text">
            <p class="name">
              {{ item.summary.name }}
              <span v-for="flag in product.flags" :key="flag.id" class="flag">{{ flag.code }}</span>
              <span class="volume"><span class="volume-extra">x {{ item.quantity }}</span></span>
              <span class="total mobile">{{ lineSubtotal }}</span>
            </p>
          </div>
        </div>
        <div class="quantity desktop"><span>x{{ item.quantity }}</span></div>
        <div class="total desktop"><p>{{ lineSubtotal }}</p></div>
      </div>
    </div>
  </div>
</template>

<script>
import cartItemMixin from '../../mixins/shop/cart-item-mixin'

export default {
  name: 'CartSummaryItem',
  mixins: [cartItemMixin],
  props: {
    item: { type: Object, required: true },
  },
}
</script>

<style lang="scss" scoped>
@import "assets/sass/_resources.scss";

.cart-summary-item {
  padding-bottom: spacing();
  border-bottom: 1px solid rgba(black, .15);
  margin-bottom: spacing();
  padding: spacing();

  @include grid('desktop') {
    padding: spacing() 0;
  }

  &:last-child {
    @include grid('desktop', $down: true) {
      margin-bottom: 0;
      border-bottom: none;
    }
  }
}

.cart-summary-item-row {
  @include grid-container;
}

.cart-summary-item-wrapper {
  @include grid-container;

  @include grid('desktop') {
    display: flex;
    align-items: center;
  }
}

.cart-image-with-text {
  align-items: center;
  display: flex;
  flex-wrap: wrap;

  @include grid('desktop', $down: true) {
    margin-bottom: spacing();
  }

  @include grid('desktop') {
    flex: 3;
  }
}

.image {

  @include grid('mobile-large') {
    margin-right: spacing();
  }

  @include grid('desktop', $down: true){
    // width: 116px;
  }

  img {
    @include grid('desktop', $down: true){
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.text {
  margin-left: auto;

  @include grid('mobile-large', $down: true) {
    flex: 1;
    // text-align: right;
  }

  @include grid('desktop') {
    margin-left: 0;
  }

  p {
    @include plumber-size('p-small');
    padding: 0 !important;
    margin: 0 !important;

    @include grid('desktop') {
      @include plumber-size('p');
      padding: 0 !important;
      margin: 0 !important;
    }
  }

  span {
    color: var(--dark-gray);
    font-weight: 400;
  }
}

.name {
  font-weight: 700;
  color: var(--green);
  text-align: right;

  @include grid('desktop') {
    text-align: left;
  }

  .flag {
    padding-right: spacing(.25);
  }
}

.volume {
  position: relative;
  @include plumber-size('p-medium');
  padding: 0 0 spacing(.25) !important;
  margin: 0 0 spacing(.25) !important;
  color: var(--green);
  display: block;

  @include grid('desktop') {
    display: inline;
    padding: 0 !important;
    margin: 0 !important;
    border-bottom: 0;
  }

  &::after {
    height: 1px;
    background-color: $light-beige;
    width: 100px;
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;

    @include grid('desktop') {
      display: none;
    }
  }
}

.volume-extra {
  @include grid('desktop') {
    display: none;
  }
}

.quantity {
  position: relative;
  display: inline-block;

  @include grid('desktop') {
    flex: 1;
    margin-left: spacing(3);
  }

  &.mobile {
    @include grid('desktop') {
      display: none;
    }
  }

  &.desktop {
    display: none;

    @include grid('desktop') {
      display: flex;
    }
  }

  span {
    position: relative;
    display: inline-block;
    color: var(--dark-gray);
    padding: spacing(.5) spacing(.75);
  }
}

.total {
  display: inline-block;

  @include grid('desktop') {
    flex: 1;
    text-align: right;
  }

  &.mobile {
    @include grid('desktop') {
      display: none;
    }
  }

  &.desktop {
    display: none;

    @include grid('desktop') {
      display: flex;
    }
  }

  p {
    color: var(--dark-green);
    padding: 0;
    margin: 0;

    @include grid('desktop') {
      margin-left: auto;
    }
  }
}
</style>
