<template>
  <span href="javascript:void" class="cart-icon">
    <span class="quantity">{{ totalQuantity }}</span>
  </span>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'CartIcon',
  props: {
    size: {type: String, default: null}
  },
  computed: {
    ...mapState('cart', [
      'totalQuantity'
    ])
  }
}
</script>

<style lang="scss" scoped>
@import "assets/sass/_resources.scss";

.cart-icon {
  @include icon('icon-Basket-full', $size: 2em);
  position: relative;
  display: block;
}

.quantity {
  @include plumber-size('p-extra-small');
  padding: 0 !important;
  margin: 4px 0 0 !important;
  font-weight: 700;
  color: var(--orange);
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
</style>