<template>
  <div class="cart-summary">
    <div class="container">
      <h6 class="form-title">{{ $labels.cart.title }}</h6>

      <div class="cart-summary-table">
        <div class="cart-summary-head">
          <div class="cart-summary-head-row">
            <div class="col col-1"><p>{{ $labels.cart.product }}</p></div>
            <div class="col col-2"><p>{{ $labels.cart.quantity }}</p></div>
            <div class="col col-3"><p>{{ $labels.cart.total }}</p></div>
          </div>
        </div>

        <div class="cart-summary-items">
          <cart-summary-item
              v-for="item in items"
              :key="item.product_code"
              :item="item">
          </cart-summary-item>
        </div>

        <div class="cart-summary-foot">
          <div class="cart-summary-body">
            <div class="cart-subtotal">
              <p class="label">{{ $labels.cart.subtotal }}</p>
              <p class="amount">{{ subtotal }}</p>
            </div>

            <div class="cart-extra" v-for="extra in extraRows" :key="extra.label">
              <p class="label">{{ extra.label }}<span v-if="extra.code"> ({{ extra.code }})</span></p>
              <p class="amount">{{ extra.amount }}</p>
            </div>

            <div class="cart-total">
              <p class="label">{{ $labels.cart.totalToPay }}</p>
              <p class="amount"><span>{{ total }}</span></p>
            </div>
            <div class="cart-extra2" v-if="isFreeDelivery">
              <p class="label">Ostvarili ste besplatnu dostavu!</p>
            </div>
            <div class="cart-extra2" v-if="!isFreeDelivery">
              <p class="label">Do besplatne dostave </p>
              <p class="amount"><span>{{ restForDelivery }},00 kn</span></p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</template>

<script>
import {mapState} from 'vuex'
import CartSummaryItem from "./CartSummaryItem";

export default {
  name: 'CartSummary',
  components: {
    CartSummaryItem
  },
  data() {
    return {
      loaded: false,
    };
  },
  computed: {
    ...mapState('cart', [
      'items',
      'subtotal',
      'total',
      'extraRows',
      'params',
      'status',
    ]),
    isFreeDelivery() {

      if (parseFloat(this.subtotal) > 299) {
        return true;
      } else {
        return false;
      }
    },
    restForDelivery() {
      let temp = 300 - parseFloat(this.subtotal);
      return temp;
    },
  },
  watch: {
    status(newValue) {
      if (newValue === 'success' || newValue === 'error') {
        this.loaded = true
      }
    }
  },
  created() {

    if (this.params == this.$config.shop.cartParams) {
      this.$store.commit('cart/setParams', this.$config.shop.cartPramsDetail)
    }
  },
}
</script>

<style lang="scss" scoped>
@import "assets/sass/_resources.scss";

.cart-summary {
  margin-bottom: spacing();

  @include grid('desktop') {
    margin-bottom: spacing(2);
  }
}

.container {
  max-width: 1920px;
}

.form-title {
  text-transform: uppercase;
  font-weight: 700;
  color: var(--dark-gray);
  padding: spacing() 0 spacing();
  margin: 0;

  @include grid('desktop') {
    padding: 0 0 spacing(2);
  }
}

.cart-summary-table {
  background-color: var(--white);
  padding: 0;
  border-radius: $small-border-radius;

  @include grid('desktop') {
    padding: spacing(3);
  }
}

.cart-summary-head {
  display: none;
  border-bottom: 1px solid rgba($black, .15);

  @include grid('desktop') {
    display: block;
  }
}

.cart-summary-head-row {
  display: flex;
}

.col {
  &.col-1 {
    flex: 3;
  }

  &.col-2 {
    flex: 1;
  }

  &.col-3 {
    flex: 1;

    @include grid('desktop') {
      text-align: right;
    }
  }

  p {
    color: var(--medium-gray);
    font-weight: 700;
    text-transform: uppercase;
  }
}

.cart-summary-items {
  @include grid-container;
  background-color: var(--white);
  border: 1px solid var(--light-beige);
  margin-bottom: spacing();

  @include grid('desktop') {
    background-color: transparent;
    border: none;
    margin-bottom: spacing(2);
  }
}

.cart-summary-foot {
  @include grid-container;

  @include grid('desktop', $down: true) {
    display: flex;
    flex-direction: column;
  }
}

.cart-summary-body {
  @include grid-container;
  margin-bottom: spacing();

  @include grid('desktop', $down: true) {
    order: 2;
  }

  @include grid('desktop') {
    text-align: right;
    max-width: 400px;
    float: right;
  }

  p {
    padding: 0;
    margin: 0;
    color: var(--dark-green);
  }

  span {
    font-weight: 700;
  }
}

.cart-subtotal {
  @include grid-container;
  margin-bottom: spacing();

  p {
    @include grid('desktop') {
      display: inline-block;
    }
  }

  .label {
    text-transform: uppercase;
    float: left;

    @include grid('desktop') {
      float: left;
      text-align: left;
    }
  }

  .amount {
    font-weight: 700;
    float: right;

    @include grid('desktop') {
      padding-left: spacing(3);
      float: none;
    }
  }
}

.cart-extra {
  @include grid-container;
  margin-bottom: spacing();

  p {
    @include grid('desktop') {
      display: inline-block;
    }
  }

  .label {
    text-transform: uppercase;
    float: left;

    @include grid('desktop') {
      float: left;
      text-align: left;
    }

    span {
      @include plumber-size('p-medium');
      padding: 0 !important;
      margin: 0 !important;
      display: block;
      text-transform: unset;
      font-weight: 400;
    }
  }

  .amount {
    font-weight: 700;
    float: right;

    @include grid('desktop') {
      padding-left: spacing(3);
      float: none;
    }
  }
}

.cart-extra2 {
  @include grid-container;
  margin-top: spacing();
  margin-bottom: spacing();

  p {
    @include grid('desktop') {
      display: inline-block;
    }
  }

  .label {
    text-transform: uppercase;
    float: left;
    color: var(--green);

    @include grid('desktop') {
      float: left;
      text-align: left;
    }

    span {
      @include plumber-size('p-medium');
      padding: 0 !important;
      margin: 0 !important;
      display: block;
      text-transform: unset;
      font-weight: 400;
    }
  }

  .amount {
    font-weight: 700;
    float: right;

    @include grid('desktop') {
      padding-left: spacing(3);
      float: none;
    }
  }
}

.cart-total {
  @include grid-container;

  p {
    @include grid('desktop') {
      display: inline-block;
    }
  }

  .label {
    font-weight: 700;
    text-transform: uppercase;
    float: left;

    @include grid('desktop') {
      float: left;
      text-align: left;
    }
  }

  .amount {
    font-weight: 700;
    float: right;

    @include grid('desktop') {
      padding-left: spacing(3);
      float: none;
    }
  }
}
</style>
