<script>
export default {
  name: 'CheckoutPage',
}
</script>

<style lang="scss" scoped>
@import "assets/sass/_resources.scss";

.inner-container {
  @include grid('desktop-large') {
    max-width: 1200px;
    margin: 0 auto;
  }

  &.stretch {
    @include grid('desktop-large') {
      max-width: 1580px;
      display: grid;
      grid-gap: 5em;
      grid-template-columns: 2fr 1fr;
      align-items: flex-start;
      justify-content: flex-start;
    }

    .checkout-form {
      @include grid('desktop-large') {
        order: 1;
      }
    }

    .login-register-form {
      @include grid('desktop-large') {
        order: 2;
      }
    }
  }
}

.login-register-form {
  background-color: var(--white);
  transform: none !important;
  left: auto !important;
  width: 100%;
  margin-bottom: spacing(3);

  @include grid('tablet') {
    padding: spacing(3) !important;
  }

  @include grid('desktop-large') {
    padding: spacing(5) !important;
    margin-bottom: 0;
  }
}
</style>
