<template>
  <div class="checkout-form" v-appear.children="{enabled: $root.isLoaded}">
        <h3 class="title" id="top_error"  v-if="checkout.is_guest">Podaci neregistrirani kupac</h3>
    <el-form :model="formData" label-position="top" ref="form">
      <h6 class="form-title">{{ $labels.checkout.contactInfo }}</h6>

      <!-- Guest -->
      <div class="checkout-form-guest" v-if="checkout.is_guest">
        <el-form-item
          :label="$labels.form.email"
          prop="guest-email"
          :rules="[formRules.required, formRules.email, formRules.serverError]"
        >
          <el-input
            type="email"
            v-model="formData['guest-email']"
            @input="formClearServerError('guest-email')"
          ></el-input>
        </el-form-item>
        <el-form-item
          :label="$labels.form.phone"
          prop="guest-phone_number"
          :rules="[formRules.required, formRules.phoneNumber, formRules.serverError]"
        >
          <el-input
            v-model="formData['guest-phone_number']"
            @input="formClearServerError('guest-phone_number')"
          ></el-input>
        </el-form-item>
      </div>

      <!-- Customer -->
      <div class="checkout-form-customer" v-if="!checkout.is_guest">
        <div class="customer-info">
          <p>
            <strong>{{ $labels.checkout.hello }}</strong>
            , {{ checkout.initial['customer-email'] }}
          </p>
        </div>

        <el-form-item
          :label="$labels.form.phone"
          prop="customer-phone_number"
          :rules="[formRules.required, formRules.phoneNumber, formRules.serverError]"
        >
          <el-input
            v-model="formData['customer-phone_number']"
            @input="formClearServerError('customer-phone_number')"
          ></el-input>
        </el-form-item>
      </div>

      <h6 class="form-title">{{ $labels.checkout.billingAddress }}</h6>

      <!-- Billing address -->
      <div class="checkout-form-billing-address">
        <el-form-item
          :label="$labels.form.useExistantAddress"
          prop="billing-existant"
          :rules="[formRules.serverError]"
          v-if="!checkout.is_guest && checkout.existant_billing_addresses.length > 1"
        >
          <el-select
            v-model="formData['billing-existant']"
            :placeholder="$labels.form.selectOption"
            @change="populateExistantAddress('billing'); formClearServerError('billing-existant')"
          >
            <el-option
              v-for="choice in checkout.existant_billing_addresses"
              :key="choice[1]"
              :value="choice[0]"
              :label="choice[1]"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item
          :label="$labels.form.name"
          prop="billing-name"
          :rules="[formRules.required, formRules.serverError]"
        >
          <el-input
            v-model="formData['billing-name']"
            @input="formClearServerError('billing-name')"
          ></el-input>
        </el-form-item>
        <el-form-item
          :label="$labels.form.address"
          prop="billing-address1"
          :rules="[formRules.required, formRules.serverError]"
        >
          <el-input
            v-model="formData['billing-address1']"
            @input="formClearServerError('billing-address1')"
          ></el-input>
        </el-form-item>
        <!-- <el-form-item
          :label="`${$labels.form.address} 2`"
          prop="billing-address2"
          :rules="[formRules.serverError]"
        >
          <el-input
            v-model="formData['billing-address2']"
            @input="formClearServerError('billing-address2')"
          ></el-input>
        </el-form-item>-->
        <el-form-item
          :label="$labels.form.zipCode"
          prop="billing-zip_code"
          :rules="[formRules.required, formRules.serverError]"
        >
          <el-input
            v-model="formData['billing-zip_code']"
            @input="formClearServerError('billing-zip_code')"
          ></el-input>
        </el-form-item>
        <el-form-item
          :label="$labels.form.city"
          prop="billing-city"
          :rules="[formRules.required, formRules.serverError]"
        >
          <el-input
            v-model="formData['billing-city']"
            @input="formClearServerError('billing-city')"
          ></el-input>
        </el-form-item>
        <el-form-item
          :label="$labels.form.country"
          prop="billing-country"
          :rules="[formRules.required, formRules.serverError]"
        >
          <el-select
            v-model="formData['billing-country']"
            :placeholder="$labels.form.selectOption"
            filterable

            :no-match-text="$labels.form.noMatchText"
            @change="formClearServerError('billing-country')"
          >
            <el-option
              v-for="choice in checkout.countries"
              :key="choice[1]"
              :value="choice[0]"
              :label="choice[1]"
            ></el-option>
          </el-select>
        </el-form-item>

        <div class="row"></div>

        <el-form-item>
          <el-checkbox-group v-model="shipToDifferentAddress">
            <el-checkbox>{{ $labels.form.shipToDifferentAddress }}</el-checkbox>
          </el-checkbox-group>
        </el-form-item>
      </div>

      <div v-show="shipToDifferentAddress">
        <h6 class="form-title">{{ $labels.checkout.shippingAddress }}</h6>

        <!-- Extra billing address -->
        <div class="checkout-form-shipping-address">
          <el-form-item
            :label="$labels.form.useExistantAddress"
            prop="shipping-existant"
            :rules="[formRules.serverError]"
            v-if="!checkout.is_guest && checkout.existant_shipping_addresses.length > 1"
          >
            <el-select
              v-model="formData['shipping-existant']"
              :placeholder="$labels.form.selectOption"
              @change="populateExistantAddress('shipping'); formClearServerError('shipping-existant')"
            >
              <el-option
                v-for="choice in checkout.existant_shipping_addresses"
                :key="choice[1]"
                :value="choice[0]"
                :label="choice[1]"
              ></el-option>
            </el-select>
          </el-form-item>
          <el-form-item
            :label="$labels.form.name"
            prop="shipping-name"
            :rules="[requiredRuleShipping, formRules.serverError]"
          >
            <el-input
              v-model="formData['shipping-name']"
              @input="formClearServerError('shipping-name')"
            ></el-input>
          </el-form-item>
          <el-form-item
            :label="$labels.form.address"
            prop="shipping-address1"
            :rules="[requiredRuleShipping, formRules.serverError]"
          >
            <el-input
              v-model="formData['shipping-address1']"
              @input="formClearServerError('shipping-address1')"
            ></el-input>
          </el-form-item>
          <!-- <el-form-item
            :label="`${$labels.form.address} 2`"
            prop="shipping-address2"
            :rules="[formRules.serverError]"
          >
            <el-input
              v-model="formData['shipping-address2']"
              @input="formClearServerError('shipping-address2')"
            ></el-input>
          </el-form-item>-->
          <el-form-item
            :label="$labels.form.zipCode"
            prop="shipping-zip_code"
            :rules="[requiredRuleShipping, formRules.serverError]"
          >
            <el-input
              v-model="formData['shipping-zip_code']"
              @input="formClearServerError('shipping-zip_code')"
            ></el-input>
          </el-form-item>
          <el-form-item
            :label="$labels.form.city"
            prop="shipping-city"
            :rules="[requiredRuleShipping, formRules.serverError]"
          >
            <el-input
              v-model="formData['shipping-city']"
              @input="formClearServerError('shipping-city')"
            ></el-input>
          </el-form-item>
          <el-form-item
            :label="$labels.form.country"
            prop="shipping-country"
            :rules="[requiredRuleShipping, formRules.serverError]"
          >
            <el-select
              v-model="formData['shipping-country']"
              :placeholder="$labels.form.selectOption"
              filterable
              :no-match-text="$labels.form.noMatchText"
              @change="formClearServerError('shipping-country')"
            >
              <el-option
                v-for="choice in checkout.countries"
                :key="choice[1]"
                :value="choice[0]"
                :label="choice[1]"
              ></el-option>
            </el-select>
          </el-form-item>
        </div>
      </div>

      <!-- Delivery -->
      <h6 class="form-title">{{ $labels.checkout.deliveryInfo }} (<a href="#" @click.prevent="click" v-on:click="notHidden = !notHidden">Prikaži informacije</a>)</h6>

      <div class="checkout-form-delivery">
        <div class="delivery-info">
          <p class="subtitle">
            <span v-if="deliveryAddressCountry" >
              Izabrana država dostave:
              <span class="selected">{{ deliveryAddressCountryName }}</span>

            </span>
            <span v-else>Cijena dostave varira ovisno o izabiru države i regije u kojoj se nalazi:</span>

          </p>
          <div v-for="region in checkout.delivery_regions" :key="region.code"  v-if="!notHidden" >
            <p
              class="info"
              :class="{'disabled': deliveryAddressCountry && !isSelectedDeliveryRegion(region)}"

            >
              <span class="label">{{ region.label_short }}:</span>
              <span class="price">{{ region.flat_rate }}</span>
              <span class="help">(besplatno preko {{ region.free_treshold }})</span>
            </p>
          </div>
        </div>
      </div>

      <!-- Payment -->
      <h6 class="form-title">{{ $labels.checkout.paymentMethod }}</h6>

      <div class="checkout-form-payment">
        <el-form-item
          prop="payment-payment_modifier"
          :rules="[formRules.required, formRules.serverError]"
        >
          <el-radio-group
            v-model="formData['payment-payment_modifier']"
            @change="formClearServerError('payment-payment_modifier')"
          >
            <div class="item" v-for="payment in checkout.payment_methods" :key="payment[0]">
              <el-radio :label="payment[0]" v-if="payment[0] === 'pay-in-advance'">
                <p>
                  <span class="title">{{ $labels.checkout.payInAdvance }}</span>
                  <span class="help">{{ $labels.checkout.payInAdvanceHelp }}</span>
                </p>
              </el-radio>
              <!-- <el-radio
                :label="payment[0]"
                :disabled="!canPayOnDelivery"
                v-else-if="payment[0] === 'pay-on-delivery'">
                <p>
                  <span class="title">{{ payment[1] }}</span>
                  <span class="help" v-if="canPayOnDelivery">{{ $labels.checkout.payOnDeliveryHelp }}</span>
                  <span class="help" v-else>{{ $labels.checkout.payOnDeliveryHelpDisabled }}</span>
                </p>
              </el-radio>-->
              <el-radio :label="payment[0]" v-else-if="payment[0] === 'pay-on-delivery'">
                <p>
                  <span class="title">{{ payment[1] }}</span>
                  <!-- <span class="help" v-if="canPayOnDelivery">{{ $labels.checkout.payOnDeliveryHelp }}</span>
                  <span class="help" v-else>{{ $labels.checkout.payOnDeliveryHelpDisabled }}</span>-->
                  <span class="help">{{ $labels.checkout.payOnDeliveryHelp }}</span>
                </p>
              </el-radio>
              <el-radio :label="payment[0]" v-else-if="payment[0] === 'wspay'">
                <p>
                  <span class="title">{{ payment[1] }}</span>
                  <span class="help">{{ $labels.checkout.payWithWspayHelp }}</span>
                </p>
              </el-radio>
            </div>
          </el-radio-group>
        </el-form-item>
      </div>

      <!-- Extra -->
      <h6 class="form-title">{{ $labels.form.extraInfo }}</h6>

      <div class="checkout-form-extra">
        <el-form-item prop="extra-annotation" :rules="[formRules.serverError]">
          <el-input
            type="textarea"
            :rows="10"
            :placeholder="$labels.form.extraInfoPlaceholder"
            v-model="formData['extra-annotation']"
            @input="formClearServerError('extra-annotation')"
          ></el-input>
        </el-form-item>
      </div>

      <div class="checkout-form-summary">
        <cart-summary></cart-summary>
      </div>

      <!-- Accept -->
      <div class="checkout-form-accept">
        <el-form-item prop="accept-accept" :rules="[formRules.isTrue, formRules.serverError]">
          <el-checkbox-group
            v-model="formData['accept-accept']"
            @change="formClearServerError('accept-accept')"
          >
            <el-checkbox>
              <span v-html="$labels.form.acceptConditions"></span>
            </el-checkbox>
          </el-checkbox-group>
        </el-form-item>
      </div>

      <div class="row"></div>

      <el-tooltip
        :content="$labels.checkout.selectPayment"
        :disabled="!!this.formData['payment-payment_modifier']"
      >
        <button
          class="submit"
          :class="{'disabled': formDisabled || !this.formData['payment-payment_modifier']}"
          @click.prevent="formSubmit"
        >
          <span
            v-if="formData['payment-payment_modifier'] === 'wspay'"
          >{{ $labels.checkout.submitContinue }}</span>
          <span v-else>{{ $labels.checkout.submitConfirm }}</span>
        </button>
      </el-tooltip>
    </el-form>
  </div>
</template>

<script>
import _ from "lodash/core";
import get from "lodash/get";
import clone from "lodash/clone";
import includes from "lodash/includes";
import Cookies from "js-cookie";
import qs from "qs";
import { mapState } from "vuex";

import formMixin from "../../mixins/form-mixin.js";

export default {
  name: "CheckoutForm",
  mixins: [formMixin],
  props: {
    checkoutData: { type: String, required: true }
  },
  data() {
    return {
      customer: null,
     // deliveryAddressCountry:'HR',
      //formData['billing-country']
      notHidden:true,


    };
  },
  computed: {
    ...mapState("cart", ["status"]),
    formActionUrl() {
      return this.$config.shop.urls.checkout;
    },
    formDataFormated() {
      var data = clone(this.formData);
      if (data.hasOwnProperty("billing-existant") && data["billing-existant"]) {
        data["billing-existant"] = String(data["billing-existant"])
          .replace(".", "")
          .replace(".", "");
      }
      if (
        data.hasOwnProperty("shipping-existant") &&
        data["shipping-existant"]
      ) {
        data["shipping-existant"] = String(data["shipping-existant"])
          .replace(".", "")
          .replace(".", "");
      }
      return data;
    },
    checkout() {
      return JSON.parse(this.checkoutData);
    },

    // Special rules.
    requiredRuleShipping() {
      return this.shipToDifferentAddress
        ? this.formRules.required
        : { required: false };
    },

    // Flip real value.
    shipToDifferentAddress: {
      get() {
        return !this.formData["shipping-use_primary_address"];
      },
      set(value) {
        this.$set(this.formData, "shipping-use_primary_address", !value);
      }
    },

    shippingAddressSummary() {
      return this.getAddressSummary("shipping");
    },
    billingAddressSummary() {
      return this.getAddressSummary("billing");
    },

    deliveryAddressCountry() {
      if(this.shipToDifferentAddress){
        if(this.formData["shipping-country"]) {
          return this.formData["shipping-country"];
          }else {
            return 'HR';
          };
      }else{
        if(this.formData["billing-country"]) {
          return  this.formData["billing-country"];
        }  else{
            return '';
        }
      }
    },
    deliveryAddressCountryName() {
      if (!this.deliveryAddressCountry) return 'HR';
      let country = _.find(
        this.checkout.countries,
        x => x[0] === this.deliveryAddressCountry
      );
      return country ? country[1] : 'Croatia';
    },
    canPayOnDelivery() {
      return this.deliveryAddressCountry === "HR";
    }
  },
  watch: {
    deliveryAddressCountry(newValue) {
      let postData = qs.stringify({ country_code: newValue });
      this.axios
        .post(this.$config.shop.urls.deliveryUpdate, postData)
        .then(response => {
          this.$store.dispatch("cart/fetch");
        });
    },
    canPayOnDelivery() {
      this.$set(this.formData, "payment-payment_modifier", null);
    }
  },
  created() {
    // Set initial data.
    this.formData = _.clone(this.checkout.initial);
    this.formData['billing-country']="HR";
    this.formData['shipping-country']="HR";
    this.formData['guest-phone_number']="+385";
    //this.deliveryAddressCountry="HR";
    if (!this.checkout.is_guest) {
      if (!this.formData["customer-salutation"])
        this.formData["customer-salutation"] = _.last(
          this.checkout.salutations
        )[0];
    }
    this.formData["delivery-shipping_modifier"] = "gls-shipping";

    // Fetch customer.
    let params = { format: "json" };
    this.axios
      .get(this.$config.account.urls.detail, { params })
      .then(response => {
        this.customer = response.data;
        let fullName = `${this.customer.first_name || ""} ${this.customer
          .last_name || ""}`.trim();
        if (fullName) {
          if (!this.formData["billing-name"])
            this.formData["billing-name"] = fullName;
          if (!this.formData["shipping-name"])
            this.formData["shipping-name"] = fullName;
        }
      });
  },
  methods: {
    formSuccess(data) {
      try {
        eval(data.expression);
      } catch (e) {
        // jshint ignore:line
        let el = document.getElementById("top_error");
        console.log(JSON.stringify(el));
        el.scrollIntoView();
        this.$message({ message: e.message, type: "error" });
      }
    },
    populateExistantAddress(kind) {
      let addressFields = [
        "address1",
        "address2",
        "city",
        "country",
        "name",
        "zip_code"
      ];
      let existantId = this.formData[`${kind}-existant`];
      let existant = _.find(this.customer[`${kind}_addresses`], {
        id: existantId
      });
      _.each(addressFields, name => {
        let value = existant ? get(existant, name, null) : null;
        this.$set(this.formData, `${kind}-${name}`, value);
      });
      // Set priority.
      this.$set(
        this.formData,
        `${kind}-priority`,
        existant ? get(existant, "priority", null) : null
      );
    },
    getAddressSummary(kind) {
      return _.filter(
        [
          this.formData[`${kind}-name`],
          this.formData[`${kind}-address1`],
          this.formData[`${kind}-address2`],
          this.formData[`${kind}-zip_code`],
          this.formData[`${kind}-city`],
          this.formData[`${kind}-country`]
        ],
        _.identity
      ).join("<br>");
    },
    isSelectedDeliveryRegion(region) {
      return includes(region.country_codes, this.deliveryAddressCountry);
    }
  }
};
</script>


<style lang="scss" scoped>
@import "assets/sass/_resources.scss";

.checkout-form {
  position: relative;
  z-index: 1;
  overflow: hidden;
  margin-bottom: spacing(4);

  @include grid("desktop") {
    margin-bottom: spacing(8);
  }

  > * {
    @extend %appear-text;
  }
}

.form-title {
  text-transform: uppercase;
  font-weight: 700;
  color: var(--dark-gray);
  padding: spacing() 0 spacing();
  margin: 0;

  @include grid("desktop") {
    padding: 0 0 spacing(2);
  }
}

.customer-info {
  color: var(--dark-gray);
  margin-bottom: spacing(2);

  @include grid("desktop") {
    margin-left: 30px;
  }
}

.checkout-form-guest,
.checkout-form-customer,
.checkout-form-billing-address,
.checkout-form-shipping-address {
  @include grid-container;
  border-bottom: 1px solid rgba($black, 0.15);
  margin-bottom: spacing();

  @include grid("desktop") {
    @include grid-collapse;
    margin-bottom: spacing(2);
  }

  .el-form-item {
    @include grid("desktop") {
      @include grid-column(6);
    }
  }
}

.checkout-form-payment {
  .el-radio-group {
    @include grid("desktop") {
      @include grid-collapse;
      margin-bottom: spacing(2);
    }

    .item {
      margin-bottom: spacing(2);

      @include grid("desktop") {
        @include grid-column(6);
        margin-bottom: 0;
      }
    }
  }
}

.checkout-form-accept {
  display: inline-block;
  margin-bottom: spacing();
}

.submit {
  @extend %button;

  @include grid("desktop", $down: true) {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}

.checkout-form-delivery {
  padding-bottom: spacing(2);
  margin-bottom: spacing(2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);

  @include grid("desktop") {
    margin-bottom: spacing(2);
    padding-bottom: spacing(2);
  }
}

.delivery-info {
  background-color: var(--white);
  border: 1px solid var(--light-beige);
  padding: spacing() spacing() 0;

  p {
    @include plumber-size("p-small");
    color: var(--dark-green);
    padding: 0 0 spacing() !important;
    margin: 0 !important;

    &:last-child {
      padding: 0;
    }
  }

  .subtitle {
    @include plumber-size("p");
    font-weight: 500;
    padding: 0 0 spacing() !important;
    margin: 0 !important;
  }

  .disabled {
    opacity: 0.3;
  }

  .selected {
    font-weight: 700;
    color: var(--green);
  }
}
</style>
