<template>
  <div class="mini-cart">
    <span class="mini-cart-drawer-bg" @click.prevent="show = false" :class="{'mini-cart-drawer-bg--open': show}"></span>

    <div class="mini-cart-drawer" :class="{'mini-cart-drawer--open': show}">
      <div class="mini-cart-wrapper">
        <a href="javascript:void(0)" @click.prevent="show = false" class="mini-cart-close"></a>
        <h5 class="mini-cart-title">{{ $labels.cart.title }}</h5>

        <div class="empty" v-if="numItems === 0">
          <p class="empty-text">{{ $labels.cart.isEmpty }}.</p>
          <a href="#" class="empty-button" @click.prevent="close">{{ $labels.shop.continueShopping }}</a>
        </div>

        <div class="mini-cart-table">
          <mini-cart-item
            v-for="item in items"
            :key="item.product_code"
            :item="item">
          </mini-cart-item>
        </div>

        <div class="mini-cart-totals" v-if="numItems > 0">
          <div class="cart-subtotal">
            <p class="label">{{ $labels.cart.subtotal }}</p>
            <p class="amount">{{ subtotal }}</p>
          </div>

          <div class="cart-extra" v-for="extra in extraRows" :key="extra.label">
            <p class="label">{{ extra.label }}<span v-if="extra.code"> ({{ extra.code }})</span></p>
            <p class="amount">{{ extra.amount }}</p>
          </div>

          <div class="cart-total">
            <p class="label">{{ $labels.cart.totalToPay }}</p>
            <p class="amount">{{ total }}</p>
          </div>
        </div>

        <div class="mini-cart-actions" v-if="numItems > 0">
          <a :href="$config.shop.urls.cart"  class="view-cart">{{ $labels.cart.cart }}</a>
          <a :href="$config.shop.urls.checkout" class="view-checkout">{{ $labels.checkout.checkout }}</a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'

import MiniCartItem from './MiniCartItem'

export default {
  name: 'MiniCart',
  components: {
    MiniCartItem
  },
  computed: {
    ...mapState('cart', [
      'items',
      'numItems',
      'subtotal',
      'total',
      'extraRows',
      'params',
    ]),
    show: {
      get () { return this.$root.showMiniCart },
      set (value) { this.$root.showMiniCart = value }
    }
  },
  watch: {
    show (newValue) {
      this.$root.disableScroll = newValue
    },
  },
  created () {
    if (this.params == this.$config.shop.cartParams) {
      this.$store.commit('cart/setParams', this.$config.shop.cartPramsDetail)
    }
  },
  mounted() {
    document.addEventListener('keydown', (event) => {
      if (event.keyCode === 27) this.close()
    })
  },
  methods: {
    close () { this.show = false },
  }
}
</script>


<style lang="scss" scoped>
@import "assets/sass/_resources.scss";

.mini-cart-drawer {
  @include trans((visibility, opacity, transform));
  background-color: var(--white);
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  position: relative;
  overflow-y: scroll;
  height: 100%;

  @include grid('desktop', $down: true) {
    @include position(fixed, 0);
  }

  @include grid('desktop') {
    position: fixed;
    right: 0;
    transform: translateX(100%);
    top: 0;
    box-shadow: $base-box-shadow;
  }
}

.mini-cart-drawer--open {
  opacity: 1;
  visibility: visible;
  z-index: 2;

  @include grid('desktop') {
    transform: none;
  }
}

.mini-cart-drawer-bg {
  @include position(fixed, 0);
  display: none;
  opacity: 0;
  visibility: hidden;
  background-color: rgba($black, .5);

  @include grid('desktop') {
    display: block;
  }
}

.mini-cart-drawer-bg--open {
  opacity: 1;
  visibility: visible;
  z-index: 2;
}

.mini-cart-wrapper {
  padding: spacing(2) $edge;
  position: relative;

  @include grid('desktop', $down: true) {
    overflow-y: scroll;
    height: 100%;
  }

  @include grid('desktop') {
    padding: spacing(3) spacing(3);
    min-width: 398px;
  }
}

.mini-cart-title {
  font-size: modular-scale(2);
  padding: 0;
  margin: 0 0 spacing(2);
  display: inline-block;

  @include grid('desktop') {
    margin: 0 0 spacing(2);
  }
}

.mini-cart-close {
  @include trans(opacity);
  position: absolute;
  padding: spacing(2);
  right: 0;
  top: 0;
  color: var(--black);
  font-weight: 700;

  @include icon('icon-Close');

  @include grid('desktop') {
    padding: spacing(3);
    top: spacing(.5);
  }

  &:hover {
    opacity: .5;
  }
}

.empty-button {
  @extend %button;
}

.mini-cart-table {
  border-collapse: collapse;
  width: 100%;
}

.mini-cart-item {
  border-bottom: 1px solid rgba(black, .15);
}

.mini-cart-totals {
  @include grid-container;
}

.cart-subtotal {
  @include grid-container;
  padding-bottom: spacing();
}

.label {
  color: var(--dark-gray);
  text-transform: uppercase;
  float: left;
  padding: 0;
  margin: 0;
}

.amount {
  color: var(--dark-gray);
  float: right;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

.cart-extra {
  @include grid-container;
  padding-bottom: spacing();
  margin-bottom: spacing();
  border-bottom: 1px solid rgba($black, .15);

  .label-extra {
    @include plumber-size('p-small');
    padding: 0 !important;
    margin: 0 !important;
    display: block;
    text-transform: none;
  }

  .label {
    @include plumber-size('p-small');
    padding: 0 !important;
    margin: 0 !important;
    padding-right: spacing() !important;
    position: relative;
    top: 4px;
  }
}

.cart-total {
  @include grid-container;
  padding-bottom: spacing(3);

  .label {
    font-weight: 700;
  }
}

.mini-cart-actions {
  @include grid-container;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr 1fr;
  margin-bottom: spacing(2);

  a {
    min-width: 140px;

    @include grid('mobile-large') {
      padding: spacing(1.5);
    }
  }
}

.view-cart {
  @extend %button-transparent;
}

.view-checkout {
  @extend %button;
}
</style>
