<template>
  <div class="shopping-cart" v-appear="{enabled: $root.isLoaded}">
    <div class="shopping-cart-empty" v-if="numItems === 0">
      <p class="shopping-cart-empty-title">{{ $labels.cart.isEmpty }}</p>
      <a :href="$config.catalog.urls.products" class="continue-shopping">{{ $labels.shop.continueShopping }}</a>
    </div>

    <div class="shopping-cart-table" v-if="numItems > 0">
      <div class="shopping-cart-head">
        <div class="shopping-cart-head-row">
          <div class="col col-1"><p>{{ $labels.cart.product }}</p></div>
          <div class="col col-2"><p>{{ $labels.cart.quantity }}</p></div>
          <div class="col col-3"><p>{{ $labels.cart.price }}</p></div>
          <div class="col col-4"><p>{{ $labels.cart.total }}</p></div>
        </div>
      </div>

      <div class="shopping-cart-items">
        <shopping-cart-item
          v-for="item in items"
          :key="item.product_code"
          :item="item"
          :cart-disabled="disabled">
        </shopping-cart-item>
      </div>

      <div class="shopping-cart-foot">
        <div class="shopping-cart-body">
          <div class="cart-subtotal">
            <p class="label">{{ $labels.cart.subtotal }}</p>
            <p class="amount">{{ subtotal }}</p>
          </div>

          <div class="cart-extra" v-for="extra in extraRows" :key="extra.label">
            <p class="label">{{ extra.label }}<span v-if="extra.code"> ({{ extra.code }})</span></p>
            <p class="amount">{{ extra.amount }}</p>
          </div>

          <div class="cart-total">
            <p class="label">{{ $labels.cart.totalToPay }}</p>
            <p class="amount"><span>{{ total }}</span></p>
          </div>
          <div class="cart-extra2" v-if="isFreeDelivery">
            <p class="label">Ostvarili ste besplatnu dostavu!</p>

          </div>
          <div class="cart-extra2" v-if="!isFreeDelivery">
            <p class="label">Do besplatne dostave</p>
            <p class="amount"><span>{{ restForDelivery }},00 kn</span></p>
          </div>
        </div>

        <div class="shopping-cart-promo-code" v-if="numItems > 0">
          <el-form :model="formData" ref="form">
            <el-form-item :label="$labels.cart.promoCode" prop="code" :rules="[{validator: validateCode, trigger: 'change'}]">
              <el-input v-model.trim="formData.code" class="promo-code-input"></el-input>
            </el-form-item>
            <button class="submit" :class="{'disabled': disabled}" @click.prevent="refreshCart">
              <span v-if="formData.code">{{ $labels.cart.applyCode }}</span>
              <span v-else>{{ $labels.cart.refresh }}</span>
            </button>
          </el-form>
        </div>

        <div class="shopping-cart-actions">
          <a href="#" class="empty" :class="{'disabled': disabled}" @click.prevent="emptyCart">{{ $labels.cart.empty }}</a>
          <a :href="$config.shop.urls.checkout" class="proceed" :class="{'disabled': disabled}" @click="disabled = true">{{ $labels.shop.proceedToCheckout }}</a>
        </div>
      </div>


    </div>
  </div>
</template>

<script>
import _ from 'lodash/core'
import get from 'lodash/get'
import debounce from 'lodash/debounce'
import qs from 'qs'
import { mapState } from 'vuex'

import ShoppingCartItem from "./ShoppingCartItem";

export default {
  name: "ShoppingCart",
  components: {
    ShoppingCartItem
  },
  props: {
    editable: {type: Boolean, default: false}
  },
  data() {
    return {
      disabled: false,
      //restForDelivery:0,
      formData: {},
    };
  },
  computed: {
    ...mapState('cart', [
      'items',
      'numItems',
      'subtotal',
      'total',
      'extraRows',
      'params',
    ]),
    isFreeDelivery(){

      if(parseFloat(this.subtotal)>299){
        return true;
      }else{
        return false;
      }
    },
    restForDelivery(){
      let temp=300-parseFloat(this.subtotal);
      return temp;
    },
  },
  created () {
    if (this.params == this.$config.shop.cartParams) {
      this.$store.commit('cart/setParams', this.$config.shop.cartPramsDetail)
    }
  },
  methods: {
    validateCode: debounce(function (rule, value, callback) {
      if (value && value.length) {
        let data = qs.stringify({'code': value, 'validate': true})
        this.axios.post(this.$config.shop.urls.cart, data)
          .then(response => callback())
          .catch(error => callback(new Error(error.response.data['code'][0])))
      }
    }, 500),
    refreshCart () {
      if (this.disabled) return
      this.disabled = true
      this.loadingInstance = this.$loading({target: this.$el})
      this.axios.post(this.$config.shop.urls.cart, qs.stringify(this.formData))
        .then(response => {
          this.$store.dispatch('messages/fetch')
          this.$store.dispatch('cart/fetch')
        })
        .catch(error => {
          _.delay(() => {
            this.$message({message: error.response.data['code'][0], type: 'error'})
            this.disabled = false
            this.loadingInstance.close()
          }, 500)
        })
    },

    emptyCart () {
      if (this.disabled) return
      this.disabled = true
      this.loadingInstance = this.$loading({target: this.$el})
      this.axios.post(this.$config.shop.urls.cartEmpty).then(response => {
        this.$store.dispatch('messages/fetch')
        this.$store.dispatch('cart/fetch')
      })
    }
  }
};
</script>

<style lang="scss" scoped>
@import "assets/sass/_resources.scss";

.shopping-cart {
  @extend %appear-text;
  max-width: 1200px;
  margin: 0 auto;
}

.continue-shopping {
  @extend %button;
  margin-bottom: spacing(2);
}

.shopping-cart-head {
  display: none;
  border-bottom: 1px solid rgba($black, .15);

  @include grid('desktop') {
    display: block;
  }
}

.shopping-cart-head-row {
  display: flex;
}

.col {
  &.col-1 {
    flex: 3;
  }

  &.col-2 {
    flex: 1;
  }

  &.col-3 {
    flex: 2;
  }

  &.col-4 {
    flex: 1;

    @include grid('desktop') {
      text-align: right;
    }
  }

  p {
    color: var(--medium-gray);
    font-weight: 700;
    text-transform: uppercase;
  }
}

.shopping-cart-items {
  @include grid-container;
  background-color: var(--white);
  border: 1px solid var(--light-beige);
  margin-bottom: spacing();

  @include grid('desktop') {
    background-color: transparent;
    border: none;
    margin-bottom: spacing(2);
  }
}

.shopping-cart-foot {
  @include grid-container;

  @include grid('desktop', $down: true) {
    display: flex;
    flex-direction: column;
  }

  @include grid('desktop') {
    margin-bottom: spacing(4);
  }
}

.shopping-cart-promo-code {
  @include grid-container;
  margin-bottom: spacing();
  text-transform: uppercase;

  @include grid('desktop', $down: true) {
    order: 1;
  }

  @include grid('desktop') {
    margin-bottom: 0;
    width: 50%;
    float: left;
  }

  .el-form {
    .el-form-item {
      @include grid('desktop') {
        display: inline-block;
        margin-bottom: 0;
      }
    }

    .submit {
      @include grid('desktop') {
        display: inline-block;
        width: auto;
        min-width: 250px;
        margin-left: spacing();
      }
    }
  }
}

.submit {
  @extend %button-white;
}

.shopping-cart-body {
  @include grid-container;
  text-align: right;
  margin-bottom: spacing();

  @include grid('desktop', $down: true) {
    order: 2;
  }

  p {
    padding: 0;
    margin: 0;
    color: var(--dark-green);
  }

  span {
    font-weight: 700;
  }
}

.cart-subtotal {
  margin-bottom: spacing();

  p {
    @include grid('desktop') {
      display: inline-block;
    }
  }

  .label {
    text-transform: uppercase;

    @include grid('desktop') {
      text-transform: unset;
    }
  }

  .amount {
    @include grid('desktop') {
      padding-left: spacing(3);
    }
  }
}

.cart-extra {
  margin-bottom: spacing();

  p {
    @include grid('desktop') {
      display: inline-block;
    }
  }

  .label {
    text-transform: uppercase;

    @include grid('desktop') {
      text-transform: unset;
    }
  }

  .amount {
    @include grid('desktop') {
      padding-left: spacing(3);
    }
  }
}
.cart-extra2 {
  margin-top: spacing(1);
  margin-bottom: spacing(1);

  p {
    @include grid('desktop') {
      display: inline-block;
    }
  }

  .label {
    text-transform: uppercase;
    color: var(--green);

    @include grid('desktop') {
      text-transform: unset;
    }
  }

  .amount {
    @include grid('desktop') {
      padding-left: spacing(3);
    }
  }
}
.cart-total {
  p {
    @include grid('desktop') {
      display: inline-block;
    }
  }

  .label {
    font-weight: 700;
    text-transform: uppercase;
  }

  .amount {
    @include grid('desktop') {
      padding-left: spacing(3);
    }
  }
}

.shopping-cart-actions {
  @include grid-container;

  @include grid('desktop', $down: true) {
    order: 3;
  }

  @include grid('desktop') {
    width: 50%;
    float: left;
    margin-top: spacing(2);
    text-align: right;
  }

  a {
    display: block;
  }
}

.empty {
  @extend %button-white;
  margin-bottom: spacing();
  display: block;

  @include grid('desktop') {
    margin-bottom: 0;
    display: inline-block !important;
    min-width: 250px;
    width: auto;
  }
}

.proceed {
  @extend %button;
  color: var(--dark-gray);
  margin-bottom: spacing(3);
  display: block;

  @include grid('desktop') {
    display: inline-block !important;
    min-width: 250px;
    width: auto;
    margin-bottom: 0;
    margin-left: spacing();
  }

  &:hover {
    background-color: var(--white);
    color: var(--dark-gray);
    border-color: var(--lighter-gray);
  }
}

.shopping-cart-bottom {
  @include grid-container;
}

.distributor {
  @extend %button-green;

  @include grid('desktop', $down: true) {
    width: 100%;
  }

  @include grid('desktop') {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  &:hover {
    background-color: var(--white);
    color: var(--dark-gray);
    border-color: var(--lighter-gray);
  };
}
</style>
