<template>
  <div class="shopping-cart-item">

    <div class="shopping-cart-item-row">
      <div class="shopping-cart-item-wrapper">
        <a
          href="#"
          class="cart-quantity"
          :class="{'disabled': isDisabled}"
          :key="`${item.product}-${item.quantity}`"
          @click.prevent="update(item.quantity * -1)"
          v-if="item.quantity > 0">
          <span>X</span>
        </a>

        <div class="cart-image-with-text">
          <div class="image">
            <a :href="product.url">
              <img :src="previewImage.url_cart" :alt="previewImage.label" width="60" height="95" v-if="previewImage">
            </a>
          </div>
          <div class="text">
            <a :href="product.url">
              <p class="name">
                {{ product.name }}
                <span v-for="flag in product.flags" :key="flag.id">{{ flag.code }}</span>
              </p>
            </a>
          </div>
        </div>

        <div class="quantity">
          <a href="#" :class="{'disabled': isDisabled}" @click.prevent="update(-1)">-</a>
          <span>{{ item.quantity }}</span>
          <a href="#" :class="{'disabled': isDisabled, 'not-available': !isAvailable}" @click.prevent="update(1)">+</a>
        </div>
        <div class="price-desktop">
          <p>{{ product.price }}</p>
        </div>
        <div class="total">
          <p>{{ lineSubtotal }}</p>
        </div>
      </div>

      <div class="row-extra" v-if="item.discount">
        <p class="label">{{ $labels.cart.discount }}<span>:</span></p>
        <p class="amount">-{{ item.discount }} kn</p>
      </div>

      <div class="row-total" v-if="item.discount">
        <p class="label">{{ $labels.cart.total }}<span>:</span></p>
        <p class="amount">{{ item.line_total }} kn</p>
      </div>
    </div>
  </div>
</template>

<script>
import cartItemMixin from '../../mixins/shop/cart-item-mixin'

export default {
  name: 'ShoppingCartItem',
  mixins: [cartItemMixin],
}
</script>

<style lang="scss" scoped>
@import "assets/sass/_resources.scss";

.shopping-cart-item {
  padding-bottom: spacing();
  border-bottom: 1px solid rgba(black, .15);
  margin-bottom: spacing();
  padding: spacing();

  @include grid('desktop') {
    padding: spacing() 0;
  }

  &:last-child {
    @include grid('desktop', $down: true) {
      margin-bottom: 0;
      border-bottom: none;
    }
  }
}

.shopping-cart-item-row {
  @include grid-container;
}

.shopping-cart-item-wrapper {
  @include grid-container;

  @include grid('desktop') {
    display: flex;
    align-items: center;
  }
}

.cart-quantity {
  @include trans(opacity);
  @include size(23px);
  @include plumber-size('p-ultra-small');
  position: relative;
  color: var(--dark-gray);
  background-color: var(--discount-red);
  border-radius: $small-border-radius;
  display: block;
  margin-right: spacing();

  &:hover {
    opacity: .75;
  }

  span {
    position: absolute;
    color: var(--white);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
  }
}

.cart-image-with-text {
  align-items: center;
  display: flex;
  flex-wrap: wrap;

  @include grid('desktop', $down: true) {
    margin-bottom: spacing();
  }

  @include grid('desktop') {
    flex: 3;
  }
}

.image {
  @include trans(opacity);

  @include grid('mobile-large') {
    margin-right: spacing();
  }

  @include grid('desktop', $down: true){
    width: 116px;
  }

  &:hover {
    opacity: .75;
  }

  img {
    @include grid('desktop', $down: true){
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.text {
  @include grid('mobile-large', $down: true) {
    flex: 1;
    text-align: right;
  }

  p {
    @include plumber-size('p-small');
    padding: 0 !important;
    margin: 0 !important;

    @include grid('desktop') {
      @include plumber-size('p');
      padding: 0 !important;
      margin: 0 !important;
    }
  }

  span {
    color: var(--dark-gray);
    font-weight: 400;
  }
}

.name {
  @include trans(color);
  font-weight: 700;
  color: var(--green);

  &:hover {
    color: $action-color;
  }

  span {
    padding-right: spacing(.25);
  }
}

.quantity {
  position: relative;
  display: inline-block;

  @include grid('mobile-large', $down: true) {
    // float: left;
  }

  @include grid('mobile-large') {
    margin-right: spacing();
  }

  @include grid('desktop') {
    flex: 1;
  }

  a {
    @include trans;
    position: relative;
    background-color: var(--white);
    display: inline-block;
    color: var(--dark-gray);
    border: 1px solid var(--beige);
    padding: spacing(.5) spacing(.75);
    margin-right: spacing(.25);

    &:hover {
      background-color: var(--orange);
      border-color: var(--orange);
      color: var(--black);
    }
  }

  span {
    position: relative;
    background-color: var(--white);
    display: inline-block;
    color: var(--dark-gray);
    border: 1px solid var(--beige);
    padding: spacing(.5) spacing(.75);
    margin-right: spacing(.25);
  }
}

.price-desktop {
  display: none;
  color: var(--dark-green);
  padding: 0;
  margin: 0;

  @include grid('desktop') {
    display: block;
    flex: 2;
  }
}

.total {
  display: inline-block;

  @include grid('desktop') {
    flex: 1;
    text-align: right;
  }

  p {
    color: var(--dark-green);
    padding: 0;
    margin: 0;
  }
}

.row-extra {
  margin-top: spacing();

  @include grid('desktop') {
    text-align: right;
  }

  p {
    padding: 0;
    margin: 0;
    color: var(--dark-green);
    text-transform: none;

    @include grid('desktop') {
      display: inline-block;
    }
  }

  .amount {
    @include grid('desktop') {
      padding-left: spacing(3);
    }
  }

  span {
    @include grid('desktop') {
      display: none;
    }
  }
}

.row-total {
  margin-top: spacing();

  @include grid('desktop') {
    text-align: right;
  }

  p {
    padding: 0;
    margin: 0;
    color: var(--dark-green);

    @include grid('desktop') {
      display: inline-block;
    }
  }

  .amount {
    font-weight: 700;

    @include grid('desktop') {
      padding-left: spacing(3);
    }
  }

  span {
    @include grid('desktop') {
      display: none;
    }
  }
}
</style>
