<script>
export default {
  name: 'ShopThanks',
}
</script>

<style lang="scss" scoped>
@import "assets/sass/_resources.scss";

.shop-thanks {
  margin-bottom: spacing(4);

  @include grid('desktop') {
    margin-bottom: spacing(8);
  }
}

.container {
  max-width: 900px;
}

.account-order-detail {
  padding: spacing();
  margin-bottom: spacing();

  @include grid('desktop') {
    padding: spacing(3);
    margin-bottom: spacing(2);
  }
}

.thanks-details {
  padding: 0;
  margin: 0;
}

.thanks-continue {
  padding: 0;
  margin: 0;
}
</style>
