{% extends "shopit/base.html" %}
{% load i18n  shop_tags shopit_tags shopit_extra thumbnail %}

{% block title %}{% trans "Cart" %}{% endblock %}
{% block page_title %}{% trans "Cart" %}{% endblock %}
{% block og_title %}{% trans "Cart" %}{% endblock %}

{% block content_class %}{{ block.super }} content-account{% endblock %}

{% block content %}
  <div class="cart-page">
    <div class="container">
      <shopping-cart></shopping-cart>

    </div>
  </div>
{% endblock %}
