{% extends "shopit/base.html" %}
{% load i18n shop_tags shopit_extra %}

{% block title %}{% trans "Checkout" %}{% endblock %}
{% block page_title %}{% trans "Checkout" %}{% endblock %}
{% block og_title %}{% trans "Checkout" %}{% endblock %}

{% block content_class %}{{ block.super }} content-account{% endblock %}

{% block content %}
  <checkout-page inline-template>
    <div class="checkout-page">
      <div class="container">
        <div class="inner-container {% if not customer.is_authenticated %}stretch{% endif %}">

          {% if not customer.is_authenticated %}
            <login-register-form title="{% trans 'Korisnički račun' %}"></login-register-form>
          {% endif %}

          {% get_serialized_checkout as checkout %}

          <checkout-form :checkout-data="'{{ checkout|rest_json|escapejs }}'"></checkout-form>
        </div>
      </div>
    </div>
  </checkout-page>
{% endblock %}
