{% extends "shopit/base.html" %}
{% load i18n cms_tags shopit_tags utils_text %}

{% block title %}{% trans "Thank you for your purchase" %}{% endblock %}
{% block og_title %}{% trans "Thank you for your purchase" %}{% endblock %}

{% block head_image_with_content %}
  <div class="head-content-shop-thanks">
    <h1 class="head-title">{% block page_title %} {% trans "Zahvaljujemo se na kupnji!" %}  {% endblock %}</h1>

    {% include "svg/thanks.svg" %}
  </div>
{% endblock %}

{% block content %}
  <shop-thanks inline-template>
    <div class="shop-thanks">
      <div class="container">
        <account-order-detail inline-template>
          <div class="account-order-detail">
            {% order order %}
          </div>
        </account-order-detail>

        <p class="thanks-details">{% blocktrans with email=order.customer.email trimmed %}
          Detaljne informacije o narudžbi poslane su na email adresu. <strong>{{ email }}</strong>
        {% endblocktrans %}</p>

        {% if customer.is_registered %}
          {% url 'shopit-account-order-list' as account_order_list_url %}
          <p class="thanks-continue">{% blocktrans with link=account_order_list_url|default:"#" %}Pratite Vaše narudžbe <a href="{{ link }}">ovdje</a>.{% endblocktrans %}</p>
        {% else %}
          {% url 'shopit-account-login' as login_url %}
          <p class="thanks-continue">{% blocktrans with link=login_url|default:"#" %}<a href="{{ link }}">Prijavite se</a> da bi ste pratili Vaše narudžbe.{% endblocktrans %}</p>
        {% endif %}
      </div>
    </div>
  </shop-thanks>
{% endblock %}
