{% load cms_tags i18n static %}

<home-form-links inline-template>
  <div class="home-form-links" v-appear="{enabled: $root.isLoaded}">
    <div class="container">
      <div class="wrapper" v-appear.children="{enabled: $root.isLoaded}">
        <a href="{% page_url 'dealership' as dealership_url %}{{ dealership_url }}" class="agent-form-link">
          <div class="hexagon-wrapper-link">
            <span class="icon"></span>
            <div class="outer-layer">
              <div class="inner-layer">
              </div>
            </div>
          </div>
          <h4 class="title">{% trans "Postani naš zastupnik" %}</h4>
          <p class="description">{% trans "Postanite zastupnik naših zdravih proizvoda u Vašoj lokalnoj zajednici" %}</p>
        </a>
        <div class="image">
          <div class="hexagon-wrapper-image">
            {% comment %}
            <span class="bg"></span>
            {% endcomment %}
            <img src="{% static 'images/honey-homepage.png' %}">
            <div class="outer-layer">
              <div class="inner-layer">
              </div>
            </div>
          </div>
        </div>
        <a href="{% url 'shopit-account-detail' %}" class="register-form-link">
          <div class="hexagon-wrapper-link">
            <span class="icon"></span>
            <div class="outer-layer">
              <div class="inner-layer">
              </div>
            </div>
          </div>
          <h4 class="title">{% trans "Registriraj se" %}</h4>
          <p class="description">{% trans "Olakšajte si online kupovinu i budite u tijeku sa novostima i popustima!" %}</p>
        </a>
      </div>
    </div>
  </div>
</home-form-links>
