{% load cms_tags i18n thumbnail static menu_tags shopit_tags utils_url  %}
<home-categories inline-template>
<div ref="items"
      class="items"
      v-hammer:swipe="swipe"
      :style="moveTranslateX">
  <div class="product-head-wrapper text-center" style="margin-top: 10px">


              {% comment %}      <a href="{% page_url 'catalog' as catalog_url %}{{ catalog_url }}" class="product-categories-link">{% trans "Svi proizvodi" %}</a>
               &nbsp;{% endcomment %}
              <div stlye="display:flex;flex-direction:row;flex-wrap:wrap"></div>
                {% get_categorization 'category' level=0 as main_categories %}
                {% for cat in main_categories %}

                  <a href="{{ cat.get_absolute_url }}" class="product-categories-link" style="display:inline-block">{{ cat }}</a>

                {% endfor %}

      </div>
</div>
</home-categories>
