{% load cms_tags static i18n %}

<home-product-categories inline-template>
  <div class="home-product-categories" v-appear="{enabled: $root.isLoaded}">
    <div class="container">
      <div class="items" v-appear.children="{enabled: $root.isLoaded}">

        <a href="{% page_url 'apitherapy' as apitherapy_url %}{{ apitherapy_url }}" class="item apitherapy">
          <div class="image">
            <img src="{% static 'images/apitherapy-logo.png' %}">
          </div>
          <div class="text">
            <h2 class="title">{% trans "APITERAPIJA" %}</h2>
            <p class="description">{% trans "Svakodnevnom uporabom pčelinjih proizvoda (med, propolis, matična mliječ i pelud) u prehrani može se očuvati zdravlje i prevenirati bolesti." %}</p>
          </div>

          <div class="outer-layer">
            <div class="inner-layer">
            </div>
          </div>
        </a>

        <a href="{% page_url 'phytotherapy' as phytotherapy_url %}{{ phytotherapy_url }}" class="item phytotherapy">
          <div class="image">
            <img src="{% static 'images/phytotherapy-logo.png' %}">
          </div>
          <div class="text">
            <h2 class="title">{% trans "FITOTERAPIJA" %}</h2>
            <p class="description">{% trans "Hladno prešana ulja sjemenki neophodna su u svakodnevnoj prehrani i preduvjet su dobrom zdravlju" %}</p>
          </div>

          <div class="outer-layer">
            <div class="inner-layer">
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</home-product-categories>
