{% load cms_tags blogit_tags i18n thumbnail %}

<home-news inline-template>
  <div class="home-news" v-appear="{enabled: $root.isLoaded}">
    <div class="container" v-appear.children="{enabled: $root.isLoaded}">
      <h4 class="title">{% trans "Blog" %}</h4>
      <div
        ref="items"
        class="items"
           v-hammer:swipe="swipe"
       >

        {% get_posts 4 as post_list %}
        {% for item in post_list %}
          {% thumbnail item.featured_image "300x300" crop upscale subject_location=item.featured_image.subject_location as thumb %}
          <a
            href="{{ item.get_absolute_url }}"
            class="item"
            ref="item"
            >

            <svg viewBox="87.5 87.5 65 73" class="svg-base">
              <defs>
                <pattern id="hexagon-{{ thumb.url }}" height="100%" width="100%" viewBox="0 0 1 1" preserveAspectRatio="xMidYMid slice">
                  <image height="1" width="1" preserveAspectRatio="xMidYMid slice" xlink:href="{{ thumb.url }}"/>
                </pattern>
              </defs>
              <path fill="url(#hexagon-{{ thumb.url }}" d="M122.6,159.883c-1.431,0.822-3.77,0.822-5.201,0l-27.298-15.701c-1.431-0.822-2.601-2.84-2.601-4.483v-31.397 c0-1.647,1.17-3.662,2.601-4.484l27.298-15.7c1.431-0.823,3.77-0.823,5.201,0l27.301,15.7c1.431,0.822,2.6,2.837,2.6,4.484v31.397 c0,1.644-1.169,3.661-2.6,4.483L122.6,159.883z"/>
            </svg>
            <h4 class="name">{{ item.name }}</h4>
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
</home-news>
