{% load cms_tags i18n testimonials_tags thumbnail static %}
{% get_testimonials 7 as testimonials_list %}

<home-testimonials inline-template>
  <div class="home-testimonials">
    <div class="container" v-appear.children="{enabled: $root.isLoaded}">
      <h4 class="title">{% trans "Iskustva" %}</h4>
      <div
        ref="items"
        class="items"
        v-hammer:swipe="swipe"
        :style="moveTranslateX">
        {% for item in testimonials_list %}
          {% thumbnail item.image "205x205" crop upscale subject_location=item.image.subject_location as thumb %}
          <div
            class="item"
            ref="item"
            :class="{'active': isActive({{ forloop.counter0 }})}">
            <div class="box">
              <svg viewBox="87.5 87.5 65 73">
                <defs>
                  <pattern id="hexagon-{{ thumb.url }}" height="100%" width="100%" viewBox="0 0 1 1" preserveAspectRatio="xMidYMid slice">
                    <image height="1" width="1" preserveAspectRatio="xMidYMid slice" xlink:href="{{ thumb.url }}"/>
                  </pattern>
                </defs>
                <path fill="url(#hexagon-{{ thumb.url }}" d="M122.6,159.883c-1.431,0.822-3.77,0.822-5.201,0l-27.298-15.701c-1.431-0.822-2.601-2.84-2.601-4.483v-31.397 c0-1.647,1.17-3.662,2.601-4.484l27.298-15.7c1.431-0.823,3.77-0.823,5.201,0l27.301,15.7c1.431,0.822,2.6,2.837,2.6,4.484v31.397 c0,1.644-1.169,3.661-2.6,4.483L122.6,159.883z"/>
              </svg>
              <p class="description">
                {{ item.description }}
                <span :style="{'background-image': `url('{% static "images/quote.png" %}')`}"></span>
              </p>
              <p class="name">{{ item.name }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</home-testimonials>
