{% load i18n shopit_tags cms_tags %}

<home-products inline-template>

  <div class="" v-appear="{enabled: $root.isLoaded}">
    <div class="container" v-appear.children="{enabled: $root.isLoaded}">

    <!-- home-products <h2 class="text-center">Odabrani proizvodi</h2> -->
      {% comment %} <h4 class="title">{% trans "Najprodavaniji proizvodi" %}</h4> {% endcomment %}

      {% comment %}
      <div
        ref="items"
        class="items-product-set"
        v-hammer:swipe="swipe"
        :style="moveTranslateX">
        {% placeholder "home_content" %}
      </div>
      {% endcomment %}

      <div class="items-product-set">
        {% placeholder "home_content" %}
      </div>

      <a href="{% page_url 'catalog' as catalog_url %} {{ catalog_url }}" class="view-all">
        <div class="hexagon-wrapper">
          <span></span>
          <div class="outer-layer">
            <div class="inner-layer">
            </div>
          </div>
        </div>

      {% comment %}   <h6 class="view-all-text">{% trans "Svi naši proizvodi" %}</h6> {% endcomment %}
      </a>
    </div>
  </div>
</home-products>
