<template>
  <div class="share-buttons">
    <div class="wrapper">
      <p v-if="title" class="title">{{ title }}</p>
      <div class="buttons">
        <a class="button button-facebook" :href="`https://www.facebook.com/sharer/sharer.php?u=${domain}${path}`" @click.prevent="popup"></a>
        <a class="button button-pinterest" :href="`http://pinterest.com/pin/create/button/?url=${domain}${path}&description=${description}&media=${domain}${imagePath}`" @click.prevent="popup"></a>
        <!-- <a class="button button-twitter" :href="`https://twitter.com/home?status=${domain}${path}`" @click.prevent="popup"></a> -->
        <!-- <a class="button button-viber" :href="`viber://forward?text=${domain}${path}`"></a>
        <a class="button button-whatsapp" :href="`whatsapp://send?text=${domain}${path}`"></a>
        <a class="button button-email" :href="`mailto:?subject=${name}&text=${name}...${domain}${path}`"></a> -->
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ShareButtons',
  props: {
    title: {type: String, default: null},
    domain: {type: String, required: true},
    path: {type: String, required: true},
    imagePath: {type: String, default: ""},
    name: {type: String, default: ""},
    description: {type: String, default: ""}
  },
  methods: {
    popup (event) {
      let href = event.currentTarget.getAttribute('href')
      var popWindow = window.open(href, '', 'height=500,width=500');
      if (window.focus) { popWindow.focus(); }
    }
  }
}
</script>

<style lang="scss" scoped>
@import "assets/sass/_resources.scss";

.title {
  @include plumber-size('p-extra-small');
  padding: 0 !important;
  margin: 0 0 spacing() !important;
  text-transform: uppercase;
  color: var(--green);
  font-weight: 700;
  position: relative;

  &::after {
    position: absolute;
    top: 50%;
    right: 0;
    height: 1px;
    width: 75%;
    content: '';
    transform: translateY(-50%);
    background-color: rgba(#9e9e9e, .25);
  }
}

.button {
  @include trans(color);
  font-size: modular-scale(6);
  color: var(--medium-gray-2);
  margin-right: spacing(.5);

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    color: var(--green);
  }
}

.button-facebook {
  @include icon('icon-Facebook');
}

.button-pinterest {
  @include icon('icon-Pinterest');
}
</style>