<script>
export default {
  name: 'PostSidebar',
}
</script>

<style lang="scss" scoped>
@import "assets/sass/_resources.scss";
$sidebar-section-spacing: spacing(.5);
$sidebar-section-grid: (gutter: $sidebar-section-spacing);
$_post-spacing: spacing(4);
$_post-grid: (gutter: $_post-spacing);

.post-sidebar {
  @extend %appear-text;
  position: relative;

  @include grid('desktop', $down: true) {
    @include grid-collapse($sidebar-section-grid);
    order: 1;
    margin-bottom: spacing(4);
  }

  &::before {
    content: '';
    height: 100%;
    width: 1px;
    background-color: rgba($black, .15);
    position: absolute;
    left: 0;
    display: none;

    @include grid('desktop') {
      display: block;
    }
  }

  @include grid('desktop') {
    @include grid-column(3, $_post-grid);
    padding-left: spacing(4);
  }
}

.main-menu2-item {
  position: relative;
  margin-bottom: spacing(1.5);
  margin-top: spacing(1.5);

  &:hover {
    .main-menu2-link {
      color: var(--dark-green);
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.main-menu2-item--active {
  .main-menu2-link {
    color: var(--dark-green);

    &::before {
      display: block;
    }
  }
}

.main-menu2-link {
  position: relative;
  @include trans(color);
  text-transform: uppercase;
  color: var(--green);
  font-weight: 500;
  line-height: 2;

  &::before {
    @include size(8px);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: spacing(-2);
    content: '';
    background-color: var(--dark-green);
    border-radius: $base-border-radius;
    display: none;
  }
}
</style>
