<script>
export default {
  name: 'PostList',
}
</script>

<style lang="scss" scoped>
@import "assets/sass/_resources.scss";

$_post-spacing: spacing(4);
$_post-grid: (gutter: $_post-spacing);

.post-list {
  @extend %appear;

  .container {
    max-width: 1600px;
  }

  .inner-container {
    @include grid('desktop', $down: true) {
      display: flex;
      flex-direction: column;
    }

    @include grid('desktop') {
      @include grid-collapse($_post-grid);
    }
  }

  .post-list-items {
    display: grid;
    .post-item{
      max-width: 162px;
      @include grid('desktop') {
        max-width: none;
      }
    }

    grid-template-columns: auto auto;
    @include grid('desktop', $down: true) {
      order: 2;
    }

    @include grid('desktop') {
      @include grid-column(12, $_post-grid);
    }

    > * {
      @extend %appear-text;
    }
  }
}
</style>
