<script>
import { TweenMax, Power4 } from 'gsap'

export default {
  name: 'PostCategories',
  data () {
    return {
      toggle: false,
    }
  },
  methods: {
    showChildren (el, done) {
      TweenMax.set(el, {'height': 'auto'})
      TweenMax.from(el, this.$config.animation.duration, {'height': 0, ease: Power4.easeOut, onComplete: () => {
        done()
      }})
    },
    hideChildren (el, done) {
      TweenMax.set(el, {'height': 'auto'})
      setTimeout(() => {
        TweenMax.to(el, this.$config.animation.duration, {'height': 0, ease: Power4.easeOut, onComplete: () => {
          done()
        }})
      }, this.$config.animation.duration / 3 * 1000)
    }
  }
}
</script>

<style lang="scss" scoped>
@import "assets/sass/_resources.scss";
$sidebar-section-spacing: spacing(.5);
$sidebar-section-grid: (gutter: $sidebar-section-spacing);

.section {
  padding: 0 spacing();
  min-width: 200px;

  @include grid('desktop', $down: true) {
    @include grid-column(6, $sidebar-section-grid);
    background-color: var(--white);
    border-radius: $small-border-radius;
    border: 1px solid var(--lighter-gray);

    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  @include grid('desktop') {
    padding: 0;
  }

  &.categories {
    @include grid('desktop') {
      // margin-bottom: spacing(4);
    }
  }

  &.archives {
    display: none;
  }
}

.section-title {
  text-transform: uppercase;
  font-family: $base-font-family;
  color: var(--dark-gray);
  font-weight: 700;
  padding: spacing() 0;
  margin: 0;

  @include grid('desktop') {
    margin: 0 0 spacing(2);
    padding: 0;
  }

  @include icon('icon-Arrow-bottom', $el: '&::after') {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);

    @include grid('desktop') {
      display: none;
    }
  }
}

.items {
  @include trans((opacity, visibility));

  @include grid('desktop', $down: true) {
    opacity: 0;
    visibility: hidden;
  }

  @include grid('desktop') {
    display: block !important;
    height: 100% !important;
  }
}

.items--active {
  opacity: 1;
  visibility: visible;
}

.item {
  padding-bottom: spacing();
  margin-bottom: spacing();
  border-bottom: 1px solid var(--lighter-gray);

  @include grid('desktop') {
    margin-bottom: 0;
    border: none;
  }

  &:hover {
    a {
      color: var(--green);
    }
  }

  &:last-child {
    margin-bottom: 0;
    border: none;

    @include grid('desktop') {
      padding: 0;
    }
  }

  &.active {
    a {
      font-weight: 700;
      color: var(--green);
    }
  }

  a {
    @include trans;
    @include plumber-size('p');
    padding: 0 !important;
    margin: 0 !important;
    color: var(--medium-gray);
  }
}
</style>
