<script>
export default {
  name: 'PostItem',
}
</script>
<style lang="scss" scoped>
@import "assets/sass/_resources.scss";

.post-item {
  @include grid-container;
  margin-bottom: spacing(4);

  @include grid('desktop') {
    padding: 0 spacing(2);
  }

 /* &:last-child {
    .image {
      margin-bottom: 0;
    }
  }
*/
  &.odd {
    .image {
      @include grid('desktop') {
        margin-left: 0;
      }
    }
  }
}

.link {
  @include grid-container;
  display: block;

  @include grid('tablet') {
    @include grid-collapse;
    display: flex;
    align-items: center;
  }

  &:hover {
    .image {
      opacity: .75;
    }

    .title {
      color: var(--green);
    }
  }
}

.image {
  @include trans(opacity);
  margin-bottom: spacing();
  padding: 0 spacing(3);
  max-width: 162px;
  @include grid('tablet') {
    @include grid-column(3);
    margin-bottom: 0;
    padding: 0;
    max-width: 300px;
  }




  @include grid('desktop') {
    margin-left: spacing(8);
    max-width: 300px;
  }
}

.text {
  text-align: center;

  @include grid('tablet') {
    @include grid-column(9);
    text-align: left;
  }
}

.date {
  @include plumber-size('p-small');
  color: var(--medium-gray-2);
  font-weight: 500;
}

.category {
  @include plumber-size('p-small');
  color: var(--green);
  display: inline-block;
  font-weight: 700;
}

.title {
  @include trans(color);
  padding: 0;
  margin: 0;
  color: var(--dark-green);
}
</style>
