<script>
export default {
name: "PostMenu"
}
</script>

<style  lang="scss" scoped>
@import "assets/sass/_resources.scss";
.container {
  max-width: 1400px;
}
.post-menu{
  text-align: center;
  margin-bottom: spacing(2);
  margin-right: 30px;
  img{
    width:60px;
    @include grid('desktop'){
      width:75px;
    }
    @include grid('tablet'){
      width:75px;
    }
    margin-left: spacing(2);
  }
  @include grid('desktop') {
    img{
    width:150px;
    margin-left: spacing(2);
  }
    }


}

</style>
