<script>
export default {
  name: 'PostDetail',
}
</script>

<style lang="scss" scoped>
@import "assets/sass/_resources.scss";

$_post-spacing: spacing(4);
$_post-grid: (gutter: $_post-spacing);

.container {
  @include grid('desktop') {
    max-width: 1365px;
  }
}

.inner-container {
  @include grid('desktop') {
    @include grid-collapse($_post-grid);
  }
}

.post-detail-content {
  @include grid('desktop') {
    @include grid-column(9, $_post-grid);
  }
}

.post-top {
  > * {
    @extend %appear-text;
  }
}

.post-meta {
  margin-bottom: spacing();

  @include grid('desktop') {
    margin-bottom: spacing(2);
  }
}

.date {
  @include plumber-size('h5');
  display: inline-block;
  color: var(--medium-gray-2);
  font-weight: 700;
  font-family: $heading-font-family;
  padding-right: spacing();
}

.category {
  @include plumber-size('h5');
  display: inline-block;
  color: var(--green);
  font-weight: 700;
}

.post-title {
  margin: 0;
  padding: 0;
}

.post-image {
  position: relative;
  height: 200px;
  margin: spacing(2) 0;

  @include grid('tablet') {
    height: 300px;
  }

  @include grid('desktop') {
    height: 435px;
  }
}

.post-bg {
  @include position(absolute, 0);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: $base-border-radius;
}

.post-body {
  margin-bottom: spacing(2);

  @include grid('desktop') {
    margin-bottom: spacing(4);
  }
}

.post-detail-footer {
  > * {
    @extend %appear-text;
  }
}

.links {
  margin-bottom: spacing(2);

  @include grid('desktop') {
    margin-bottom: spacing(4);
  }

  a {
    @include plumber-size('p-small');
    @include trans(opacity);
    color: var(--green);
    font-weight: 500;
    margin-right: spacing();

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      opacity: .5;
    }
  }
}

.nav-buttons {
  position: relative;
  z-index: 1;
  text-align: center;

  @include grid('desktop') {
    text-align: left;
  }

  a {
    margin-right: spacing() !important;

    @include grid('desktop') {
      margin-right: spacing(3) !important;
    }

    &:last-child {
      margin-right: 0 !important;
    }

    &.disabled {
      cursor: not-allowed;
    }
  }

  span {
    display: none;

    @include grid('desktop') {
      display: inline-block;
    }
  }

  .prev {
    @extend %button-transparent;

    @include grid('desktop', $down: true) {
      padding: spacing(.75) spacing(.5);
      min-width: 40px;
      border-radius: $small-border-radius;
    }

    @include icon('icon-Arrow-left') {
      @include grid('desktop') {
        transform: translateX(spacing(-.5)) translateY(2px);
      }
    }
  }

  .back {
    @extend %button-beige;

    @include grid('desktop', $down: true) {
      min-width: 130px;
      padding: spacing() spacing(1.5);
      border-radius: $small-border-radius;
    }
  }

  .next {
    @extend %button-transparent;

    @include grid('desktop', $down: true) {
      padding: spacing(.75) spacing(.5);
      min-width: 40px;
      border-radius: $small-border-radius;
    }

    @include icon('icon-Arrow-right', $el: '&::after') {
      @include grid('desktop') {
        transform: translateX(spacing(.5)) translateY(2px);
      }
    }
  }
}

.post-sidebar {
  display: none;

  @include grid('desktop') {
    @include grid-column(3, $_post-grid);
    margin-left: spacing(4) !important;
    display: block;
    margin-top: 21%;
  }
}
</style>
