{% load cms_tags %}

<h2 class="title">{{ instance.title }}</h2>

<div class="abc">
  {% for item in featured_products.all %}
    <p>{{ item.id }}</p>
    <p>{{ item.name }}</p>
    <h4></h4>
  {% endfor %}
</div>

<div class="bcd">
  {% for plugin in instance.child_plugin_instances %}
    <h4></h4>
    <h4>{{ instance.id }}</h4>
    {% render_plugin plugin %}
  {% endfor %}
</div>
