.home-products  {
  @extend %appear;
  position: relative;
  margin-bottom: spacing(6);

  @include grid('desktop', $down: true) {
    margin-left: - 30px;
    margin-right: -30px;
  }

  @include grid('desktop') {
    margin-bottom: spacing(14);
    padding-left: spacing(2);
    padding-right: spacing(2);
  }

  .container {
    max-width: 1500px;
  }

  .title {
    @extend %appear-text;
    color: var(--beige);
    padding: 0;
    margin: 0 0 spacing(4);
    text-align: center;

    @include grid('desktop') {
      margin: 0 0 spacing(4);
    }

    @include grid('desktop-giant') {
      margin: 0 0 0 spacing(-4);
      position: absolute;
      left: spacing();
      top: 50%;
      transform: rotate(-90deg) translateY(-50%);
      text-align: left;
    }

    &.appear {
      @include grid('desktop-giant') {
        transform: rotate(-90deg) translateY(-50%);
      }
    }
  }

  .items-product-set {
    @extend %appear-text;
    @include grid-container;
    position: relative;
    // display: flex;

    @include grid('desktop') {
      transform: none !important;
    }
  }

  .product-set {

    .title {
      display: none;
    }

    .items {
      @include grid-container;
      grid-template-columns: 1fr;
      grid-column-gap: 1em;
      grid-row-gap: 0;
      justify-content: center;
      align-items: center;
      transform: none !important;

      @include grid('desktop') {
        grid-template-columns: 1fr;
        grid-column-gap: 1em;
        grid-row-gap: 0;
        justify-content: center;
        align-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 3em;
      }
    }

    .product-list-item {
      &:hover {
        &::before,
        &::after {
          opacity: 1;
          visibility: visible;
          transform: translateY(-50%);
        }
      }

      &::before {
        @include trans((opacity, visibility, transform), $duration: 1);
        background-image: url('../images/home-product-head-left.png');
        height: 85px;
        width: 65px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        left: 0;
        top: 50%;
        transform: rotate(25deg) translateY(-50%);
        z-index: 0;
        margin-left: spacing(-4);
        content: '';
        opacity: 0;
        visibility: hidden;

        @include grid('desktop', $down: true) {
          display: none;
        }

        @include grid('desktop') {
          height: 360px;
          width: 180px;
          margin-left: spacing(-12);
        }
      }

      &::after {
        @include trans((opacity, visibility, transform), $duration: 1);
        background-image: url('../images/home-product-head-right.png');
        height: 155px;
        width: 55px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        right: 0;
        top: 50%;
        transform: rotate(-25deg) translateY(-50%);
        z-index: 0;
        margin-right: spacing(-3.5);
        content: '';
        opacity: 0;
        visibility: hidden;

        @include grid('desktop', $down: true) {
          display: none;
        }

        @include grid('desktop') {
          height: 470px;
          width: 150px;
          margin-right: spacing(-10);
        }
      }
    }

    .image {
      @include grid('desktop') {
        margin-bottom: spacing(4);
      }
    }

    img {
      height: auto;
      width: 120px;
     // transform: scale(1.05);

      @include grid('desktop') {
        height: auto;
        width: 380px;
        transform: scale(1.1);
      }
    }

    .name {
      @include plumber-size('h3');
      @include trans(color);
      padding: 0 !important;
      margin: 0 !important;
      color: var(--dark-gray);
      line-height: 1.5 !important;

      @include grid('desktop', $down: true) {
        // opacity: 0;
        // visibility: hidden;
      }
    }

    .caption {
      padding: 0;
      margin: 0;
      color: var(--medium-gray-2);

      @include grid('desktop', $down: true) {
        // opacity: 0;
        // visibility: hidden;
      }
    }

    .single-actions {
      display: none !important;
    }

    .price {
      display: none;
    }
  }

  .view-all {
    @extend %appear-text;
    text-align: center;
    display: block;
    margin-top: spacing(2);

    @include grid('desktop-huge') {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      max-width: 150px;
      margin-top: 0;
    }

    &:hover {
      .outer-layer .inner-layer:before {
        background: var(--orange);
      }

      span {
        color: var(--black);
      }
    }

    &.appear {
      @include grid('desktop-huge') {
        transform: translateY(-50%);
      }
    }
  }

  .hexagon-wrapper {
    @include trans;
    position: relative;
    margin-bottom: spacing();

    span {
      @include trans(color);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      font-weight: 700;
      color: var(--green);

      @include icon('icon-Arrow-right') {
        font-weight: 700;
      }
    }
  }

  .outer-layer {
    overflow: hidden;
    display: inline-block;
    width: spacing(4);
    height: spacing(3);
    transform: rotate(-30deg) skewX(30deg);
    border-radius: spacing(.5);
    position: relative;
  }

  .outer-layer *, .outer-layer *:before {
    display: block;
    overflow: hidden;
    width: inherit;
    height: inherit;
    border-radius: inherit;
  }

  .inner-layer {
    transform: skewX(-30deg) rotate(60deg) skewX(30deg);
    cursor: pointer;
  }

  .outer-layer .inner-layer:before {
    @include trans(background);
    transform: skewX(-30deg) rotate(60deg) skewX(30deg);
    background: var(--light-green);
    content: '';
  }

  .view-all-text {
    color: var(--dark-green);
    padding: 0;
    margin: 0;
    font-weight: 700;
    line-height: 1.25;
  }
}
