.intro-preloader {
  @include trans((opacity, visibility));
  @include position(fixed, 0);
  z-index: 4;
  transform: none;
  overflow: visible;
  transform: none;

  // hexagon
  $color: var(--orange);
  $size-small: 10px;
  $size: 25px;
  $time: 1s;

  display: none;

  // @include grid('tablet') {
  //   display: block;
  // }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  // mixing test
  @mixin animation-delay($from, $to, $cycle-length, $name) {
    @for $i from 1 through 18 {
      &.#{$name}-#{$i} {
        animation-delay: -($cycle-length / ($to - $from + 1)) * $i;
      }
    }
  }

  @keyframes blink {
    from { opacity: 0.1; }
    30% { opacity: 1; }
    to { opacity: 0.1; }
  }

  .row {
    display: flex;
  }

  .hexagon-loader {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;

    .arrow {
      width: 0;
      height: 0;
      border-left: $size-small solid transparent;
      border-right: $size-small solid transparent;
      border-bottom: ($size-small * 2 * 0.866) solid $color;
      margin: 0 (-$size-small / 2);
      animation: blink $time infinite;

      @include grid('tablet') {
        border-left: $size solid transparent;
        border-right: $size solid transparent;
        border-bottom: ($size * 2 * 0.866) solid $color;
        margin: 0 (-$size / 2);
      }

      &.down {
        transform: rotate(180deg);
      }

      @include animation-delay($from: 1, $to: 6, $cycle-length: $time, $name: arrow)
    }
  }

  &.done {
    opacity: 0;
    visibility: hidden;
  }

  .drawer {
    @include position(absolute, 0);
    transform: none;
  }

  .bg {
    @include position(absolute, 0);
    background-color: var(--base-background-color);
  }

  .wrapper {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: spacing(2);
    overflow: hidden;

    @include grid('desktop') {
      position: absolute;
    }
  }
}
