.pagination {
  position: relative;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  margin-top: spacing(4);

  @include grid('desktop') {
    margin-top: spacing(6);
  }

  li {
    position: relative;
    display: inline-block;
    margin-right: spacing(.5);

    &:last-child {
      margin-right: 0;
    }
  }

  a {
    @include trans((border, background-color, color));
    border-radius: $small-border-radius;
    border: 1px solid var(--lighter-gray);
    color: var(--medium-gray);
    display: block;
    padding: spacing();

    &:hover {
      background-color: var(--orange);
      border-color: var(--orange);
      color: var(--white);
    }

    &.active {
      background-color: var(--dark-gray);
      border-color: var(--dark-gray);
      color: var(--orange);
    }
  }

  .prev {
    @include icon('icon-Arrow-left');
  }

  .next {
    @include icon('icon-Arrow-right');
  }
}
