.pswp {
  z-index: 2018;
}

.pswp-video {
  @include position(absolute, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;

  .plyr {
    display: table;
    margin: 0 auto;
    max-height: 100%;
    max-width: 1920px;
    width: 100%;
  }
}
