<script>
export default {
  name: 'Recipes',
  data () {
    return {
      show: false,
    }
  },
  methods: {
    toggle: function () {
      this.show = !this.show;
    },
    showChildren (el, done) {
      TweenMax.set(el, {'height': 'auto'})
      TweenMax.from(el, this.$config.animation.duration, {'height': 0, ease: Power4.easeOut, onComplete: () => {
        done()
      }})
    },
    hideChildren (el, done) {
      TweenMax.set(el, {'height': 'auto'})
      setTimeout(() => {
        TweenMax.to(el, this.$config.animation.duration, {'height': 0, ease: Power4.easeOut, onComplete: () => {
          done()
        }})
      }, this.$config.animation.duration / 3 * 1000)
    }
  }
}
</script>

<style lang="scss" scoped>
@import "assets/sass/_resources.scss";

$item-spacing: spacing(6);
$item-grid: (gutter: $item-spacing);

.recipes {
  @extend %appear;
  text-align: center;
}

.container {
  max-width: 250px;

  @include grid('tablet') {
    max-width: $indented-text-width;
  }

  @include grid('desktop') {
    max-width: $indented-block-width;
  }
}
/*
.items {
  @include grid('tablet') {
    @include grid-collapse($item-grid);
     display: flex;
    flex-wrap: wrap;
  }

  > * {
    @extend %appear-text;
  }
}

.item {
  @include grid-container;
  display: block;
  margin-bottom: spacing(4);

  @include grid('tablet') {
    @include grid-column(6, $item-grid);
    margin-bottom: spacing(6);
  }

  @include grid('desktop') {
    @include grid-column(4, $item-grid);
  }

  &:hover {
    svg {
      opacity: .75;
    }

    .name {
      color: var(--green);
    }
  }
}
*/

/* promjena u kao blog*/
$_post-spacing: spacing(4);
$_post-grid: (gutter: $_post-spacing);

.post-list {
  @extend %appear;

  .container {
    max-width: 1600px;
  }

  .inner-container {
    @include grid('desktop', $down: true) {
      display: flex;
      flex-direction: column;
    }

    @include grid('desktop') {
      @include grid-collapse($_post-grid);
    }
  }

  .post-list-items {
    display: grid;
    grid-template-columns: auto auto;
    @include grid('desktop', $down: true) {
      order: 2;
    }

    @include grid('desktop') {
      @include grid-column(12, $_post-grid);
    }

    > * {
      @extend %appear-text;
    }
  }
}
/* promjena u kao blog*/
svg {
  @include trans(opacity);
  margin-bottom: spacing();

  @include grid('desktop') {
    margin-bottom: spacing(2);
  }
}

.name {
  @include trans(color);
}

.load-more {
  @extend %button-transparent;
}
</style>
