<script>
export default {
  name: 'RecipesDetail',
}
</script>

<style lang="scss" scoped>
@import "assets/sass/_resources.scss";

.content-indented {
  margin-bottom: spacing();

  @include grid('desktop') {
    margin-bottom: spacing(2);
  }

  h6 {
    font-size: modular-scale(1);
    color: var(--green);
    font-family: $base-font-family;
    padding: 0;
    margin-bottom: 0;
  }
}

.recipes-detail-footer {
  max-width: $indented-text-width;
  margin: 0 auto;

  > * {
    @extend %appear-text;
  }
}

.links {
  margin-bottom: spacing(2);

  @include grid('desktop') {
    margin-bottom: spacing(4);
  }

  a {
    @include plumber-size('p-small');
    @include trans(opacity);
    color: var(--green);
    font-weight: 500;
    margin-right: spacing();

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      opacity: .5;
    }
  }
}

.nav-buttons {
  position: relative;
  z-index: 1;
  text-align: center;

  @include grid('desktop') {
    text-align: left;
  }

  a {
    margin-right: spacing() !important;

    @include grid('desktop') {
      margin-right: spacing(3) !important;
    }

    &:last-child {
      margin-right: 0 !important;
    }

    &.disabled {
      cursor: not-allowed;
    }
  }

  span {
    display: none;

    @include grid('desktop') {
      display: inline-block;
    }
  }

  .prev {
    @extend %button-transparent;

    @include grid('desktop', $down: true) {
      padding: spacing(.75) spacing(.5);
      min-width: 40px;
      border-radius: $small-border-radius;
    }

    @include icon('icon-Arrow-left') {
      @include grid('desktop') {
        transform: translateX(spacing(-.5)) translateY(2px);
      }
    }
  }

  .back {
    @extend %button-beige;

    @include grid('desktop', $down: true) {
      min-width: 130px;
      padding: spacing() spacing(1.5);
      border-radius: $small-border-radius;
    }
  }

  .next {
    @extend %button-transparent;

    @include grid('desktop', $down: true) {
      padding: spacing(.75) spacing(.5);
      min-width: 40px;
      border-radius: $small-border-radius;
    }

    @include icon('icon-Arrow-right', $el: '&::after') {
      @include grid('desktop') {
        transform: translateX(spacing(.5)) translateY(2px);
      }
    }
  }
}
</style>
