{% load i18n utils_url utils_thumbnail thumbnail %}


{% thumbnail post.featured_image "300x300" crop upscale subject_location=post.featured_image.subject_location as thumb %}


<post-item inline-template>
  <article class="post-item">
    <a href="{% get_absolute_url_with_fallback post %}" class="link">
      <div class="image">
        <svg viewBox="87.5 87.5 65 73">
          <defs>
            <pattern id="hexagon-{{ thumb.url }}" height="100%" width="100%" viewBox="0 0 1 1" preserveAspectRatio="xMidYMid slice">
              <image height="1" width="1" preserveAspectRatio="xMidYMid slice" xlink:href="{{ thumb.url }}"/>
            </pattern>
          </defs>
          <path fill="url(#hexagon-{{ thumb.url }}" d="M122.6,159.883c-1.431,0.822-3.77,0.822-5.201,0l-27.298-15.701c-1.431-0.822-2.601-2.84-2.601-4.483v-31.397 c0-1.647,1.17-3.662,2.601-4.484l27.298-15.7c1.431-0.823,3.77-0.823,5.201,0l27.301,15.7c1.431,0.822,2.6,2.837,2.6,4.484v31.397 c0,1.644-1.169,3.661-2.6,4.483L122.6,159.883z"/>
        </svg>
      </div>

      <div class="text">
        <div class="meta">
          <span class="date">{{ post.date_published|date:"d-m-Y" }}</span>
          {% if post.category %}
            <p class="category">{{ post.category.name }}</p>
          {% endif %}
        </div>
        <h4 class="title">{{ post.title }}</h4>
      </div>
    </a>
  </article>
</post-item>
