{% extends "shopit/account/account_detail.html" %}
{% load i18n %}

{% block title %}{% spaceless %}
  {% if action == 'details' %}{% trans "Update info" %}
  {% elif action == 'password' %}{% trans "Change password" %}
  {% else %}{% trans "Settings" %}{% endif %}
{% endspaceless %}{% endblock %}

{% block page_title %}{% spaceless %}
  {% if action == 'details' %}{% trans "Update info" %}
  {% elif action == 'password' %}{% trans "Change password" %}
  {% else %}{% trans "Settings" %}{% endif %}
{% endspaceless %}{% endblock %}

{% block og_title %}{% spaceless %}
  {% if action == 'details' %}{% trans "Update info" %}
  {% elif action == 'password' %}{% trans "Change password" %}
  {% else %}{% trans "Settings" %}{% endif %}
{% endspaceless %}{% endblock %}

{% block account_content %}
  <div class="account-settings" v-appear="{enabled: $root.isLoaded}">
    {% comment %}
    {% if action %}
      <form action="{% url 'shopit-account-settings-'|add:action %}" method="POST" data-ajax-success="{% url 'shopit-account-settings' %}" novalidate>
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary">{% trans "Submit" %}</button>
      </form>
    {% endif %}
    {% endcomment %}

    {% if action == 'details' %}
      <account-details-form
        :form-data-initial='{% spaceless %}{
          "salutation": "{{ form.initial.salutation|escapejs }}",
          "first_name": "{{ form.initial.first_name|escapejs }}",
          "last_name": "{{ form.initial.last_name|escapejs }}",
          "email": "{{ form.initial.email|escapejs }}",
          "phone_number": "{{ form.initial.phone_number|escapejs }}",
        }{% endspaceless %}'>
      </account-details-form>

    {% elif action == 'password' %}
      <account-password-form></account-password-form>
    {% else %}
      <p class="text-center">{% trans "Izaberite Ažuriranje informacija ili promjenu lozinke." %}</p>
    {% endif %}
  </div>
{% endblock %}