{% extends "shopit/base.html" %}
{% load i18n %}

{% block head_image_with_content %}
  <div class="head-content-login">
    <h1 class="head-title">{% block page_title %}<span>{% trans "Prijava u račun" %}</span>{% endblock %}</h1>
  </div>
{% endblock %}

{% block content_class %}{{ block.super }} content-account{% endblock %}

{% block content %}
  {% comment %}
  <div class="account-login" v-appear="{enabled: $root.isLoaded}">
    <form action="{% url 'shopit-account-login' %}" method="POST" data-ajax-success="{% url 'shopit-account-detail' %}" novalidate>
      {% csrf_token %}
      {{ form.as_p }}
      <p><a href="{% url 'shopit-account-reset' %}">{% trans "Forgot password?" %}</a></p>
      <button class="btn btn-primary">{% trans "Login" %}</button> {% trans "or" %}
      <a href="{% url 'shopit-account-register' %}" class="btn btn-secondary">{% trans "Register" %}</a>
    </form>
  </div>
  {% endcomment %}

  <login-register-form title="{% trans 'Prijava' %}"></login-register-form>
{% endblock %}