{% extends "shopit/account/account_detail.html" %}
{% load i18n shopit_tags %}

{% block title %}{% trans "Order" %} #{{ order }}{% endblock %}
{% block page_title %}{% trans "Order" %} #{{ order }}{% endblock %}
{% block og_title %}{% trans "Order" %} #{{ order }}{% endblock %}

{% block account_content %}
  <account-order-detail inline-template>
    <div class="account-order-detail">
      {% order order %}
    </div>
  </account-order-detail>
{% endblock %}
