{% extends "shopit/base.html" %}
{% load cms_tags i18n utils_text %}

{% block page_title %}{% trans "Account" %}{% endblock %}

{% block content_class %}{{ block.super }} content-account{% endblock %}

{% block content %}
  <account inline-template>
    <div class="account" v-cloak v-appear="{enabled: $root.isLoaded}">
      <div class="container">
        <a href="{% url 'shopit-account-detail' %}" class="user">{% trans "Dobrodošli" %} {{ customer.get_full_name }}.</a>

        <div class="inner-container">
          <ul class="account-nav">
            <account-item inline-template>
              {% url 'shopit-account-detail' as account_detail_url %}
              <li class="account-item {% if request.path|endswith:account_detail_url %}active{% endif %}">
                <a href="{{ account_detail_url }}" class="link">
                  <span class="icon icon--dashboard"></span>
                  {% trans "Dashboard" %}
                </a>
              </li>
            </account-item>

            <account-item inline-template>
              {% url 'shopit-account-order-list' as account_order_list_url %}
              <li class="account-item {% if request.path|startswith:account_order_list_url %}active{% endif %}">
                <a href="{{ account_order_list_url }}" class="link">
                  <span class="icon icon--orders"></span>
                  {% trans "Orders" %}
                </a>
              </li>
            </account-item>

            <account-item inline-template>
              {% url 'shopit-account-settings-details' as account_settings_details_url %}
              <li class="account-item {% if request.path|startswith:account_settings_details_url %}active{% endif %}">
                <a href="{{ account_settings_details_url }}" class="link">
                  <span class="icon icon--edit"></span>
                  {% trans "Uredite podatke" %}
                </a>
              </li>
            </account-item>

            <account-item inline-template>
              {% url 'shopit-account-settings-password' as account_settings_password_url %}
              <li class="account-item {% if request.path|startswith:account_settings_password_url %}active{% endif %}">
                <a href="{{ account_settings_password_url }}" class="link">
                  <span class="icon icon--password"></span>
                  {% trans "Promijenite lozinku" %}
                </a>
              </li>
            </account-item>

            <account-item inline-template>
              <li class="account-item account-item-logout">
                <a href="{% url 'shopit-account-logout' %}" class="link button-logout">{% trans "Logout" %}</a>
              </li>
            </account-item>
          </ul>

          <div class="account-content" v-appear.children="{enabled: $root.isLoaded}">
            {% block account_content %}
              <div class="user-account">
                <h5 class="name">Dobrodošli u Vaš korisnički račun</h5>
                <p class="description">{% trans "Ovdje možete pregledavati Vaše narudžbe i ažurirati korisničke podatke." %}</p>
              </div>
            {% endblock %}
          </div>
        </div>
      </div>
    </div>
  </account>
{% endblock %}