{% extends "shopit/base.html" %}
{% load i18n %}

{% block page_title %}{% trans "Password reset" %}{% endblock %}

{% block content %}
  {% comment %}
  <div class="account-reset" v-appear="{enabled: $root.isLoaded}">
    <form action="{% url 'shopit-account-reset' %}" method="POST" data-ajax-success="{% url 'shopit-account-login' %}" novalidate>
      {% csrf_token %}
      {{ form.as_p }}
      <button class="btn btn-primary">{% trans "Reset password" %}</button>
    </form>
  </div>
  {% endcomment %}

  <password-reset-form></password-reset-form>
{% endblock %}