{% extends "shopit/account/account_detail.html" %}
{% load cms_tags i18n utils_text %}

{% block page_title %}{% trans "Orders" %}{% endblock %}

{% block account_content %}
  <account-order-list inline-template>
    <div class="account-order-list">
      <account-order-items inline-template>
        <div class="account-order-items">
          <div class="account-order-items-nav">
            <div class="row">
              <p class="field">{% trans "Proizvod" %}</p>
              <p class="field">{% trans "Datum" %}</p>
              <p class="field">{% trans "Status" %}</p>
              <p class="field">{% trans "Akcija" %}</p>
            </div>
          </div>

          <div class="account-order-wrapper">
            {% for order in order_list|slice:":4" %}
              <div class="account-order-item">
                <p class="name"><span>{% trans "Proizvod" %}</span>#{{ order|stringify }}</p>
                <p class="date"><span>{% trans "Datum" %}</span>{{ order.created_at|date }}</p>
                <p class="status"><span>{% trans "Status" %}</span>{{ order.status_name }}</p>
                <a href="{{ order.get_absolute_url }}" class="button-item">{% trans "POGLEDAJ" %}</a>
                {% comment %}
                `<p class="status-indicator">{% if order.is_fully_paid %} paid{% elif order.status == 'order_canceled' or order.status == 'refund_payment' %} cancelled{% endif %}</p>
                {% endcomment %}
              </div>
            {% empty %}
              <p>{% trans "No orders." %}</p>
            {% endfor %}

            <a
              href="#"
              class="button-all"
              :class="{'active': show}"
              @click.prevent="show = !show">
              {% trans "Sve narudžbe" %}
            </a>

            <transition @enter="showChildren" @leave="hideChildren">
              <div class="items items-extra" v-show="show">
                {% for order in order_list|slice:"4:" %}
                  <div class="account-order-item">
                    <p class="name"><span>{% trans "Proizvod" %}</span>#{{ order|stringify }}</p>
                    <p class="date"><span>{% trans "Datum" %}</span>{{ order.created_at|date }}</p>
                    <p class="status"><span>{% trans "Status" %</span>{{ order.status_name }}</p>
                    <a href="{{ order.get_absolute_url }}" class="button-item">{% trans "POGLEDAJ" %}</a>
                    <p class="status-indicator">{% if order.is_fully_paid %} paid{% elif order.status == 'order_canceled' or order.status == 'refund_payment' %} cancelled{% endif %}</p>
                  </div>
                {% endfor  %}
              </div>
            </transition>
          </div>
        </div>
    </account-order-items>
  </account-order-list>
{% endblock %}
