{% load cms_tags i18n static %}

<image-with-content inline-template>
  <div class="image-with-content {{ instance.template }}" v-appear="{enabled: $root.isLoaded}">
    <div class="box">
      <div class="image">
        <span :style="{'background-image': `url('{% static "images/image-with-content-flower.png" %}')`}"></span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          width="100%"
          height="100%"
          viewBox="87.5 87.5 65 73"
          xml:space="preserve"
        >
          <defs>
            <pattern
              id="hexagon-{{ instance.image.url }}"
              height="100%"
              width="100%"
              patternContentUnits="objectBoundingBox"
              viewBox="0 0 1 1"
              preserveAspectRatio="xMidYMid slice"
            >
              <image
                height="1"
                width="1"
                preserveAspectRatio="xMidYMid slice"
                xlink:href="{{ instance.image.url }}"
              />
            </pattern>
          </defs>

          <path
            fill="url(#hexagon-{{ instance.image.url }})"
            d="M122.6,159.883c-1.431,0.822-3.77,0.822-5.201,0l-27.298-15.701c-1.431-0.822-2.601-2.84-2.601-4.483v-31.397 c0-1.647,1.17-3.662,2.601-4.484l27.298-15.7c1.431-0.823,3.77-0.823,5.201,0l27.301,15.7c1.431,0.822,2.6,2.837,2.6,4.484v31.397 c0,1.644-1.169,3.661-2.6,4.483L122.6,159.883z"
          />
        </svg>
      </div>

      <div class="text">
        <div class="text-wrapper">
          {{ instance.content|safe }}
        </div>

        {% if instance.apitherapy_button or instance.phytotherapy_button %}
          <div class="buttons">
            {% if instance.apitherapy_button %}
              <div class="button-wrapper button-wrapper-apitherapy">
                <span :style="{'background-image': `url('{% static "images/apitherapy-logo-small.png" %}')`}"></span>
                <a href="{% page_url 'apitherapy' as apitherapy_url %}{{ apitherapy_url }}" class="button">{% trans "Apiterapija" %}</a>
              </div>
            {% endif %}

            {% if instance.phytotherapy_button %}
              <div class="button-wrapper button-wrapper-phytotherapy">
                <span :style="{'background-image': `url('{% static "images/phytotherapy-logo-small.png" %}')`}"></span>
                <a href="{% page_url 'phytotherapy' as phytotherapy_url %}{{ phytotherapy_url }}" class="button">{% trans "Fitoterapija" %}</a>
              </div>
            {% endif %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</image-with-content>
