fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  font-weight: 600;
  margin-bottom: spacing();
  padding: 0;
}

label {
  color: var(--medium-gray);
  display: block;
  margin-bottom: spacing(.5);
  padding-left: spacing(.25);
}

input,
select,
textarea {
  display: block;
  font-family: $base-font-family;
}

textarea {
  resize: vertical;
}

[type='checkbox'],
[type="radio"]
 {
  display: none;
  margin-right: 0;
}

[type='file'] {
  margin-bottom: 0;
  width: 100%;
}

select {
  margin-bottom: 0;
  width: 100%;
}

[type='checkbox'],
[type="radio"],
[type='file'],
select {
  &:focus {
    outline: 0;
    outline: $focus-outline;
    outline-offset: $focus-outline-offset;
  }
}
