html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@mixin show-grid {
  background-image: linear-gradient(#eee 1px, transparent 1px);
  background-repeat: repeat-y;
  background-size: 100% $base-grid-height;
}

.show-grid {
  @include show-grid;
}

body {
  background: var(--base-background-color);
  margin: 0;

  &.body-product-list {
    background-color: rgba($dark-beige, .1);
  }
}

.row {
  @include grid-container;
}

.container,
%container {
  @include grid-container;
  margin-left: auto;
  margin-right: auto;
  max-width: $container-large;
}

.about,
.apitherapy,
.dealership,
.locations,
.phytotherapy,
.account-settings,
.account-login,
.account-register,
.account-reset-confirm,
.account-reset {
  @extend %appear;
}

.container-large {
  @extend %container;
  max-width: $container-large;
}

.collapse-edge {
  @include grid-collapse($edge-grid);
}

[v-cloak] {
  display: none;
}
