.page-enter-active,
.page-leave-active {
  @include trans;
  opacity: 1;
  transform: none;
}

.page-enter {
  transform: translateY(spacing(1));
  opacity: 0;
}

.page-leave-active {
  @include trans-duration('fast');
}

.page-leave-to {
  transform: translateY(spacing(-1));
  opacity: 0;
}

.el-zoom-in-top-enter-active,
.el-zoom-in-top-leave-active {
  @include trans;
  opacity: 1;
  transform: none;
}

.el-zoom-in-top-enter,
.el-zoom-in-top-leave-to {
  opacity: 0;
  transform: translateY(spacing(-1));
}

.fade-enter-active, .fade-leave-active {
  @include trans(opacity, $duration: 'fast');
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}


.swap-enter-active,
.swap-leave-active {
  @include trans((opacity, transform), $duration: 'fast');
}

.swap-slow-enter-active,
.swap-slow-leave-active {
  @include trans((opacity, transform));
}

.swap-enter,
.swap-slow-enter {
  opacity: 0;
  transform: translateY(spacing(.5));
}

.swap-leave-to,
.swap-slow-leave-to {
  opacity: 0;
  transform: translateY(spacing(-.5));
}
