body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: 100%;
  line-height: $base-line-height;
}

@include font-face('icomoon', '../fonts/icomoon', $file-formats: eot woff ttf svg);

h1,
h2,
h3,
h4,
h5,
h6 { @extend %heading; }

h1 { @extend %h1; }
h2 { @extend %h2; }
h3 { @extend %h3; }
h4 { @extend %h4; }
h5 { @extend %h5; }
h6 { @extend %h6; }
p { @extend %p; }

::selection { @include selected-text; }
::-moz-selection { @include selected-text; }

a {
  color: $action-color;
  text-decoration: none;
  text-decoration-skip-ink: auto;

  &:hover {
    color: $black;
  }
}

hr {
  @extend %media-box;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px solid rgba(#9e9e9e, .25);
}

mark {
  background-color: $action-color;
}

code,
pre {
  font-family: $base-font-family;
}

blockquote {
  font-style: normal;
  margin: 0;
}

strong {
  font-weight: bold;
}

.text-center { text-align: center; }
.text-accent { color: $action-color; }
.text-success { color: map-get($alert-colors, 'success'); }
.text-error { color: map-get($alert-colors, 'error'); }

.text-appear {
  @extend %appear-text;
}
