{% if is_paginated %}
  <div class="pagination" v-appear="{enabled: $root.isLoaded}">
    <ul>
      {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}"class="prev"></a></li>
      {% endif %}
      {% for page_number in paginator.page_range %}
        <li>
          <a href="?page={{ page_number }}"  {% if page_obj.number == page_number %} class="active"{% endif %}><span>0{{ page_number }}</span></a>
        </li>
      {% endfor %}
      {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}" class="next"></a></li>
      {% endif %}
    </ul>
  </div>
{% endif %}