.cke_editable {
  @extend %content-text;
  background: var(--base-background-color);
  padding: spacing() 20px;

  > :first-child {
    margin-top: 0;
  }

  > * {
    opacity: 1;
    transform: none;
  }
}
