.cms-toolbar-expanded {
  margin-top: 46px;

  .el-message {
    margin-top: 46px;
  }

  .search {
    .close {
      margin-top: 46px;
    }
  }

  .pswp__top-bar {
    margin-top: 46px;
  }

  .mini-cart-drawer {
    margin-top: 46px;
  }

  .main-menu-drawer {
    @include grid('desktop', $down: true) {
      margin-top: 46px;
    }
  }

  .catalog-menu-drawer {
    @include grid('desktop', $down: true) {
      margin-top: 46px;
    }
  }

  .login-drawer {
    @include grid('desktop', $down: true) {
      margin-top: 46px;
    }
  }

  .search-drawer {
    @include grid('desktop', $down: true) {
      margin-top: 46px;
    }
  }

  .search-field {
    @include grid('desktop', $down: true) {
      margin-top: 46px;
    }
  }
}

.cms-toolbar {
  input {
    min-height: 0px !important;
  }
}

div.cms .cms-quicksearch input {
  min-height: 0px !important;
}
