{% load i18n utils_text %}
{% if order %}
  {% if order.status == 'awaiting_payment' %}
    <div class="order-help-text">
      <h4 class="title">{% trans "Plaćanje unaprijed" %}</h4>
      <p>{% blocktrans with amount=order.outstanding_amount|stringify iban="HR3224020061100134749" order_number=order trimmed %}
        Molimo da uplatite iznos od: <strong>{{ amount }}</strong><br>
        s opisom plaćanja: <strong>#{{ order_number }}</strong><br>
        na IBAN: <strong>{{ iban }}</strong>.<br>
        <br>
        Po plaćanju ćemo Vam se javit s informacijom o zaprimljenoj uplati, <br>te Vam poslati narudžbu.
      {% endblocktrans %}</p>
    </div>
  {% elif order.status == 'awaiting_payment_on_delivery' %}
    <div class="order-help-text">
      <h4 class="title">{% trans "Plaćanje pouzećem – samo za domaće pošiljke" %}</h4>
      <p>{% blocktrans with amount=order.outstanding_amount|stringify trimmed %}
        Poštovani,<br>
        Vasa narudžba je zaprimljena te ide u obradu. Dostava se očekuje unutar 5 radnih dana.<br>
        Molimo da platite navedeni iznos od <strong>{{ amount }}</strong> kn kod zaprimljene dostave.
      {% endblocktrans %}</p>
    </div>
  {% elif order.status == 'payment_on_delivery_confirmed' %}
    <div class="order-help-text">
      <h4 class="title">{% trans "Plaćanje pouzećem potvrđeno" %}</h4>
      <p>{% blocktrans trimmed %}
        Poštovani,<br>
        Vaša narudžba je dostavljena i plaćena. Hvala Vam na kupovini.
      {% endblocktrans %}</p>
    </div>
  {% elif order.status == 'paid_with_wspay' %}
    <div class="order-help-text">
      <h4 class="title">{% trans "Plaćanje WSPay-om potvrđeno" %}</h4>
      <p>{% blocktrans trimmed %}
        Poštovani,<br>
        Vaša narudžba je uspješno plaćena. U što kraćem roku ćemo provjeriti Vašu narudžbu te pokrenuti proces dostave. Biti ćete obavješteni kod pokretanja dostave.
      {% endblocktrans %}</p>
    </div>
  {% elif order.status == 'ship_goods' %}
    <div class="order-help-text">
      <h4 class="title">{% trans "Narudžba poslana" %}</h4>
      <p>{% blocktrans trimmed %}
        Poštovani,<br>
        Vaša narudžba je poslana te biti će dostavljena na Vašu adresu u predviđenom roku.
      {% endblocktrans %}</p>
    </div>
  {% elif order.status == 'order_canceled' %}
    <div class="order-help-text">
      <h4 class="title">{% trans "Narudžba otkazana" %}</h4>
      <p>{% blocktrans trimmed %}
        Poštovani,<br>
        Vaša narudžba je otkazana. Hvala Vam na iskazanom interesu.
      {% endblocktrans %}</p>
    </div>
  {% endif %}
{% endif %}
