{% load i18n utils_text %}
{% if order %}
  {% url 'admin:shopit_order_change' order.pk as order_admin_url %}

  {% if order.status == 'awaiting_payment' %}
    <div class="order-help-text">
      <h4 class="title">{% trans "Narudžba je zaprimljena i iščekuje plaćanje." %}</h4>
      <p>{% blocktrans with amount=order.outstanding_amount|stringify iban="HR3224020061100134749" order_number=order trimmed %}
        Narudžba s iznosom: <strong>{{ amount }}</strong><br>
        s opisom plaćanja: <strong>#{{ order_number }}</strong><br>
        treba biti uplaćena na IBAN: <strong>{{ iban }}</strong>.<br>
      {% endblocktrans %}</p>
      <p>{% blocktrans with order_url=ABSOLUTE_BASE_URI|add:order_admin_url %}
        Po zaprimljenoj uplati potrebno je ažurirati <a href="{{ order_url }}">narudžbu</a> na način da:<br>
        1. <strong>Dodate uplaćen iznos na dnu narudžbe.</strong><br>
        2. <strong>Označite narudžbu kao plaćeno.</strong><br>
        3. <strong>Stisnete "Pošalji robu" nakon što ste pokrenuli dostavu.</strong>
      {% endblocktrans %}</p>
    </div>
  {% elif order.status == 'awaiting_payment_on_delivery' %}
    <div class="order-help-text">
      <h4 class="title">{% trans "Narudžba je zaprimljena i treba biti dostavljena." %}</h4>
      <p>{% blocktrans with amount=order.outstanding_amount|stringify trimmed %}
        Narudžba treba biti dostavljena na adresu unutar 5 radnih dana.
      {% endblocktrans %}</p>
      <p>{% blocktrans with order_url=ABSOLUTE_BASE_URI|add:order_admin_url %}
        Po zaprimljenoj uplati potrebno je ažurirati <a href="{{ order_url }}">narudžbu</a> na način da:<br>
        1. <strong>Dodate uplaćen iznos na dnu narudžbe.</strong><br>
        2. <strong>Označite narudžbu kao plaćeno.</strong>
      {% endblocktrans %}</p>
    </div>
  {% elif order.status == 'payment_on_delivery_confirmed' %}
    {# pass #}
  {% elif order.status == 'paid_with_wspay' %}
    <div class="order-help-text">
      <h4 class="title">{% trans "Narudžba je uspješno plaćena." %}</h4>
      <p>{% blocktrans trimmed %}
        Narudžba je plaćena kroz WSPay sistem.
      {% endblocktrans %}</p>
      <p>{% blocktrans with order_url=ABSOLUTE_BASE_URI|add:order_admin_url %}
        Potrebno je ažurirati <a href="{{ order_url }}">narudžbu</a> na način da:<br>
        1. <strong>Označite narudžbu kao plaćeno.</strong><br>
        2. <strong>Stisnete "Pošalji robu" nakon što ste pokrenuli dostavu.</strong>
      {% endblocktrans %}</p>
    </div>
  {% elif order.status == 'ship_goods' %}
    {# pass #}
  {% elif order.status == 'order_canceled' %}
    <div class="order-help-text">
      <h4 class="title">{% trans "Narudžba je odkazana." %}</h4>
      <p>{% blocktrans trimmed %}Akcija nije potrebna.{% endblocktrans %}</p>
    </div>
  {% endif %}
{% endif %}
