{# This template is best included using the 'order' templatetag from `shopit_tags`. #}
{% load i18n shopit_tags utils_text utils_url %}

{% if order %}
  {% comment %}
  {% if is_admin %}
    {% include "shopit/includes/order_status_admin.html" %}
  {% else %}
    {% include "shopit/includes/order_status.html" %}
  {% endif %}
  {% endcomment %}

  <div class="account-order-detail-head">
    <h4 class="order">{% trans "Order" %} #{{ order }}</h4>

    <div class="row-1">
      <p class="date">{% trans "Datum" %} <span>{{ order.created_at|date }}</span></p>
      <p class="status">{% trans "Status" %} <span>{{ order.status_name }}</span></p>
    </div>
    <div class="row-2">
      <p class="billing-address">{% trans "Billing address" %} <span>{{ order.billing_address_text|linebreaksbr }}</span></p>
      <p class="shipping-address">{% trans "Shipping address" %}<span>{{ order.shipping_address_text|linebreaksbr }}</span></p>
    </div>
  </div>

  <div class="account-order-detail-body">
    <div class="items">
      {% for item in order_items %}
        <div class="item">
          <div class="product">
            <span class="product-field">{% trans "Proizvod" %}</span>
            <span class="product-name"><a href="{{ item.product.get_absolute_url }}">{{ item.product_name }}</a></span>
            {% comment %}
            <span class="product-size">100 ml</span>
            {% endcomment %}
            <span class="product-count">x{{ item.quantity }} {% trans "kom" %}.</span>
          </div>
          <div class="price">
            <span class="price-field">{% trans "Price" %}</span>
            <span class="price-price">{{ item.product.price|stringify }}</span>
            <span class="price-count"> x{{ item.quantity }} {% trans "kom" %}. = {{ item.line_total|stringify }}</span>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="account-order-detail-foot">
    <p class="subtotal">{% trans "Ukupna cijena" %} <span>{{ order.subtotal|stringify }}</span></p>
    {% for key, extra in order.extra.rows %}
      <p class="discount">{{ extra.label }}{% if extra.code %} ({{ extra.code }}){% endif %}<span>{{ extra.amount|stringify }}</span></p>
    {% endfor %}
    <p class="total">{% trans "Ukupno za platiti" %} <span>{{ order.total|stringify }}</span></p>
    {% url 'shopit-account-detail' as account_detail_url %}
    <a href="{{ account_detail_url }}" class="button">{% trans "Zatvori" %}</a>
  </div>
{% else %}
  <p>{% trans "No order." %}</p>
{% endif %}
