{% load cms_tags %}

<product-list-item inline-template>
  <div class="product-list-item">
    <div class="wrapper">
      <div class="image">
        <a href="{{ product.get_absolute_url }}">
          <img src="{{ product.primary_image.file.url }}">
        </a>

        <a href="#" class="hexagon-wrapper">
          <span class="icon"></span>
          <div class='outer-layer'>
            <div class='inner-layer'>
            </div>
          </div>
        </a>
      </div>
      <h5 class="name">{{ product.name }}</h5>
      {% if product.caption %} <p class="subtitle">({{ product.caption }})</p>{% endif %}
    </div>
  </div>
</product-list-item>
