<template>
  <div>
    <iframe src="https://iconisagency.com/static/browser-upgrade.html" frameborder="0"></iframe>
  </div>
</template>

<script>
export default {
  name: 'BrowserUpgrade',
  layout: 'blank'
}
</script>

<style lang="scss" scoped>
@import "assets/sass/_resources.scss";

iframe {
  @include size(100%);
  @include position(absolute, 0);
}
</style>
