<template>
  <transition name="search">
    <div class="search" v-show="$root.showSearch">
      <span class="bg"></span>
      <a href="#" class="close" @click.prevent="$root.showSearch = false"></a>

      <div class="container">
        <div class="search-field" :class="{'has-query': query}">
          <div class="field">
            <el-form>
              <el-form-item>
                <el-input v-model="query" :placeholder="$labels.search.placeholder"></el-input>
              </el-form-item>
              <button @click.prevent="search(query)" v-show="false"></button>
            </el-form>
          </div>
        </div>
        <div class="search-results">
          <h6 class="results-title" v-show="!searching && query && results.length">{{ $labels.search.resultsFor }} <span>"{{ storedQuery }}"</span>.</h6>
          <h5 class="msg no-results" v-show="showMsg && !searching && query && !results.length">{{ $labels.search.noResultsFor }} <span>"{{ query }}"</span>.</h5>
          <h5 class="msg empty-query" v-show="showMsg && !query">{{ $labels.search.enterKeywords }}<span>.</span></h5>
          <product-set :products-data="productsData" v-if="!searching && query && results.length"></product-set>
          <a href="#" class="show-more" :class="{'disabled': showMoreDisabled}" @click.prevent="showMore" v-if="next && !searching && query && results.length">{{ $labels.products.showMore }}</a>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
import _ from 'lodash/core'
import qs from 'qs'
import get from 'lodash/get'
import debounce from 'lodash/debounce'
import { mapState } from 'vuex'

import search from '../api/search'

export default {
  name: 'Search',
  data () {
    return {
      query: null,
      searching: false,
      storedQuery: null,
      showMsg: false,
      showMoreLoading: null,
      showMoreDisabled: false
    }
  },
  computed: {
    ...mapState('search', [
      'count',
      'next',
      'previous',
      'results',
      'params',
      'status'
    ]),
    productsData () {
      let products = []
      _.each(this.results, (result) => {
        if (result.product) products.push(result.product)
      })
      return JSON.stringify(products)
    }
  },
  watch: {
    query (newValue) {
      this.search(newValue)
    },
    status (newValue) {
      if (newValue === 'success' || newValue === 'error') {
        this.storedQuery = this.query
        _.delay(() => {
          this.searching = false
          if (this.showMoreLoading) this.showMoreLoading.close()
          this.showMoreDisabled = false
        }, 100)
      }
    },
    '$root.showSearch' (newValue) {
      if (!newValue) {
        _.delay(() => {
          this.query = null
          this.showMsg = false
          this.$store.dispatch('search/reset');
        }, 500)
      }
      else {
        _.delay(() => {
          this.showMsg = true
          this.$el.querySelector('input').focus()
        }, 800)
      }
    }
  },
  mounted() {
    window.addEventListener('keydown', event => {
      if (event.keyCode === 27) this.$root.showSearch = false
    })
  },
  methods: {
    search (query) {
      if (query && query.length) {
        this.searching = true
        this.$store.dispatch('search/fetch', {'q': query})
      }
    },
    showMore () {
      if (this.next && !this.showMoreDisabled) {
        this.showMoreDisabled = true
        _.delay(() => {
          let params = _.clone(this.params)
          let nextData = qs.parse(this.next)
          params['limit'] = get(nextData, 'limit', 4)
          params['offset'] = get(nextData, 'offset', 0)
          search.getResults(params, data => {
            data['append'] = true
            this.$store.commit('search/setData', data)
            this.showMoreDisabled = false
          })
        }, 500)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import "assets/sass/_resources.scss";

.search-enter-active,
.search-leave-active {
  opacity: 0;

  .search-field {
    @include trans($duration: 2, $delay: 4);
    opacity: 0;
    transform: translateY(spacing(-1));
  }
}

.search-leave-active {
  .search-field,
  .close {
    transition-delay: 0s !important;
  }
}

.search-enter-to,
.search-leave {
  &,
  .search-field {
    opacity: 1;
    transform: none;
  }
}


.search {
  @include trans($duration: 2);
  @include position(fixed, 0);
  padding: spacing(2) $edge spacing(2);
  z-index: 2019;
  overflow: auto;

  @include grid('desktop') {
    padding-top: spacing(5);
    padding-bottom: spacing(3);
  }

  &::before {
    z-index: 5;
  }

  .bg {
    @include trans((transform, opacity));
    @include position(fixed, 0);
    background-color: var(--background);
  }

  .close {
    @include position(absolute, spacing(2.8) $edge null null);
    @include icon('icon-Close');
    @include trans(color);
    color: var(--gold);
    z-index: 4;
    display: block;
    font-weight: 700;

    @include grid('desktop') {
      right: spacing(2);
      top: spacing(2);
    }

    &:hover {
      color: $action-color;
    }
  }

  .msg {
    @include position(fixed, 47% 0 null 0);
    text-align: center;
    margin: 0;
    color: $action-color;
    z-index: 10;
    padding: 0 $edge;

    @include grid('desktop') {
      font-size: modular-scale(6);
    }

    span {
      color: var(--gold);
    }
  }

  .show-more {
    @extend %button;
    display: table;
    margin: 0 auto spacing(2);
    position: relative;

    &.disabled {
      cursor: wait;
    }
  }
}

.search-field {
  @include trans(transform, $duration: 3);
  z-index: 5;
  position: relative;
  width: calc(100% - #{$edge} - #{spacing(2)});

  @include grid('desktop') {
    width: 800px;
    margin: 0 auto;
  }

  input {
    background: $white !important;
    border-bottom: 1px solid draken($light-gray, 10%);
    border-left: 0;
    border-right: 0;
    border-top: 0;
    color: var(--gold) !important;
    font-size: modular-scale(4);
    height: spacing(4);

    &::placeholder {
      color: var(--dark-gray) !important;
    }
  }

  label {
    text-align: center;
    width: 100%;
    color: var(--dark-gray);
    margin-bottom: spacing();
  }
}

.search-loading {
  @include position(fixed, 0);
  z-index: 3;
  padding: 0 $edge;

  .el-loading-mask {
    background-color: transparentize($white, .3);
  }
}

.search-results {
  position: relative;
  z-index: 2;

  .results-title {
    color: $action-color;
    z-index: 4;
    position: relative;
    margin-top: spacing(3);

    @include grid('desktop') {
      text-align: center;
    }

    span { color: var(--gold); }
  }

  .product-set {
    padding-top: spacing();

    .title {
      display: none;

      @include grid('desktop') {
        display: none;
      }
    }
  }
}
</style>
