$appear-offset: 50px !default;

@mixin appear {
  @include grid("tablet") {
    @include trans("appear");
    opacity: 0;
  }

  &.appear {
    @include grid("tablet") {
      opacity: 1;
    }
  }
}

%appear {
  @include appear;
}

%appear-text {
  @include appear;
  transform: translateY($appear-offset);

  &.appear {
    transform: none;
  }
}

%appear-media {
  @extend %appear-text;
}
