@mixin button-padding {
  padding: spacing() spacing(1.5);

  @include grid('desktop') {
    padding: spacing(1.5);
  }
}

%_button-base {
  @include trans('button');
  @include trans;
  @include button-padding;
  appearance: none;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: $base-border-radius;
  box-shadow: 0;
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-weight: 500;
  line-height: 1;
  margin: 0;
  min-width: $button-width-mobile;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  text-transform: uppercase;

  &:focus { outline: 0; }

  &:disabled {
    background: var(--light-gray) !important;
    border-color: var(--light-gray) !important;
    cursor: not-allowed;
    opacity: .5;
  }

  span {
    position: relative;
    z-index: 1;
  }
}

%button--small {
  min-width: $button-width-small;
  padding: spacing(1.25);
}

%button--smaller {
  min-width: $button-width-small;
  padding: spacing(1);
}

%button {
  @extend %_button-base;
  background: var(--orange);
  border: 1px solid var(--orange);
  color: var(--dark-gray);

  &:hover {
    background: transparent;
    border-color: var(--lighter-gray);
    color: var(--dark-gray);
  }

  &:active {
    background: rgba(var(--orange), .5);
    border-color: rgba(var(--orange), .5);
    color: $white;
  }
}

%button-green {
  @extend %_button-base;
  background: var(--green);
  border: 1px solid var(--green);
  color: var(--white);

  &:hover {
    background: var(--orange);
    border-color: var(--orange);
    color: var(--dark-gray);
  }

  &:active {
    background: rgba(var(--gree), .5);
    border-color: rgba(var(--gree), .5);
    color: $white;
  }
}

%button-beige {
  @extend %_button-base;
  background: var(--light-beige);
  border: 1px solid var(--light-beige);
  color: var(--dark-gray);

  &:hover {
    background: var(--medium-gray);
    border-color: var(--medium-gray);
    color: var(--lighter-gray);
  }

  &:active {
    background: rgba(var(--gree), .5);
    border-color: rgba(var(--gree), .5);
    color: $white;
  }
}

%button-white {
  @extend %button;
  width: 100%;
  background-color: var(--white);
  color: var(--dark-gray);
  border-color: var(--lighter-gray);

  &:hover {
    background-color: var(--green);
    color: var(--white);
  }

  &:active {
    background: rgba(var(--gree), .5);
    border-color: rgba(var(--gree), .5);
    color: $white;
  }
}

%button-transparent {
  @extend %_button-base;
  background: transparent;
  border-color: var(--lighter-gray);
  color: var(--dark-gray);

  &:hover {
    background: var(--green);
    border: 1px solid var(--green);
    color: var(--white);
  }

  &:active {
    background: rgba(var(--orange), .5);
    border-color: rgba(var(--orange), .5);
    color: $white;
  }
}

%_navbar-link {
  @include plumber-size('nav-button');
  @include trans;
  align-items: center;
  color: var(--medium-black);
  display: flex;
  flex-direction: row;
  font-weight: 500;
  justify-content: space-between;
  margin-top: 0 !important;
  text-transform: uppercase;

  // icon style
  &::before {
    font-size: 2em;
    margin-right: spacing(.5);

    @include grid('desktop') {
      margin-right: spacing();
    }
  }
}
