$white: #fff;
$black: #000;

$gray: #8a8f9c;
$dark-gray: #656973;
$medium-gray: #cfcfcf;
$medium-gray-2: #9e9e9e;
$light-gray: #efefef;

$blue: #93a6cc;
$light-blue: #a0b0d1;
$dark-blue: #66758e;
$darker-blue: #3b4453;

$red: #f10022;
$dark-red: #d00227;

$rose: #daa9a2;

$yellow: #ffebc8;
$light-yellow: #f1e6d2;
$dark-yellow: #f8e1b8;

$gold: #937f4e;
$light-gold: #f7f6f2;

$beige: #f7f4ed;
$light-beige: #f1edd6;
$dark-beige: #a79861;

:root {
  --white: #fff;
  --black: #000;
  --medium-black: #303a2d;
  --dark-gray: #4f4f4f;
  --medium-gray: #8e8e8e;
  --medium-gray-2: #9e9e9e;
  --light-gray: #f1f1f1;
  --dark-green: #303a2d;
  --green: #6a9b62;
  --light-green: #e2eedf;
  --gold: #b49834;
  --light-gold: #f5f2e2;
  --orange: #fed952;
  --light-orange: #ffd600;
  --beige: #d8d4b8;
  --light-beige: #f1edd6;
  --dark-beige: #a79861;
  --error-red: #e30d0d;
  --discount-red: #e03636;
  --background: #fbfaf8;

  --base-background-color: var(--background);

  //extra
  --lighter-gray: #e2e2e2;
  --lighter-green: #e1eedf;
  --darker-gray: #716e69;
}

// Modded colors
$transparent-white: transparentize($white, .5);
$transparent-white-more: transparentize($white, .7);
$transparent-black: transparentize($black, .5);
$transparent-blue: transparentize($blue, .7);
$transparent-rose: transparentize($rose, .7);
$transparent-gray: transparentize($gray, .85);
$transparent-yellow: transparentize($yellow, .5);

$social-colors: (
  'google-plus': #d34836,
  'facebook': #3b5998,
  'twitter': #55acee,
  'linked-in': #0077b5,
  'pinterest': #bd081c,
  'youtube': #ff0,
  'foursquare': #2d5be3,
  'instagram': #bc2a8d,
  'whatsapp': #67c15e,
  'viber': #7f4da0,
);

$alert-colors: (
  'warning': #f7b422,
  'error': #d24219,
  'info': #0099fa,
  'success': #fed952,
);
