$_form-box-shadow: $small-box-shadow;
$_form-box-shadow-focus: $base-box-shadow;

%input {
  @include trans;
  @include plumber-size('p', $bottom: 0);
  appearance: none;
  background-color: transparent;
  border: 0;
  border-bottom: $base-border;
  border-radius: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: $black;
  font-weight: normal;
  height: $form-input-height;
  margin: 0 !important;
  padding: 0;
  width: 100%;

  &::placeholder {
    color: $black;
    font-weight: normal;
  }


  &:hover {
    border-color: var(--medium-gray);
  }

  &:focus {
    border-color: $black;
    box-shadow: $_form-box-shadow-focus;
    outline: none;
  }

  &:disabled {
    background: transparent;
    cursor: not-allowed;
    opacity: .5;
  }
}
