%indented-blocks {
  margin-left: auto;
  margin-right: auto;
  max-width: $indented-block-width;
}

%indented {
  margin-left: auto;
  margin-right: auto;
  max-width: $indented-width;
}

%indented-text {
  @extend %indented;
  max-width: $indented-text-width;
}
