%ul {
  @include plumber-box($margin: 4);
  list-style-type: none;

  @include grid('desktop') {
    padding-left: spacing(2);
  }

  li {
    @extend %p;
    color: var(--dark-gray);
    padding-left: spacing(1.5);
    position: relative;

    @include grid('desktop') {
      padding-left: spacing(1.5);
    }

    &:hover::before {
      background: var(--medium-gray);
    }

    &::before {
      @include position(absolute, spacing() null null 0);
      @include trans('link');
      @include size(10px);
      backface-visibility: hidden;
      background: var(--orange);
      border-radius: 100%;
      content: '';
      display: block;
    }
  }
}

%ol {
  @include plumber-box($margin: 2);

  @include grid('desktop') {
    padding-left: spacing(2);
  }

  li {
    @extend %p;
    color: var(--dark-gray);
    counter-increment: list;
    list-style-type: none;
    padding-left: spacing(1.5);
    position: relative;

    @include grid('desktop') {
      padding-left: spacing(1.5);
    }

    &::before {
      color: var(--medium-gray);
      content: counter(list) '.';
      left: 0;
      position: absolute;
    }
  }
}
