%table {
  @extend %media-box;
  border-collapse: collapse;
  box-sizing: border-box;
  outline: $light-border;
  border: $light-border;
  overflow: hidden;
  table-layout: fixed;
  text-align: left;
  width: 100%;

  @include grid('mobile-large', $down: true) {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }

  thead {
    line-height: $base-line-height;
    vertical-align: bottom;
  }

  tbody {
    vertical-align: top;
  }

  tr {
    background: $white;
    border-bottom: 0;
  }

  th {
    font-weight: 700;
    background: var(--beige);
    color: $white;
    word-break: break-all;

    @include grid('desktop') {
      word-break: keep-all;
    }

    > * {
      @include plumber-size('h5');
      font-family: $heading-font-family;
      padding: 0 !important;
      margin: 0 !important;
    }
  }

  th,
  td {
    padding: 16px !important;

    @include grid('desktop') {
      padding: 24px !important;
    }
  }

  td {
    color: $base-font-color;

    > * {
      @include plumber-size('p-small');
      padding: 0 !important;
      margin: 0 !important;
    }
  }
}
