%heading {
  color: $black;
  font-family: $heading-font-family;
  font-weight: normal;
  position: relative;
}

%h1 {
  @include plumber-size('h1');
  font-weight: 700;
  color: var(--dark-green);
}

%h2 {
  @include plumber-size('h2');
  font-weight: 700;
}

%h3 {
  @include plumber-size('h3');
  font-weight: 700;
}

%h4 {
  @include plumber-size('h4');
  font-weight: 700;
}

%h5 {
  @include plumber-size('h5');
  font-weight: 700;
}

%h6 {
  @include plumber-size('h6');
  font-weight: 700;

  @include grid('desktop') {
    font-weight: 500;
  }
}

%p {
  @include plumber-size('p');
}

@mixin selected-text {
  background: orange;
  color: $white;
}

%text-link {
  @include trans('link');
  color: $action-color;

  &:hover {
    color: $black;
  }
}

%text-wrapper {
  table { @extend %table; }
  ol { @extend %ol; }
  p a { @extend %text-link; }
  ul:not(.pagination):not(.errorlist):not(.messages) { @extend %ul; }
}
