// Grid (https://medium.freecodecamp.org/the-100-correct-way-to-do-css-breakpoints-88d6a5ba1862)
$edge: 20px;
$gutter: 30px;
$columns: 12;
$container: 1450px;
$container-large: 1920px;
$container-small: 1250px;
$neat-grid: (columns: $columns, gutter: $gutter);
$edge-grid: (gutter: $edge);

$grids: (
  'mobile-large': 400px,
  'tablet': 600px,
  'tablet-large': 900px,
  'desktop': 1200px,
  'desktop-large': 1366px,
  'desktop-huge': 1600px,
  'desktop-giant': 1800px,
  'desktop-mega': 2200px,
);

$alert-colors: (
  'warning': #f7b422,
  'error': #d24219,
  'info': #0099fa,
  'success': #fed952
);

// Typography & Vertical rhythm
$base-font-family: 'Work Sans', sans-serif;
$base-font-baseline: .154;
$heading-font-family: 'Vollkorn', serif;
$heading-font-baseline: .240;
$home-heading-font-family: 'Merienda One', cursive;
$home-heading-font-baseline: .080;

$base-grid-height: .5rem; // 8px
$base-line-height: $base-grid-height * 2;

$bourbon: (
  'modular-scale-ratio': 1.15
);

@include plumber-set-defaults(
  $grid-height: $base-grid-height,
  $baseline: $base-font-baseline,
  $font-size: ms(5),
  $line-height: 4,
  $leading-top: 0,
  $leading-bottom: 0
);

// Text size
$plumber-size-baseline: $heading-font-baseline;
$plumber-size-grids: (
  'large': grid-get('desktop'),
  'huge': grid-get('desktop-huge'),
);
$plumber-size: (
  'h1': (
    'default': ('size': 7, 'line': 4, 'bottom': 4),
    'large': ('size': 10, 'line': 8),
  ),
  'h2': (
    'default': ('size': 6, 'line': 4, 'top': 2, 'bottom': 1),
    'large': ('size': 8, 'line': 5, 'top': 2, 'bottom': 1),
  ),
  'h3': (
    'default': ('size': 5, 'line': 3, 'top': 1, 'bottom': 1),
    'large': ('size': 7, 'line': 4, 'top': 1, 'bottom': 1),
  ),
  'h4': (
    'default': ('size': 4, 'line': 2, 'top': 1, 'bottom': 1),
    'large': ('size': 6, 'line': 3, 'top': 1, 'bottom': 1),
  ),
  'h5': (
    'default': ('size': 3, 'line': 2, 'top': 1, 'bottom': 1),
    'large': ('size': 5, 'line': 3, 'top': 1, 'bottom': 1),
  ),
  'h6': (
    'default': ('size': 3, 'line': 2, 'top': 1, 'bottom': 1),
    'large': ('size': 4, 'line': 3, 'top': 1, 'bottom': 1),
  ),
  'p': (
    'default': ('size': 3, 'line': 2, 'bottom': 1),
    'large': ('size': 4, 'line': 3, 'bottom': 1),
  ),
  'p-small': (
    'default': ('size': 2, 'line': 2, 'bottom': 1),
    'large': ('size': 2, 'line': 2, 'bottom': 1),
  ),
  'p-medium': (
    'default': ('size': 2, 'line': 3, 'bottom': 1),
    'large': ('size': 3, 'line': 3, 'bottom': 1),
  ),
  'p-extra-small': (
    'default': ('size': 2, 'line': 2, 'bottom': 1),
    'large': ('size': 2, 'line': 2, 'bottom': 1),
  ),
  'p-ultra-small': (
    'default': ('size': 2, 'line': 2, 'bottom': 0),
    'large': ('size': 2, 'line': 2, 'bottom': 0),
  ),
  'nav-button': (
    'default': ('size': 2, 'line': 2, 'top': 0, 'bottom': 0),
    'large': ('size': 4, 'line': 3, 'top': 0, 'bottom': 0),
  ),
);

// Other Sizes
$spacing: $base-grid-height;
$spacing-factor: 2;

// Colors
$action-color: var(--gold);
$base-font-color: var(--medium-gray);
$base-border-color: var(--light-beige);
$light-border-color: var(--light-beige);

// Borders
$small-border-radius: 4px;
$base-border-radius: 8px;
$medium-border-radius: 12px;
$large-border-radius: 16px;
$huge-border-radius: 20px;
$base-border: 1px solid $base-border-color;
$light-border: 1px solid $light-border-color;
$dark-border: 1px solid $gray;

// Focus
$focus-outline-color: red;
$focus-outline-width: 3px;
$focus-outline: $focus-outline-width solid $focus-outline-color;
$focus-outline-offset: 2px;

// Shadow
$base-box-shadow-init: 0 0 0 transparentize($dark-blue, .95);
$base-box-shadow: 1px 1px 18px rgba(145, 145, 145, 0.15);
$small-box-shadow: 0 5px 7px transparentize($dark-blue, .95);
$polygon-box-shadow: 1px 1px 18px rgba(145, 145, 145, 0.15);

// Transitions
$trans: (
  duration: (
    'default': 350ms,
    'fast': 150ms,
    'slow': 600ms,
    'slower': 900ms,
  ),
  timing: (
    'default': $ease-out-quad,
    'in': $ease-in-quad,
    'out': $ease-out-quad,
    'in-out': $ease-in-out-quad,
  ),
  delay: (
    'default': 50ms,
  ),
  presets: (
    'appear': (property: (opacity, transform), duration: 'slow'),
    'link': (duration: 'fast'),
    'button': (duration: 'fast'),
  )
);

// Header
$header-height: spacing(3);

// Content
$content-padding-top: spacing(6);
$content-padding-top-small: spacing(2);
$content-padding-bottom: spacing(6);
$content-padding-bottom-small: spacing(3);
$content-padding: $content-padding-top $edge $content-padding-bottom;
$content-padding-small: $content-padding-top-small $edge $content-padding-bottom-small;

// Footer
$footer-height: spacing(4);

// Indented
$indented-block-width: 1280px;
$indented-width: 900px;
$indented-text-width: 700px;

// Overlay
$overlay-color: transparentize($black, .7);
$overlay-color-dark: transparentize($black, .5);
$overlay-color-white: transparentize($white, .5);
$overlay-transition: trans();

// Plyr
$plyr-color-main: $action-color;

// Photoswipe
$pswp__assets-path: '~photoswipe/src/css/default-skin/';
$pswp__placeholder-color: transparent;

// Button
$button-width-mobile: 190px;
$button-width: 190px;
$button-width-small: 190px;

// Forms
$form-input-height: spacing(3);
$form-input-selectors: 'input:not([data-plyr]):not(.el-range-input):not([type='checkbox']):not([type='radio']), textarea';

// Appear
$appear-offset: spacing(3);
$appear-image-delay: trans-delay(2);

// Gradient
$poster-gradient: linear-gradient( rgba(35, 31, 32, 0.65), rgba(35, 31, 32, 0.65));
