{% load i18n shopit_tags static %}
{% load cms_tags menu_tags i18n utils_url %}
<catalog-menu inline-template>
  <div class="catalog-menu">
    <a href="javascript:void"
      class="catalog-menu-button"
      :class="{'catalog-menu-button--open': open}"
      @click.prevent="toggleMenu">
    </a>

    <div class="catalog-menu-drawer" :class="{'catalog-menu-drawer--open': open}">
      <span class="catalog-menu-drawer-bg" @click.prevent="open = false"></span>

      <div class="catalog-menu-wrapper">
        <a href="javascript:void(0)" @click.prevent="open = false" class="catalog-menu-close"></a>

        {% get_categorization 'category' level=0 as main_categories %}
     {%comment%}   {% for cat in main_categories %}
          <span
            class="catalog-menu-image"
            :style="{'background-image': `url('{{ cat.featured_image.url }}')`}"
            :class="{'active': isActive({{ forloop.counter0 }})}"></span>
        {% endfor %}
{% endcomment %}
        <ul class="catalog-menu-list">
          {% for child in children %}
            {% include "modules/header/main_menu_item.html" %}
          {% endfor %}
 {% comment %}          {% for cat in main_categories %}
            {% include "modules/header/catalog_menu_item.html" %}
          {% endfor %}{% endcomment %}
        </ul>
      </div>
    </div>

  </div>
</catalog-menu>
