{% load i18n %}

<login inline-template>
  <div class="login">
    <a href="javascript:void"
    class="login-button"
    :class="{'login-button--open': open}"
    @click.prevent="toggleMenu">
      {% if customer.is_authenticated %}
        <span class="login-user">{{ customer.email }}</span>
      {% else %}
        <span class="login-button-text">{% trans "Prijava" %}</span>
      {% endif %}
    </a>

    <span class="login-drawer-bg" @click.prevent="open = false" :class="{'login-drawer-bg--open': open}"></span>

    <div class="login-drawer" :class="{'login-drawer--open': open}">
      <div class="login-wrapper">
        <a href="javascript:void(0)" @click.prevent="open = false" class="login-close"></a>
        <login-register-form></login-register-form>
      </div>
    </div>
  </div>
</login>
