<main-menu-item inline-template>
  <li class="main-menu-item {% if child.selected %}main-menu-item--active{% endif %}">
    <a
      href="{{ child.attr.redirect_url|default:child.get_absolute_url }}"
      class="main-menu-link">
      {{ child.get_menu_title }}
    </a>
  </li>
</main-menu-item>
