
{% load cms_tags menu_tags i18n utils_url shopit_tags %}

<main-menu inline-template>
  <div class="main-menu">
    <a href="javascript:void"
      class="main-menu-button"
      :class="{'main-menu-button--open': open}"
      @click.prevent="toggleMenu">
        <span class="main-menu-button-text">{% trans "Menu" context "navigation" %}</span>
    </a>

    <div class="main-menu-drawer" :class="{'main-menu-drawer--open': open}">
      <span class="main-menu-drawer-bg" @click.prevent="open = false"></span>

      <div class="main-menu-wrapper">
        <a href="javascript:void(0)" @click.prevent="open = false" class="main-menu-close"></a>

        <ul class="main-menu-list">
          {% for child in children %}
            {% include "modules/header/main_menu_item.html" %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</main-menu>
