{% load i18n %}

<search inline-template>
  <div class="search">
    <a href="javascript:void"
      class="search-button"
      :class="{'search-button--open': open}"
      @click.prevent="toggleMenu">
        <span class="search-button-text">{% trans "Pretraga" %}</span>
    </a>

    <div class="search-drawer" :class="{'search-drawer--open': open}">
      <span class="search-drawer-bg" @click.prevent="open = false"></span>

      <div class="search-wrapper">
        <a href="javascript:void(0)" @click.prevent="open = false" class="search-close"></a>
      </div>
    </div>
  </div>
</search>
