{% extends "shopit/catalog/base.html" %}
{% load cms_tags i18n shopit_tags %}

{% block head_class %}head head-product-list{% endblock %}

{% block head_image_with_content %}{% endblock  %}

{% block content_class %}{{ block.super }} content-product-list{% endblock %}

{% block content %}
  <product-head-content inline-template>
    <div class="product-head" v-appear="{enabled: $root.isLoaded}" v-cloak>
      <div class="container">
        <h1 class="product-head-title">{% block page_title %}{% page_attribute "page_title" %}{% endblock %}</h1>

        <div class="product-head-content">
          <a href="javascript:void"
            class="product-head-button"
            :class="{'product-head-button--active': toggle}"
            @click.prevent="toggle = !toggle">
            {% trans "Izaberite kategoriju" %}
          </a>

          <transition @enter="showChildren" @leave="hideChildren">
            <div class="product-head-wrapper" v-show="toggle">
              <ul class="product-head-list" :class="{'product-head-list--active': toggle}">
                <li class="product-head-item {% if not category.get_root %}active{% endif %}">
                  <a href="{% page_url 'catalog' as catalog_url %}{{ catalog_url }}" class="product-head-link">{% trans "Svi proizvodi" %}</a>
                </li>

                {% get_categorization 'category' level=0 as main_categories %}
                {% for cat in main_categories %}
                <li class="product-head-item {% if cat == category.get_root %}active{% endif %}">
                  <a href="{{ cat.get_absolute_url }}" class="product-head-link">{{ cat }}</a>
                </li>
                {% endfor %}
              </ul>
            </div>
          </transition>
        </div>
      </div>
    </div>
  </product-head-content>

  <product-list></product-list>
{% endblock %}

{% block foot_class %}foot-product-list{% endblock %}

{% block foot_flower %}
  <span class="foot-bottle"></span>
{% endblock %}
