{% extends "shopit/base.html" %}
{% load i18n cms_tags shop_tags shopit_tags shopit_extra thumbnail static menu_tags utils_url %}

{% block title %}{{ data.name }}{% endblock %}
{% block meta_description %}{{ data.description|striptags|truncatechars:155 }}{% endblock %}
{% block page_title %}{% render_model_block product 'name,slug' %}{{ data.name }}{% endrender_model_block %}{% endblock %}

{% block head_attrs %} prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# product:
http://ogp.me/ns/product#"{% endblock %}

{% block og %}
{% with domain=request.scheme|add:"://"|add:request.site.domain %}
<meta property="og:title" content="{{ data.name }}">
<meta property="og:description" content="{{ data.description|striptags|truncatechars:155 }}">
{% if product.primary_image %}
<meta property="og:image" content="{{ domain }}{{ product.primary_image.file.url }}">{% endif %}
<meta property="og:url" content="{{ domain }}{{ request.path }}">
<meta property="og:type" content="product">
<meta property="product:availability" content="{% if data.quantity > 0 %}instock{% else %}oos{% endif %}">
{% if product.category %}
<meta property="product:category" content="{{ product.category.name }}">{% endif %}
<meta property="product:condition" content="new">
<meta property="product:ean" content="{{ data.code }}">
<meta property="product:is_product_shareable" content="true">
<meta property="product:price:amount" content="{{ product.price|og_money }}">
<meta property="product:price:currency" content="HRK">
{% endwith %}
{% endblock %}

{% block head_image_with_content %}{% endblock %}

{% block content_class %}{{ block.super }} content-product-detail{% endblock %}

{% block content %}

  <div class="container">


<product-detail :product-data="'{{ data|rest_json|escapejs }}'" inline-template>
  <section class="product-detail" v-appear="{enabled: $root.isLoaded}">
   <h1 class="head-title text-center">
          {{ product.name }}
        </h1>
    <h2 class="head-title text-center flags">
       {% for flag in product.get_flags %}
            <span>{{ flag.code }}</span>
          {% endfor %}
    </h2>
  <h2 class="head-title text-center">
     {% get_categorization 'category' level=0 as main_categories %}
    {% for cat in main_categories %}
                  {% if cat.name == product.category.name %}
                    <span class="product-categories-item active">
                      <a href="{{ cat.get_absolute_url }}" class="product-categories-link">{{ cat }}</a>
                    </span>
                  {% endif %}

                  {% endfor %}
                </h2>
        {% if product.caption %}<h3 class="head-subtitle text-center">({{ product.caption }})</h3>{% endif %}
    <div class="product-illustration">
      <img src="{% static 'images/product-detail-bg.png' %}">
    </div>



      <div class="head-content-product-detail" v-appear="{enabled: $root.isLoaded}">

       <div class="product-image" v-appear="{enabled: $root.isLoaded}">
        <img src="{{ product.primary_image.file.url }}" alt="{{ product.name }}">
      </div>
        <div class="product-body-footer">
          <div class="availability" v-appear="{enabled: $root.isLoaded}">
            <span class="button-is-available" key="is-available" v-if="isAvailable" v-text="$labels.products.isAvailable"></span>
            <span class="button-not-available" key="not-available" v-if="!isAvailable" v-text="$labels.products.notAvailable"></span>
          </div>

          <div class="pricing" v-appear="{enabled: $root.isLoaded}" :class="{'discount': currentProduct.is_discounted}">
            <div class="discount-icon-wrapper" v-if="currentProduct.is_discounted">
              <span class="discount-icon">%</span>
              <div class='discount-icon-outer-layer'>
                <div class='discount-icon-inner-layer'></div>
              </div>
            </div>

            <div class="prices">
              <span class="price">{{ data.price }}</span>
              <span class="price-without-discount" v-if="currentProduct.is_discounted">{{ data.unit_price }}</span>
            </div>
          </div>

          <div class="actions" v-appear="{enabled: $root.isLoaded}">
            <div class="add-to-cart-wrapper" >
              <add-to-cart
                :url="product.add_to_cart_url"
                @success="localCartQuantity = $event.quantity"
                v-if="isAvailable"
                v-text="$labels.cart.cartToCart">
              </add-to-cart>
              </div>
            <div class="add-to-cart-wrapper" style="margin-top:1rem;">
              <add-to-cart
                :url="product.add_to_cart_url"
                @success="localCartQuantity = $event.quantity"
                key="add"
                v-if="isAvailable">
              </add-to-cart>

            </div>

          </div>
        </div>
      </div>



      <div class="inner-container">

        <div class="product-body" v-appear.children="{enabled: $root.isLoaded}">
          {% render_placeholder product.content %}
          {% if not product.content.get_plugins.exists %}<p>{% trans "Nema sadržaja." %}</p>{% endif %}
        </div>
 <product-categories inline-template>
    <div class="product-head-wrapper text-center" style="margin-top: 10px;margin-bottom:20px">


      {% comment %}      <a href="{% page_url 'catalog' as catalog_url %}{{ catalog_url }}" class="product-categories-link">{% trans "Svi proizvodi" %}</a>
               &nbsp;{% endcomment %}
      <div stlye="display:flex;flex-direction:row;flex-wrap:wrap">
      {% get_categorization 'category' level=0 as main_categories %}
      {% for cat in main_categories %}

        <a href="{{ cat.get_absolute_url }}" class="product-categories-link kategorija" style="display:inline-block">{{ cat }}</a>

      {% endfor %}
</div>
    </div>
    </product-categories>

        {# If related products specified use them, in other case show products from same category. #}
        {% get_serialized_product product.get_related_products|slice:":100" many=True as related_products %}
        <product-set
          title="{% trans "Izdvojeno iz ponude" as title_trans %}{{ title_trans|escapejs }}"
          :exclude-ids='[{{ data.id }}]'
          :limit="4"
          {% if related_products %}:products-data="'{{ related_products|rest_json|escapejs }}'"
          {% elif product.category %}:categories='["{{ product.category.slug|escapejs }}"{% for c in product.category.get_descendants %},"{{ c.slug|escapejs }}"{% endfor %}]'{% endif %}>
        </product-set>

      </div>
    </div>
  </section>
</product-detail>
{% endblock %}
