<script>
import { TweenMax, Power4 } from 'gsap'

export default {
  name: 'ProductHeadContent',
  data () {
    return {
      toggle: false,
    }
  },
  methods: {
    showChildren (el, done) {
      TweenMax.set(el, {'height': 'auto'})
      TweenMax.from(el, this.$config.animation.duration, {'height': 0, ease: Power4.easeOut, onComplete: () => {
        done()
      }})
    },
    hideChildren (el, done) {
      TweenMax.set(el, {'height': 'auto'})
      setTimeout(() => {
        TweenMax.to(el, this.$config.animation.duration, {'height': 0, ease: Power4.easeOut, onComplete: () => {
          done()
        }})
      }, this.$config.animation.duration / 3 * 1000)
    }
  }
}
</script>

<style lang="scss" scoped>
@import "assets/sass/_resources.scss";

.product-head {
  @extend %appear;
  @include grid-container;
  position: relative;
  z-index: 1;
  margin-bottom: spacing(2);

  @include grid('desktop-large') {
    margin-bottom: spacing(6);
  }
}

.container {
  @include grid-container;
  max-width: 1865px;

  @include grid('desktop-large') {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    align-items: start;
    justify-content: start;
  }

  @include grid('desktop-huge') {
    grid-template-columns: 1fr 2fr;
  }

  @include grid('desktop-giant') {
    grid-template-columns: 1.5fr 2fr;
  }
}

.product-head-title {
  @include plumber-size('h2');
  padding: 0 !important;
  margin: 0 !important;
  text-align: center;
  line-height: 1.5;

  @include grid('desktop-large', $down: true) {
    margin-bottom: spacing(2) !important;
  }

  @include grid('desktop-large') {
    @include plumber-size('h2');
    padding: 0 !important;
    margin: 0 !important;
    flex: 1;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex: 1;
    text-align: left;
    margin-left: 2rem !important;
  }
}

.product-head-content {
  @include trans((background-color, border));
  max-width: 600px;
  margin: 0 auto;

  @include grid('desktop-large', $down: true) {
    background-color: var(--white);
    border-radius: $small-border-radius;
    border: 1px solid var(--light-green);
  }

  @include grid('desktop-large') {
    align-items: center;
    display: flex;
    flex-direction: row;
    max-width: 100%;
  }
}

.product-head-button {
  @include trans(color);
  font-size: modular-scale(1);
  color: var(--dark-green);
  display: block;
  font-family: $heading-font-family;
  font-weight: 700;
  position: relative;
  margin: 0;
  padding: spacing();

  @include grid('desktop') {
    font-size: modular-scale(2);
  }

  @include grid('desktop-large') {
    display: none !important;
  }

  @include icon('icon-Arrow-bottom') {
    @include trans(transform);
    position: absolute;
    right: spacing();
    transform-box: fill-box;
    transform-origin: center center;
    transform-style: preserve-3d;
  }
}

.product-head-button--active {
  @include grid('desktop-large', $down: true) {
    color: var(--medium-gray-2);
  }

  @include icon('icon-Arrow-bottom') {
    transform: rotate(180deg);
  }
}

.product-head-wrapper {
  @include grid-container;

  @include grid('desktop-large'){
    @include grid-collapse;
    display: block !important;
    height: auto !important;
  }
}

.product-head-list {
  @include trans((visibility, opacity));

  @include grid('desktop-large', $down: true) {
    opacity: 0;
    visibility: hidden;
  }
}

.product-head-list--active {
  @include grid('desktop-large', $down: true) {
    opacity: 1;
    visibility: visible;
  }
}

.product-head-item {
  padding: spacing() spacing() 0;

  @include grid('desktop-large'){
    padding: 0;
    margin-right: spacing(2);
    display: inline-block;
  }

  &.active {
    a {
      color: var(--dark-green);
      font-weight: 500;
    }
  }

  &:last-child {
    .product-head-link {
      @include grid('desktop-large', $down: true) {
        border: none;
      }
    }
  }

  &:hover {
    .product-head-link {
      color: var(--orange);

      @include grid('desktop-large') {
        color: var(--black);
      }
    }
  }
}

.product-head-link {
  @include plumber-size('p');
  @include trans((background-color, color, border-color));
  border-bottom: 1px solid var(--lighter-gray);
  color: var(--dark-green);
  display: block;
  margin: 0;
  padding: 0 0 spacing();
  position: relative;

  @include grid('desktop-large') {
    color: var(--medium-gray);
    border-bottom: none;
  }

  &:hover {
    color: var(--green);
  }

  &:active {
    @include grid('desktop-large') {
      background: rgba(var(--orange), .5);
      border-color: rgba(var(--orange), .5);
      color: $white;
    }
  }
}
</style>
