<script>
import _ from 'lodash/core'
import productMixin from '../../mixins/catalog/product-mixin'

export default {
  name: "ProductDetail",
  mixins: [productMixin],
  props: {
    productData: {type: String, required: true}
  },
  computed: {
    product () { return JSON.parse(this.productData) },
  }
}
</script>

<style lang="scss" scoped>
@import "assets/sass/_resources.scss";

.product-detail {
  @extend %appear;
  position: relative;
  margin-top:spacing(2);
   @include grid('desktop') {
    margin-top:spacing(4);
  }
  .head-title{
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }
  .head-subtitle{
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }
}

.product-illustration {
  position: absolute;
  left: -255px;
  top: 50%;
  transform: translateY(-50%);
  display: none;

  @include grid('desktop') {
    display: block;
  }

  img {
    opacity: .15;
  }
}

.container {
  position: relative;
  max-width: 1500px;

  .product-categories {
    @extend %appear-text;

    @include grid('desktop') {
      position: absolute;
      top: 250px;
      right: 0;
    }
  }
}

.inner-container {
  max-width: 1300px;
  margin: 0 auto;
}

.head-content-product-detail {
  @extend %appear-text;
  text-align: center;
  margin-bottom: spacing(1);
  margin-top:spacing(2);
  display:grid;

  @include grid('desktop') {
    margin-bottom: spacing(2);
    margin-top:spacing(1);
  }
}

.product-image {
  @extend %appear-text;
  margin-bottom: spacing(1);
  grid-column:1;
  grid-row:1;
  @include grid('desktop') {
    margin-bottom: spacing(1);
  }

  img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    max-height: 330px;

    @include grid('desktop') {
      min-height: 450px;
      max-width: auto;
    }
  }
}

.product-body {
  position: relative;
  margin-bottom: spacing();

  table { @extend %table; }
  ol { @extend %ol; }
  p a { @extend %text-link; }
  ul:not(.pagination):not(.errorlist):not(.messages) { @extend %ul; }

  > * {
    @extend %appear-text;
    color: var(--dark-gray);
  }

  $indented-block-elems: ('.image-with-content', '.facts');
  $indented-elems: ('table', '.gallery-block', '.quote-block', '.video-block', '.image-block');
  $indented-text-elems: ('p', 'h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'ul', 'ol', 'hr', '.indented', '.document-block', '.djangocms-link');

  @each $el in $indented-block-elems {
    & > #{$el} { @extend %indented-blocks; width: 100%;}
  }
  @each $el in $indented-elems {
    & > #{$el} { @extend %indented; width: 100%;}
  }
  @each $el in $indented-text-elems {
    & > #{$el} { @extend %indented-text; width: 100%;}
  }
}

.product-body-footer {
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: spacing(2);
 grid-column:2;
 grid-row:1;
 padding-top:50%;
  @include grid('desktop') {
    margin-bottom: spacing(4);
  }
}

.actions {
  @extend %appear-text;
  margin-bottom: spacing();
  position: relative;

  .add-to-cart {
    position: relative;
    right: auto;
    top: auto;

    @include grid('desktop') {
      opacity: 1;
      visibility: visible;
    }

    &:last-child {
      right: spacing(.5);
    }
  }
}

.add-to-cart-wrapper {
  display: block;
  align-items: center;
  margin-left: 1rem
}

.availability {
  @extend %appear-text;
  margin-bottom: spacing(1.5);
}

.button-is-available {
  @include plumber-size('h6');
  padding: 0 !important;
  margin: 0 !important;
  color: var(--green);
  font-weight: 500;
  display: block;
}

.button-not-available {
  @include plumber-size('h6');
  padding: 0 !important;
  margin: 0 !important;
  color: var(--discount-red);
  font-weight: 500;
  display: block;
}

.pricing {
  @extend %appear-text;
  margin-bottom: spacing(2);
  position: relative;

  &.discount {
    .prices {
      padding-left: 60px;
    }
  }
}

.prices {

}

.price {
  @include plumber-size('h6');
  padding: 0 !important;
  margin: 0 0 0 !important;
  font-weight: 500;
  color: var(--dark-gray);
}

.price-without-discount {
  @include plumber-size('p-small');
  padding: 0 !important;
  margin: 0 0 0 !important;
  text-decoration: line-through;
  color: var(--discount-red);
}

.discount-icon-wrapper {
  position: absolute;
  left: -0px;
  top: -6px;
  display: block;
  z-index: 1;
  width: 57px;
  height: 43px;

  @include grid('desktop') {
    left: -55px;
    left: -0px;
  }
}

.discount-icon-outer-layer {
  @include trans(opacity);
  overflow: hidden;
  display: inline-block;
  width: spacing(3.5);
  height: spacing(2.5);
  transform: rotate(-30deg) skewX(30deg);
  border-radius: spacing(.5);
  position: relative;

  @include grid('desktop') {
    width: spacing(3.5);
    height: spacing(2.5);
  }
}

.discount-icon-outer-layer *, .discount-icon-outer-layer *:before {
  display: block;
  overflow: hidden;
  width: inherit;
  height: inherit;
  border-radius: inherit;
}

.discount-icon-inner-layer {
  transform: skewX(-30deg) rotate(60deg) skewX(30deg);
  cursor: pointer;
}

.discount-icon-outer-layer .discount-icon-inner-layer:before {
  @include trans(background);
  transform: skewX(-30deg) rotate(60deg) skewX(30deg);
  background: var(--discount-red);
  content: '';
}

.discount-icon {
  @include plumber-size('h5');
  padding: 0 !important;
  margin: 0 !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: var(--white);

  // @include icon('icon-Basket');
}

.product-detail-foot {
  @extend %appear-text;

  .button {
    @extend %button;
    margin-top: spacing();

    @include grid('desktop') {
      margin-top: spacing(2);
    }
  }
}
.flags{
  color: var(--green);
  margin-top: spacing(-0.5);

}
.ispod{
  margin-top: spacing(1);
  display: block;
  height:100px;
}
</style>
