<template>
  <article class="product-list-item" v-appear="{enabled: $root.isLoaded}">
    <span class="flower"></span>

    <div class="wrapper">
      <div class="discount-icon-wrapper" v-if="currentProduct.is_discounted">
        <span class="discount-icon">%</span>
        <div class="discount-icon-outer-layer">
          <div class="discount-icon-inner-layer"></div>
        </div>
      </div>

      <a :href="product.url" class="link">
        <div class="image">
          <img
            :src="previewImage.url"
            loading="lazy"
            :alt="currentProduct.name"
            :key="previewImage.url_thumb"
          />
        </div>

        <h5 class="name cf">
          {{ currentProduct.name }}

        </h5><h5 class="name" class="text-center flags"
            v-for="flag in product.flags"
            :key="flag.id"
          >{{ flag.code }}</h5>

        <p class="caption" v-if="currentProduct.caption">({{ currentProduct.caption }})</p>
        <h6 class="price" v-if="currentProduct.price">{{ currentProduct.price }}</h6>
        <span
          class="price-without-discount"
          v-if="currentProduct.is_discounted"
        >{{ currentProduct.unit_price }}</span>
      </a>

      <div class="single-actions" v-if="!product.is_group">
        <add-to-cart
          :url="product.add_to_cart_url"
          @success="localCartQuantity = $event.quantity"
          key="add"
          v-if="isAvailable"
        ></add-to-cart>
        <span
          class="button-not-available"
          key="not-available"
          v-else
        >{{ $labels.products.notAvailable }}</span>
      </div>
    </div>
  </article>
</template>

<script>
import _ from "lodash/core";

import productMixin from "../../mixins/catalog/product-mixin";

export default {
  name: "ProductListItem",
  mixins: [productMixin],
  props: {
    product: { type: Object, required: true }
  }
};
</script>

<style lang="scss" scoped>
@import "assets/sass/_resources.scss";

.product-list-item {
  @extend %appear-text;
  @include grid-container;
  text-align: center;
  display: block;
  position: relative;
  z-index: 1;

  .flower {
    @include trans((opacity, visibility, transform));
    height: 470px;
    width: 370px;
    position: absolute;
    top: 130px;
    left: -140px;
    display: block;
    opacity: 0;
    visibility: hidden;
    background-repeat: no-repeat;
    background-position: center;
    transform: scale(0.75) rotate(-10deg);
    // background-image: url(' ~/assets/images/product-list-flower.png');
    display: none;

    @include grid("desktop") {
      display: block;
    }
  }
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

  &:hover {
    .flower {
      @include trans-duration(2);
      opacity: 1;
      visibility: visible;
      transform: scale(1) rotate(0deg);
    }

    .wrapper {
      background-color: var(--white);
    }

    img {
      transform: scale(1.05);

      @include grid("desktop") {
        transform: scale(1.2);
      }
    }

    .add-to-cart {
      opacity: 1;
      visibility: visible;
    }
  }
}

.discount-icon-wrapper {
  position: absolute;
  left: 0;
  top: spacing(0.5);
  display: block;
  z-index: 1;
  width: 62px;
  height: 68px;

  @include grid("tablet") {
    left: 0;
    top: spacing();
  }

  @include grid("desktop") {
    left: spacing();
    top: spacing(2);
  }

  &:hover {
    .discount-icon-outer-layer {
      opacity: 0.5;
    }
  }
}

.discount-icon-outer-layer {
  @include trans(opacity);
  overflow: hidden;
  display: inline-block;
  width: spacing(3.5);
  height: spacing(2.5);
  transform: rotate(-30deg) skewX(30deg);
  border-radius: spacing(0.5);
  position: relative;

  @include grid("desktop") {
    width: spacing(3.5);
    height: spacing(2.5);
  }
}

.discount-icon-outer-layer *,
.discount-icon-outer-layer *:before {
  display: block;
  overflow: hidden;
  width: inherit;
  height: inherit;
  border-radius: inherit;
}

.discount-icon-inner-layer {
  transform: skewX(-30deg) rotate(60deg) skewX(30deg);
  cursor: pointer;
}

.discount-icon-outer-layer .discount-icon-inner-layer:before {
  @include trans(background);
  transform: skewX(-30deg) rotate(60deg) skewX(30deg);
  background: var(--discount-red);
  content: "";
}

.discount-icon {
  @include plumber-size("h5");
  padding: 0 !important;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -13px 0 0 1px !important;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: var(--white);

  // @include icon('icon-Basket');
}

.wrapper {
  @include trans(background-color, $duration: 1);
  position: relative;
  padding: spacing();
  border-radius: $base-border-radius;

  @include grid("tablet") {
    padding: spacing(2);
  }

  @include grid("desktop") {
    padding: spacing(4);
  }
}

.image {
  position: relative;
  margin-bottom: spacing();
  display: inline-block;

  @include grid("desktop") {
    margin-bottom: spacing(3);
  }
}

.link {
  display: block;
}

img {
  @include trans(transform, $duration: 1);
  height: 165px;

  @include grid("tablet") {
    height: 250px;
  }
}

.name {
  color: var(--dark-green);
  padding: 0;
  margin: 0 auto spacing(0.25) auto;
  //margin:auto;
  width:80%;
  @include grid("mobile-large", $down: true) {
    @include plumber-size("p-extra-small");
    padding: 0 !important;
    margin: 0 auto spacing(0.25) auto;
  }

  span {
    padding-right: spacing(0.25);
    color: var(--green);
  }
}

.caption {
  @include plumber-size("p-small");
  padding: 0 !important;
  margin: 0 !important;
  color: var(--medium-gray);
  display: none;

  @include grid("tablet") {
    display: block;
  }
}

.price {
  color: var(--dark-gray);
  font-family: $base-font-family;
  font-weight: 500;
  padding: 0;
  margin: 0 0 spacing(0.5);
}

.price-without-discount {
  color: var(--discount-red);
  text-decoration: line-through;
  padding: 0;
  margin: 0 0 spacing();
  display: block;
}

.button-not-available {
  text-transform: uppercase;
  color: var(--discount-red);
  font-weight: 700;
}
.flags{
  color: var(--green);

}
</style>
