<script>
import { TweenMax, Power4 } from 'gsap'

export default {
  name: 'ProductCategories',
  data () {
    return {
      toggle: false,
    }
  },
  methods: {
    showChildren (el, done) {
      TweenMax.set(el, {'height': 'auto'})
      TweenMax.from(el, this.$config.animation.duration, {'height': 0, ease: Power4.easeOut, onComplete: () => {
        done()
      }})
    },
    hideChildren (el, done) {
      TweenMax.set(el, {'height': 'auto'})
      setTimeout(() => {
        TweenMax.to(el, this.$config.animation.duration, {'height': 0, ease: Power4.easeOut, onComplete: () => {
          done()
        }})
      }, this.$config.animation.duration / 3 * 1000)
    }
  }
}
</script>

<style lang="scss" scoped>
@import "assets/sass/_resources.scss";

.product-categories {
  @include grid-container;
  position: relative;
  z-index: 1;
  margin-bottom: spacing(2);

  @include grid('desktop') {
    margin-bottom: 0;
    border-left: 1px solid rgba(black, .15);
    padding-left: spacing(4);
  }
}

.product-categories-title {
  @include plumber-size('h2');
  padding: 0 !important;
  margin: 0 !important;
  text-align: center;
  line-height: 1.5;

  @include grid('desktop', $down: true) {
    margin-bottom: spacing(2) !important;
  }

  @include grid('desktop') {
    @include plumber-size('h2');
    padding: 0 !important;
    margin: 0 !important;
    flex: 1;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex: 1;
    text-align: left;
  }
}

.product-categories-content {
  @include trans((background-color, border));
  max-width: 600px;
  margin: 0 auto;

  @include grid('desktop', $down: true) {
    background-color: var(--white);
    border-radius: $small-border-radius;
    border: 1px solid var(--light-green);
  }

  @include grid('desktop') {
    max-width: 100%;
    margin: 0;
  }
}

.product-categories-button {
  @include trans(color);
  font-size: modular-scale(1);
  color: var(--dark-green);
  display: block;
  font-weight: 700;
  position: relative;
  margin: 0;
  padding: spacing();

  @include grid('desktop') {
    font-size: modular-scale(2);
  }

  @include grid('desktop') {
    display: block;
    padding: 0 0 spacing(2);
    text-transform: uppercase;
  }

  @include icon('icon-Arrow-bottom') {
    @include trans(transform);
    position: absolute;
    right: spacing();
    transform-box: fill-box;
    transform-origin: center center;
    transform-style: preserve-3d;

    @include grid('desktop') {
      display: none;
    }
  }
}

.product-categories-button--active {
  @include grid('desktop', $down: true) {
    color: var(--medium-gray-2);
  }

  @include icon('icon-Arrow-bottom') {
    transform: rotate(180deg);

    @include grid('desktop') {
      display: none;
    }
  }
}

.product-categories-wrapper {
  @include grid-container;

  @include grid('desktop'){
    display: block !important;
    height: auto !important;
  }
}

.product-categories-list {
  @include trans((visibility, opacity));

  @include grid('desktop', $down: true) {
    opacity: 0;
    visibility: hidden;
  }

}

.product-categories-list--active {
  @include grid('desktop', $down: true) {
    opacity: 1;
    visibility: visible;
  }
}

.product-categories-item {
  padding: spacing() spacing() 0;

  @include grid('desktop'){
    padding: 0;
  }

  &.active {
    .product-categories-link {
      color: var(--green);
      font-weight: 700;

    }
  }

  &:last-child {
    .product-categories-link {
      @include grid('desktop', $down: true) {
        border: none;
      }
    }
  }

  &:hover {
    .product-categories-link {
      color: var(--orange);

      @include grid('desktop') {
        color: var(--black);
      }
    }
  }
}

.product-categories-link {
  @include plumber-size('p');
  @include trans((background-color, color, border-color));
  border: 1px solid var(--green);
  color: var(--dark-green);
  display: block;
  margin: 2px;
  padding: spacing(0.5);
  font-weight: 700;
  position: relative;
  width:160px;
  text-align:center;
  background-color:var(--white) ;
  @include grid('desktop') {
    color: var(--medium-gray);
    padding: spacing(0.2);
    width:180px;
    background-color:var(--white) ;
  }

  &:hover {
    color: var(--green);
  }

  &:active {
    @include grid('desktop') {
      background: rgba(var(--orange), .5);
      border-color: rgba(var(--orange), .5);
      color: $white;
    }
  }
}
</style>
