<template>
  <div class="product-set">
    <div class="container">
      <h3 class="title" v-if="title">{{ title }}</h3>
      <div class="items">
        <product-list-item
        v-for="product in products"
        :key="product.id"
        :product="product">
        </product-list-item>
      </div>
    </div>
  </div>
</template>

<script>
import ProductListItem from './ProductListItem'

export default {
  name: 'ProductSet',
  components: {
    ProductListItem
  },
  props: {
    title: {type: String, default: null},
    productsData: {type: String, default: null},
    limit: {type: Number, default: 4},
    sort: {type: String, default: null},
  },
  data () {
    return {

    }
  },
  computed: {
    params () {
      let params = {'limit': this.limit}
      if (this.sort) params['s'] = this.sort
      return params
    },
    products () {
      let products = []
      if (this.productsData) products = JSON.parse(this.productsData)
      else if (this.params) products = this.results
      return products
    },
  },
}
</script>

<style lang="scss" scoped>
@import "assets/sass/_resources.scss";

.container {
  max-width: 1500px;
}

.title {
  padding: 0;
  margin: 0 0 spacing();
  text-align: center;
  color: var(--medium-gray);

  @include grid('desktop') {
    margin: 0 0 spacing(2);
  }
}

.items {
  @include grid-container;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;

  @include grid('desktop') {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @include grid('desktop-large') {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  > * {
    @extend %appear-text;
  }
}
</style>
