<template>
  <section class="product-list">
    <div class="container">
      <p class="no-items" v-if="count === 0">{{ $labels.filters.noProducts }}.</p>

      <div class="items">
        <product-list-item
          v-for="product in results"
          :key="product.id"
          :product="product">
        </product-list-item>
      </div>

      <a href="#" class="show-more" :class="{'disabled': showMoreDisabled}" @click.prevent="showMore" v-if="next">{{ $labels.products.showMore }}</a>
    </div>
  </section>
</template>

<script>
import { mapState } from 'vuex'
import qs from 'qs'
import get from 'lodash/get'

import catalog from '../../api/catalog'

import ProductListItem from './ProductListItem'

export default {
  name: 'ProductList',
  components: { ProductListItem },
  data () {
    return {
      showMoreDisabled: false
    }
  },
  computed: {
    ...mapState('products', [
      'count',
      'next',
      'results',
      'params',
    ]),
  },
  created () { this.onRouteChange(this.$route, false) },
  methods: {
    onRouteChange (route) {
      this.$store.dispatch('products/fetch', route.query)
    },

    showMore () {
      if (this.next && !this.showMoreDisabled) {
        this.showMoreDisabled = true
        _.delay(() => {
          let params = _.clone(this.params)
          let nextData = qs.parse(this.next)
          params['limit'] = get(nextData, 'limit', 4)
          params['offset'] = get(nextData, 'offset', 0)
          catalog.getProducts(params, data => {
            data['append'] = true
            this.$store.commit('products/setData', data)
            this.showMoreDisabled = false
          })
        }, 500)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import "assets/sass/_resources.scss";

.container {
  max-width: 1400px;
}

.items {
  @include grid-container;
  position: relative;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr 1fr;
  margin-bottom: spacing(2);

  @include grid('desktop') {
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: spacing(4);
  }

  @include grid('desktop-large') {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.show-more {
  @extend %button-transparent;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}
</style>
