@charset 'UTF-8';

/// Wrapper for managing Neat's `grid-media` mixin with predefined grid values.
///
/// @example scss
///   $grids: (
///    'desktop': 1200px,
///    'large-desktop': 1800px,
///    'custom-grid': (media: 1200px, gutter: 10px),
///   );
///
///   .element {
///     @include grid('desktop') {
///       // Desktop and up specific style
///     }
///     @include grid('large-desktop', $down: true) {
///       // Large desktop and down specific style
///     }
///     @include grid('desktop', $to: 'large-desktop') {
///       // Desktop and only desktop specific style
///     }
///     @include grid(200px, $to: 300px) {
///       // Custom size query
///     }
///   }
///
/// @require {mixin} grid-media

$grids: ('desktop': 1200px) !default;

/// Return width of the given grid.
@function grid-width($key, $grids: $grids) {
  $value: if(type-of($key) == 'number', $key, map-get($grids, $key));
  $value: if(type-of($value) == 'map', map-get($value, 'media'), $value);
  @return $value;
}

// Get the grid for the given key or value.
@function grid-get($key, $to: null, $down: false, $grids: $grids) {
  $grid: map-get($grids, $key);
  $grid: if(type-of($grid) == 'number', (media: $grid), $grid);
  $width: map-get($grid, 'media');
  $to-width: if(type-of($to) == 'string', grid-width($to, $grids), $to);
  $query: null;

  @if $down {
    $query: 'only screen and (max-width: #{$width - 1px})';
    @if ($to) { $query: '#{$query} and (min-width: #{$to-width})'; }
  } @else {
    $query: 'only screen and (min-width: #{$width})';
    @if ($to) { $query: '#{$query} and (max-width: #{$to-width - 1px})'; }
  }

  $grid: map-merge($grid, (media: $query));
  @return $grid;
}

// Mixin wrapper.
@mixin grid($key, $to: null, $down: false, $grids: $grids) {
  $grid: if(type-of($key) == 'string', grid-get($key, $to, $down, $grids), $key);
  @include grid-media($grid) { @content; }
}
