@charset 'UTF-8';

/// Icon helper mixin.

// Font face included in `_typography.scss`.
// @include font-face('icomoon', '../fonts/icomoon', $file-formats: eot woff ttf svg);

$icons: (
  'icon-Instagram': '\e900',
  'icon-admin-board': '\e901',
  'icon-Arrow-bottom': '\e902',
  'icon-Arrow-left': '\e903',
  'icon-Arrow-right': '\e904',
  'icon-Arrow-top': '\e905',
  'icon-Basket-full': '\e906',
  'icon-Basket': '\e907',
  'icon-Close': '\e908',
  'icon-Distributor': '\e909',
  'icon-Edit-info-1': '\e90a',
  'icon-Edit-info': '\e90b',
  'icon-Facebook': '\e90c',
  'icon-File': '\e90d',
  'icon-Linkedin': '\e90e',
  'icon-Menu': '\e90f',
  'icon-Minus': '\e910',
  'icon-Orders': '\e911',
  'icon-Pinterest': '\e912',
  'icon-Play': '\e913',
  'icon-Plus': '\e914',
  'icon-Pretraga': '\e915',
  'icon-Proizvodi': '\e90f',
  'icon-Youtube': '\e917',
  'icon-Login': '\e918',
);

@mixin icon($name, $size: null, $top: null, $left: null, $right: null, $el: '&::before') {
  $content: map-get($icons, $name);

  #{$el} {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    content: $content;
    display: inline-block;
    font-family: 'icomoon';
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-display: swap;
    line-height: 1;
    speak: none;
    text-transform: none;
    @if $size { font-size: $size; }
    @if $top { transform: translateY($top); }
    @if $left { margin-left: $left; }
    @if $right { margin-right: $right; }
    @content;
  }
}
