@charset "UTF-8";

/// Overlay mixin helper.

$overlay-color: transparentize(#000, .5) !default;
$overlay-transition: opacity 100ms linear !default;

@mixin overlay($el: '&', $hover: false, $color: $overlay-color, $gradient: false, $transition: $overlay-transition) {
  @if $el == 'before' or $el == 'after' { $el: '&::#{$el}'; }

  #{$el} {
    @if $gradient { background-image: $gradient }
    @else { background-color: $color; }
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: $transition;
    z-index: 1;

    @if $hover { opacity: 0; }
    @content;
  }

  @if $hover {
    &:hover {
      #{$el} { opacity: 1; }
    }
  }
}
