{% extends "blogit/base.html" %}
{% load i18n cms_tags %}

{% block title %}{% trans "Categories" %}{% endblock %}
{% block og_title %}{% trans "Categories" %}{% endblock %}
{% block page_title %}{% trans "Categories" %}{% endblock %}

{% block content_text %}
  <h1>Category list</h1>

  <p>{% trans "List of available <strong>Journal</strong> categories:" %}</p>
  <ul>
    {% for category in category_list %}
      <li><a href="{{ category.get_absolute_url }}">{{ category.name }}</a></li>
    {% endfor %}
  </ul>
{% endblock %}
