{% load i18n cms_tags menu_tags blogit_tags blogit_extra_tags utils_url utils_text %}

<post-sidebar inline-template>
  <div class="post-sidebar" v-appear="{enabled: $root.isLoaded}">
    <post-categories inline-template>
      <div class="section categories">

  {% show_menu 1 1 100 100 "blogit/post-submenu.html" %}
      <ul class="catalog-menu-list">
          {% for child in children %}
            <li class="main-menu2-item {% if child.selected %}main-menu2-item--active{% endif %}">
              <a
                href="{{ child.attr.redirect_url|default:child.get_absolute_url }}"
                class="main-menu2-link">
                {{ child.get_menu_title }}
              </a>
            </li>
          {% endfor %}
 {% comment %}          {% for cat in main_categories %}
            {% include "modules/header/catalog_menu_item.html" %}
          {% endfor %}{% endcomment %}
<li class="main-menu2-item {% if child.selected %}main-menu2-item--active{% endif %}">
        <a href="/apiterapija" class="main-menu2-link">Apiterapija
        </a>
      </li>
      <li class="main-menu2-item {% if child.selected %}main-menu2-item--active{% endif %}">
        <a href="/fitoterapija" class="main-menu2-link">Fitoterapija
        </a>
      </li>
        </ul>
   {% comment %}       <a
          href="javascript:void"
          :class="{'active': toggle}"
          @click.prevent="toggle = !toggle">
          <h6 class="section-title">{% trans "Kategorija" %}</h6>
        </a>
        <transition @enter="showChildren" @leave="hideChildren">
          <ul class="items" :class="{'items--active': toggle}"  v-show="toggle">
            <li class="item"><a href="{% page_url 'news' as news_url %}{{ news_url }}">{% trans "Sve kategorije" %}</a></li>
            {% get_categories as category_list %}
            {% for item in category_list %}
              {% get_absolute_url_with_fallback item as category_url %}
              <li class="item {% if request.path|startswith:category_url %}active{% endif %}">
                <a href="{{ category_url }}">{{ item.name }}</a>
              </li>
            {% endfor %}
          </ul>

        </transition>{% endcomment %}
      </div>

    </post-categories>

    <post-categories inline-template>
      <div class="section archives">
        <a
          href="javascript:void"
          :class="{'active': toggle}"
          @click.prevent="toggle = !toggle">
          <h6 class="section-title">{% trans "Arhiva" %}</h6>
        </a>

        {% comment %}
        <transition @enter="showChildren" @leave="hideChildren">
          <ul class="items" :class="{'items--active': toggle}"  v-show="toggle">
            {% for item in post_list %}
              <li class="item">
                <a href="">{{ item.date_published }}</a>
              </li>
            {% endfor %}

            {% get_latest_news 6 category=category as latest_posts %}

            {# Show archive only on croatian. #}
            {% if latest_posts %}
              {% with latest_date=latest_posts.0.date_published %}
                {% with year=latest_date|date:"Y" month=latest_date|date:"m" %}
                  <a href="{% url 'blogit_post_archive_month' year month %}" class="archive-link">{% trans "Arhiva novosti" %}</a>
                {% endwith %}
              {% endwith %}
            {% endif %}
          </ul>
        </transition>
        {% endcomment %}
      </div>
    </post-categories>
  </div>


</post-sidebar>
