{% load i18n shopit_tags static %}
{% load cms_tags menu_tags i18n utils_url %}
<post-menu inline-template>
  <div class="post-menu">
  <div class="container">
        <a href="/blog/novosti" class="main-menu2-link"> <img src="{% static 'images/blog/Blog-novosti-min.png' %}"/>
        </a>
      <a href="/blog/mediji" class="main-menu2-link"> <img src="{% static 'images/blog/Blog-mediji-min.png' %}"/>
        </a>
    <a href="/blog/recepti" class="main-menu2-link"> <img src="{% static 'images/blog/Blog-recepti-min.png' %}"/>
        </a>
        <a href="/apiterapija" class="main-menu2-link"> <img src="{% static 'images/blog/Blog-apiterapija-min.png' %}"/>
        </a>
        <a href="/fitoterapija" class="main-menu2-link"> <img src="{% static 'images/blog/Blog-fitoterapija-min.png' %}"/>
        </a>
  </div>
    </div>
</post-menu>

