{% extends "blogit/base.html" %}
{% load i18n cms_tags blogit_tags blogit_extra_tags utils_url utils_text static %}

{% block schema_org %}
{{ block.super }}
{% with domain=request.scheme|add:"://"|add:request.site.domain %}
<script type="application/ld+json">
{
  "@context": "https://schema.org/",
  "@type": "Blog",
  "blogPost": [
    {% for post in post_list %}{
      "@type": "BlogPosting",
      "headline": "{{ post.get_meta_title }}",
      "author": "Maticnjak",
      "datePublished": "{{ post.date_published|date:"Y-m-d" }}",
      "dateModified": "{{ post.last_modified|date:"Y-m-d" }}",
      "image": "{{ domain }}{{ post.featured_image.url }}",
      "mainEntityOfPage": "{{ domain }}{{ post.get_absolute_url }}",
      "url": "{{ domain }}{{ post.get_absolute_url }}",
      "publisher": {
        "@type": "Organization",
        "name": "Maticnjak",
        "logo": {
          "@type": "ImageObject",
          "url": "{{ domain }}{% static "images/favicons/favicon-96x96.png" %}"
        }
      }
    }{% if not forloop.last %},{% endif %}{% endfor %}
  ]
}
</script>
{% endwith %}
{% endblock %}

{% block content %}
<post-list inline-template>
   <div class="post-list" v-appear="{enabled: $root.isLoaded}">
      <div class="container">
      {% include "blogit/post-menu.html" %}
        <div class="post-list-items" v-appear.children="{enabled: $root.isLoaded}">
          {% for post in post_list %}
            {% cycle 1 0 as is_odd silent %}
            {% include "blogit/modules/post_item.html" %}
          {% endfor %}
        </div>

      </div>
    </div>
    {% include "includes/pagination.html" %}
  </div>
</post-list>
{% endblock %}
