{% load i18n shopit_tags static %}
{% load cms_tags menu_tags i18n utils_url %}
<post-submenu inline-template>
  <div class="catalog-menu">
    <a href="javascript:void"
      class="catalog-menu-button"
      :class="{'catalog-menu-button--open': open}"
      @click.prevent="toggleMenu">
    </a>

    <div class="catalog-menu-drawer" :class="{'catalog-menu-drawer--open': open}">
      <span class="catalog-menu-drawer-bg" @click.prevent="open = false"></span>

      <div class="catalog-menu-wrapper">
        <a href="javascript:void(0)" @click.prevent="open = false" class="catalog-menu-close"></a>

        {% get_categorization 'category' level=0 as main_categories %}
     {%comment%}   {% for cat in main_categories %}
          <span
            class="catalog-menu-image"
            :style="{'background-image': `url('{{ cat.featured_image.url }}')`}"
            :class="{'active': isActive({{ forloop.counter0 }})}"></span>
        {% endfor %}
{% endcomment %}
        <ul class="catalog-menu-list">
          {% for child in children %}
            <li class="main-menu-item {% if child.selected %}main-menu-item--active{% endif %}">
              <a
                href="{{ child.attr.redirect_url|default:child.get_absolute_url }}"
                class="main-menu-link">
                {{ child.get_menu_title }}
              </a>
            </li>
          {% endfor %}
 {% comment %}          {% for cat in main_categories %}
            {% include "modules/header/catalog_menu_item.html" %}
          {% endfor %}{% endcomment %}
        <li class="main-menu2-item {% if child.selected %}main-menu2-item--active{% endif %}">
        <a href="/apiterapija" class="main-menu2-link"> Apiterapija
        </a>
      </li>
      <li class="main-menu2-item {% if child.selected %}main-menu2-item--active{% endif %}">
        <a href="/fitoterapija" class="main-menu2-link"> Fitoterapija
        </a>
      </li>
        </ul>
      </div>
    </div>

  </div>
</post-submenu>
