{% extends "blogit/post_list.html" %}
{% load i18n cms_tags blogit_tags blogit_extra_tags utils_url utils_text %}

{% block content %}
  <div class="test">
    <h2>Archive</h2>
    {% get_archive_filters as archive_filters %}

    <h3>year</h3>

    {% for y in archive_filters.years %}
      <a href="{{ y.url }}">{{ y.name }}</a>
    {% endfor %}

    <h3>month</h3>

    {% for m in archive_filters.months %}
      <a href="{{ m.url }}">{{ m.name }}</a>
    {% endfor %}
  </div>

  <post-list inline-template>
    <div class="post-list">
      <div class="container">
        <div class="inner-container">
          <div class="post-list-items" v-appear.children="{enabled: $root.isLoaded}">
            {% for post in post_list %}
              {% cycle 1 0 as is_odd silent %}
              {% include "blogit/modules/post_item.html" %}
            {% endfor %}
          </div>

          {% include "blogit/post-sidebar.html" %}
        </div>
      </div>
      {% include "includes/pagination.html" %}
    </div>
  </post-list>
{% endblock %}
