{% extends "default.html" %}
{% load cms_tags i18n utils_url utils_thumbnail thumbnail static blogit_extra_tags menu_tags %}

{% block title %}{{ post.get_meta_title }}{% endblock %}
{% block meta_description %}{{ post.get_meta_description|striptags|truncatechars:155 }}{% endblock %}
{% block page_title %}{% render_model_block post %}{{ post.get_meta_title }}{% endrender_model_block %}{% endblock %}

{% block og %}
{% get_optimal_thumbnail_size post.featured_image "1450x1000" as thumb_size %}
{% thumbnail post.featured_image thumb_size crop upscale quality=95 subject_location=post.featured_image.subject_location as thumb %}

{% with domain=request.scheme|add:"://"|add:request.site.domain %}
<meta property="og:title" content="{{ post.get_meta_title }}">
<meta property="og:description" content="{{ post.get_meta_description|striptags|truncatechars:155 }}">
{% if thumb %}<meta property="og:image" content="{{ domain }}{{ thumb.url }}">{% endif %}
<meta property="og:url" content="{{ domain }}{{ post.get_absolute_url }}">
<meta property="og:type" content="article">
<meta property="article:modified_time" content="{{ post.last_modified|date:"c" }}">
<meta property="article:published_time" content="{{ post.date_published|date:"c" }}">
{% if post.category %}<meta property="article:section" content="{{ post.category }}">{% endif %}
{% if post.tags.all %}<meta property="article:tag" content="{{ post.tags.all|join:", " }}">{% endif %}
{% endwith %}
{% endblock %}

{% block schema_org %}
{{ block.super }}
{% with domain=request.scheme|add:"://"|add:request.site.domain %}
<script type="application/ld+json">
{
  "@context": "https://schema.org/",
  "@type": "BlogPosting",
  "headline": "{{ post.get_meta_title|escapejs }}",
  "author": "Maticnjak",
  "datePublished": "{{ post.date_published|date:"Y-m-d" }}",
  "dateModified": "{{ post.last_modified|date:"Y-m-d" }}",
  "image": "{{ domain }}{{ post.featured_image.url }}",
  "mainEntityOfPage": "{{ domain }}{{ post.get_absolute_url }}",
  "url": "{{ domain }}{{ post.get_absolute_url }}",
  "publisher": {
    "@type": "Organization",
    "name": "Maticnjak",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ domain }}{% static "images/favicons/favicon-96x96.png" %}"
    }
  },
}
</script>
{% endwith %}
{% endblock %}

{% block head_image_with_content %} {% endblock %}

{% block content_class %}{{ block.super }} content-post{% endblock %}

{% block content %}
  <post-detail inline-template>
    <div class="post-detail">
      <div class="container">
        <div class="inner-container">
          <div class="post-detail-content">
            <div class="post-top" v-appear.children="{enabled: $root.isLoaded}">
              <div class="post-meta">
                <span class="date">{{ post.date_published|date:"d-m-Y" }}</span>
                {% if post.category %}
                <span class="category">{{ post.category.name }}</span>
                {% endif %}
              </div>
              <h1 class="post-title">{{ post.name }}</h1>
              <div class="post-image">
                {% thumbnail post.featured_image "900x435" crop upscale subject_location=post.featured_image.subject_location as thumb %}
                <span class="post-bg" style="background-image: url('{{ thumb.url }}')"></span>
              </div>

              <div class="post-body">
                {% render_placeholder post.body %}
                {% if not post.body.get_plugins.exists %}<p>{% trans "Nema sadržaja." %}</p>{% endif %}
              </div>
            </div>

            <div class="post-detail-footer" v-appear.children="{enabled: $root.isLoaded}">
              <share-buttons title="{% trans 'Podijeli' %}" domain="{{ request.scheme }}://{{ request.site.domain }}"
                path="{{ request.path }}" image-path="{{ post.featured_image.url }}" name="{{ post.get_meta_title }}"
                description="{{ post.get_meta_description|striptags|truncatechars:155|escapejs }}">
              </share-buttons>
              <div class="links">
                {% get_random_category 3 as category_list %}
                {% for item in category_list %}
                <a href="{{ item.get_absolute_url }}">{{ item.name }}</a>
                {% endfor %}
              </div>
              <div class="nav-buttons">

                <a {% if post.next_post %} href="{{ post.next_post.get_absolute_url }}" {% endif %}
                  class="prev {% if not post.next_post %}disabled{% endif %}">
                  <span>{% trans 'Prethodni' %}</span>
                </a>

                <a href="{% page_url 'news' as news_url %}{{ news_url }}" class="back">{% trans 'Sve novosti' %}</a>

                <a {% if post.previous_post %} href="{{ post.previous_post.get_absolute_url }}" {% endif %} class="next {% if not post.previous_post %}disabled{% endif %}">
                  <span>{% trans 'Sljedeći' %}</span>
                </a>
              </div>
            </div>
          </div>

          {% include "blogit/post-sidebar.html" %}
        </div>
      </div>
    </div>
  </post-detail>
{% endblock %}