{% load i18n cms_tags utils_url thumbnail %}

<video-block inline-template>
  <div class="video-block video-block--{{ video_template }}">
    {% block video %}
      {% if instance.embed_link %}
        {% if instance.poster %}
          <a href="#" class="video-block-poster" :class="{'hide': started}" @click.prevent="play">
            <span class="bg" style="background-image: url('{% thumbnail instance.poster 1280x720 crop upscale subject_location=instance.poster.subject_location %}')"></span>
            <div class="caption">
              <div class="hexagon-wrapper">
                <span class="icon"></span>
                <div class='outer-layer'>
                  <div class='inner-layer'>
                  </div>
                </div>
              </div>
              {% if instance.label %}<span class="label">{{ instance.label }}</span>{% endif %}
            </div>
          </a>
        {% endif %}
        {% get_video_data_from_url instance.embed_link as video_data %}
        <div class="plyr-player" data-plyr-provider="{{ video_data.provider }}" data-plyr-embed-id="{{ video_data.embed_id }}"></div>
      {% else %}
      {# render <source> or <track> plugins #}
        <video controls {{ instance.attributes_str }}
        {% if instance.poster %} poster="{{ instance.poster.url }}"{% endif %}>
          {% for plugin in instance.child_plugin_instances %}
            {% render_plugin plugin %}
          {% endfor %}
          {% trans "Your browser doesn't support this video format." %}
        </video>
      {% endif %}
    {% endblock %}
  </div>
</video-block>

{% comment %}
# Available variables:
{{ instance.template }}
{{ instance.label }}
{{ instance.embed_link }}
{{ instance.poster }}
{{ instance.attributes_str }}
{% endcomment %}
