{% extends "default.html" %}
{% load cms_tags %}

{% block head_image_with_content %}
  <div class="head-content-shop">
    <h1 class="head-title">{% block page_title %}{% page_attribute "page_title" %}{% endblock %}</h1>
  </div>
{% endblock %}

{% block foot_flower %}{% endblock %}
