.content,
%content {
  padding: spacing(4) $edge spacing(4) $edge;
  overflow: hidden;
  position: relative;
  top:spacing(4);
  @include grid('desktop') {
    padding: spacing(6) spacing(2) spacing(2) spacing(2);
  }
}

.content-recipes {
  padding: 0 $edge spacing(4) $edge;

  @include grid('desktop') {
    padding: spacing(2) spacing(2) spacing(6) spacing(2);
  }
}

.content-post {
  padding: 0 $edge spacing(4) $edge;

  @include grid('desktop') {
    padding: spacing(2) spacing(2) spacing(6) spacing(2);
  }
}

.content-contact {
  padding: 0 $edge spacing(4) $edge;

  @include grid('desktop') {
    padding: spacing(2) spacing(2) spacing(6) spacing(2);
  }
}

.content-product-list {
  padding: spacing(4) $edge spacing(4) $edge;
  background-color: rgba($dark-beige, .1);

  @include grid('desktop') {
    padding: spacing(4) spacing(2) spacing(6) spacing(2);
  }
}

.content-cart {
  padding: 0 $edge spacing(4) $edge;

  @include grid('desktop') {
    padding: spacing(2) spacing(2) spacing(6) spacing(2);
  }
}

.content-product-detail {
  padding: spacing(0) $edge spacing(4) $edge;

  @include grid('desktop') {
    padding: spacing(0) spacing(2) spacing(6) spacing(2);
  }
}

.content-dealership {
  padding: spacing(2) $edge spacing(4) $edge;

  @include grid('desktop') {
    padding: spacing(6) spacing(2) spacing(6) spacing(2);
  }
}

.content-home {
  padding: 0;
}

.content-account {
  padding: 0 $edge spacing(4) $edge;

  @include grid('desktop') {
    padding: 0 spacing(2) spacing(6) spacing(2);
  }
}

.content-text,
%content-text {
  table { @extend %table; }
  ol { @extend %ol; }
  p a { @extend %text-link; }
  ul:not(.pagination):not(.errorlist):not(.messages) { @extend %ul; }
}

.content-indented,
%content-indented {
  @extend %content-text;
  @extend %indented-blocks;

  > * {
    @extend %appear-text;
  }

  $indented-block-elems: ('.image-with-content', '.facts', '.product-set');
  $indented-elems: ('table', '.gallery-block', '.quote-block', '.video-block', '.image-block');
  $indented-text-elems: ('p', 'h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'ul', 'ol', 'hr', '.indented', '.djangocms-link', '.document-block');

  @each $el in $indented-block-elems {
    & > #{$el} { @extend %indented-blocks; }
  }
  @each $el in $indented-elems {
    & > #{$el} { @extend %indented; }
  }
  @each $el in $indented-text-elems {
    & > #{$el} { @extend %indented-text; }
  }
}

.djangocms-link {
  @include trans;
  display: block;
  padding: spacing() 0;

  @include grid('desktop') {
    padding: spacing(2) 0;
  }

  &:hover {
    color: $action-color;
  }
}
