.foot {
  // @extend %appear;
  @include grid-container;
  position: relative;
  margin-top:spacing(10);
  &.foot-home {
    background-color: var(--white);
  }

  &.foot-product-list {
    background-color: rgba($dark-beige, .1);
  }

  .foot-container {
    @include grid-container;
    position: relative;
    padding-top: spacing(6);
    padding-bottom: spacing();
    text-align: center;

    @include grid('desktop') {
      padding-top: spacing(8);
      padding-bottom: spacing(4);
      text-align: left;
    }

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      background-repeat: no-repeat;
      background-size: cover;
      height: 400px;
      width: 100%;
      z-index: 1;
      background-image: url('../images/footer-triangle-mobile-1.png');

      @include grid('desktop') {
        background-image: url('../images/footer-triangle-desktop-1.png');
      }
    }

    &::after {
      content: '';
      position: absolute;
      background-repeat: no-repeat;
      background-size: cover;
      bottom: 0;
      left: 0;
      height: 400px;
      width: 100%;
      z-index: 1;
      background-image: url('../images/footer-triangle-mobile-2.png');

      @include grid('desktop') {
        background-image: url('../images/footer-triangle-desktop-2.png');
      }
    }
  }

  .foot-flower {
    background-image: url('../images/foot-flower.png');
    width: 505px;
    height: 485px;
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: .1;
    background-repeat: no-repeat;

    @include grid('desktop') {
      width: 850px;
      height: 630px;
    }
  }

  .foot-bottle {
    background-image: url('../images/product-list-bottle2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 200px;
    height: 250px;
    position: absolute;
    bottom: 280px;
    right: 0px;

    @include grid('tablet') {
      width: 250px;
      height: 250px;
      bottom: 225px;
      right: 0px;
    }

    @include grid('desktop') {
      width: 850px;
      height: 650px;
      bottom: 0;
      right: 0;
    }
  }

  .wrapper {
    position: relative;
    z-index: 2;
    padding: 0 $edge;

    @include grid('desktop') {
      padding-left: calc(100% - 80%);
    }
  }

  .social {
    margin-bottom: spacing(3);

    @include grid('desktop') {
      margin-bottom: spacing(2);
    }

    a {
      @include trans;
      font-size: modular-scale(6);
      color: var(--dark-gray);
      margin-right: spacing(.5);

      &:hover {
        color: var(--medium-gray-2);
      }
    }
  }

  .icon-facebook {
    @include icon('icon-Facebook');
  }

  .icon-instagram {
    @include icon('icon-Instagram');
  }

  .icon-linkedin {
    @include icon('icon-Linkedin');
  }

  .icon-youtube {
    @include icon('icon-Youtube');
  }

  .links {
    margin-bottom: spacing(3);

    @include grid('desktop') {
      margin-bottom: spacing(2);
    }

    a {
      @include trans;
      @include plumber-size('p-small');
      color: var(--darker-gray);
      display: block;

      @include grid('desktop') {
        margin-right: spacing();
        display: inline-block;
      }

      &:hover {
        color: var(--medium-gray-2);
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .links-top {
    @include grid('desktop') {
      margin-bottom: spacing();
    }
  }

  .foot-bottom {
    @include grid-container;
    background-color: var(--dark-green);
    text-align: center;
    position: relative;
    z-index: 2;

    @include grid('desktop') {
      text-align: left;
    }

    .container {
      @include grid-container;
      z-index: 2;
      padding: spacing(3);
      max-width: 100%;

      @include grid('desktop') {
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        padding: spacing() spacing(2);
      }
    }
  }

  .copyright {
    @include plumber-size('p-ultra-small');
    color: var(--medium-gray-2);
    padding: 0 !important;
    margin: 0 0 spacing() !important;

    @include grid('desktop') {
      justify-self: start;
      margin: 0 !important;
    }

    &.mobile {
      @include grid('desktop') {
        display: none;
      }
    }

    &.desktop {
      display: none;

      @include grid('desktop') {
        display: block;
      }
    }
  }

  .shopping-cards {
    @include grid-container;
    $card-offset: 80px;
    margin-bottom: spacing();

    @include grid('mobile-large', $down: true) {
      transform: scale(.85);
    }

    @include grid('desktop', $down: true) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      justify-content: center;
      align-items: center;
      grid-row-gap: 2em;
      grid-column-gap: 0;
      max-width: 300px;
      margin-left: auto;
      margin-right: auto;
    }

    @include grid('desktop') {
      display: grid;
      justify-content: center;
      align-items: center;
      margin-bottom: 0;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      max-width: 370px;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }

    a {
      @include trans;
      background-image: url('../images/image-payments.png');
      background-size: auto 40px;
      display: block;
      float: left;
      height: 40px;
      margin: 0 spacing(.5) spacing(.5);
      overflow: hidden;
      text-indent: -9999px;
      padding-bottom: 0;
      margin-bottom: 0;

      &:hover {
        opacity: .75;
      }
    }

    .card-amex { background-position: 0 0; width: 62px; }
    .card-diners { background-position: -($card-offset) 0; width: 62px; }
    .card-visa { background-position: -($card-offset * 2) 0; width: 61px; }
    .card-maestro { background-position: -($card-offset * 3) 0; width: 62px; }
    .card-master { background-position: -($card-offset * 4) 0; width: 62px; }
    .card-discover { background-position: -($card-offset * 5) 0; width: 62px; }
    .card-dina { background-position: -($card-offset * 6) 0; width: 65px; }
    .card-masted-id-check { background-position: -($card-offset * 7) 0; width: 61px; }
    .card-visa-secure { background-position: -($card-offset * 8) 0; width: 61px; }
    // .card-master-secure { background-position: -($card-offset * 6) 0; width: 72px; }
    // .card-visa-verified { background-position: -($card-offset * 7) 0; width: 72px; }
    .card-wspay { background-position: -($card-offset * 9) 0; width: 59px; }
  }

  .crafted {
    @include plumber-size('p-ultra-small');
    color: var(--medium-gray-2);
    padding: 0 !important;
    margin: 0 !important;

    @include grid('desktop') {
      justify-self: end;
    }
  }

  svg {
    &:hover {
      path {
        fill: var(--white);
      }
    }

    path {
      @include trans;
      fill: var(--medium-gray-2);
    }
  }
}

.foot-ancor {
  @include trans((border-color, background-color));
  @include size(40px);
  position: absolute;
  right: spacing();
  top: spacing(3);
  z-index: 3;
  border: 1px solid var(--medium-gray);
  border-radius: $small-border-radius;
  display: block;
  background-color: var(--white);

  @include grid('desktop') {
    @include size(45px);
    right: spacing(4);
    top: auto;
    bottom: spacing(8);
  }

  &:hover {
    background-color: var(--dark-gray);
    border-color: var(--dark-gray);

    span {
      color: var(--orange);
    }
  }

  span {
    @include trans(color);
    font-weight: 700;
    @include icon('icon-Arrow-top');
    position: absolute;
    color: var(--medium-gray);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}


