.head {
  @include appear;
  position: relative;
  z-index:200;
  max-width:100%;
  top:spacing(0);
  .navbar{
    background-color: var(--white);
    position:fixed;
    width:100%;
  }
}

.head-recipes {
  .head-image-with-content {
    display: flex;
    flex-direction: column;

    > * {
      @extend %appear-text;
    }
  }

  .head-content {
    margin: spacing(2) 0;

    @include grid("desktop") {
      margin: spacing(4) 0;
      padding: 0;
    }
  }

  .head-image {
    order: 1;
    border-radius: $base-border-radius;

    @include grid("desktop") {
      height: 435px;
      width: 900px;
      margin: 0 auto;
    }
  }

  .head-wave {
    display: none !important;
  }
}

.head-posts {
  .head-image-with-content {
    display: flex;
    flex-direction: column;

    > * {
      @extend %appear-text;
    }
  }

  .head-content {
    margin: spacing(2) 0;

    @include grid("desktop") {
      text-align: left;
      margin: spacing(4) 0;
      padding: 0;
    }
  }

  .head-description {
    display: none;
  }

  .head-image {
    order: 1;
    border-radius: $base-border-radius;

    @include grid("desktop") {
      height: 435px;
      width: 900px;
      margin: 0 auto;
    }
  }

  .head-wave {
    display: none !important;
  }
}

.head-home {
  .head-image-with-content {
    max-width: 1200px;
    margin: 0 auto;
    @include grid('desktop-giant') {
      margin-top: spacing(4);
     }
     @include grid("desktop") {
      margin-top: spacing(4);
     }
  }

  .head-image {
    position: relative;
    height: auto;
    margin-bottom: spacing();

    @include grid("desktop") {
      margin-top: spacing(4);
      margin-bottom: spacing(3);
    }

    &::before {
      display: block;
      content: "";
      width: 100%;
      padding-top: (34 / 61) * 100%;
      padding-top: (560 / 990) * 100%;
    }
  }

  .bg {
    @include position(absolute, 0);
    z-index: 1;
  }

  .homepage-bg-plant-1 {
    position: absolute;
    background-image: url("../images/homepage-bg-plant-1.png");
    height: 750px;
    width: 650px;
    content: "";
    opacity: 0.1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    top: spacing(-3);
    left: spacing(-7);
    display: none;

    @include grid("desktop-giant") {
      display: block;
    }
  }

  .homepage-bg-plant-2 {
    position: absolute;
    background-image: url("../images/homepage-bg-plant-2.png");
    height: 640px;
    width: 820px;
    content: "";
    opacity: 0.1;
    background-repeat: no-repeat;
    background-position: center;
    left: 50%;
    transform: translateX(-50%);
    margin-left: 185px;
    top: spacing(-2);
    display: none;

    @include grid("desktop-giant") {
      display: block;
    }
  }

  .homepage-bg-plant-3 {
    position: absolute;
    height: 585px;
    width: 690px;
    content: "";
    opacity: 0.1;
    background-repeat: no-repeat;
    background-position: center;
    bottom: 0;
    right: spacing(-13);
    transform: rotate(33deg);
    display: none;

    @include grid("desktop-giant") {
      display: block;
    }
  }

  .head-title {
    font-family: $home-heading-font-family;
    line-height: 1.4;
    margin-bottom: spacing(2);
    font-weight: 400;
    letter-spacing: -3px;

    @include grid("desktop-giant") {
      margin-bottom: spacing(3);
      font-size: 50px;
    }

    span {
      &:first-child {
        color: var(--green);
      }

      &:last-child {
        color: var(--orange);
      }
    }
  }
}

.head-product-list {
  background-color: var(--white);

  .container {
    max-width: 100%;
  }

  .head-wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: $container-large;
  }

  .navbar {
    background-color: var(--white);
    position:fixed;
    width:100%;
    @include grid("desktop-mega") {
      padding: spacing(2) 0;
    }
  }

  .head-image-with-content {
    display: none;
  }
}

.head-image {
  position: relative;
  height: 200px;
  margin: 0 $edge spacing(2) $edge;

  @include grid("tablet") {
    height: 300px;
  }

  @include grid("desktop") {
    margin: 0 spacing(2);
    height: 380px;
  }

  .bg {
    @include position(absolute, 0);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: $huge-border-radius;
  }
}

.head-content {
  @extend %appear-text;
  padding: 0 $edge;
  text-align: center;
  max-width: 900px;
  position: relative;
  left: 50%;
  transform: translateX(-50%) !important;

  &.appear {
    transform: translateX(-50%) !important;
  }
}

.head-content-shop {
  margin: spacing() $edge;

  @include grid("desktop") {
    margin: spacing(4) spacing(2) spacing(4) spacing(2);
    max-width: 1200px + 64px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}

.head-content-login {
  margin: spacing() $edge;
  text-align: center;

  @include grid("desktop") {
    margin: spacing(4) spacing(2) spacing(4) spacing(2);
    max-width: 1200px + 64px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}

.head-content-extra {
  margin-bottom: spacing();

  @include grid("desktop") {
    margin-bottom: spacing(2);
  }

  .date {
    @include plumber-size("h5");
    display: inline-block;
    color: var(--medium-gray-2);
    font-weight: 700;
    font-family: $heading-font-family;
    padding-right: spacing();
  }

  .category {
    @include plumber-size("h5");
    display: inline-block;
    color: var(--green);
    font-weight: 700;
  }
}

.head-content-dealership {
  @extend %container;
  max-width: 950px;
  padding: 0 $edge;

  @include grid("desktop") {
    margin-top: spacing(6);
  }

  .head-title {
    padding-bottom: spacing();
  }

  p {
    padding: 0;
    margin: 0;
  }
}

.head-content-shop-thanks {
  @extend %container;
  text-align: center;
  margin-bottom: spacing(2);

  @include grid("desktop") {
    margin-top: spacing(6);
  }

  .head-title {
    margin-bottom: spacing();
  }

  svg {
    transform: scale(0.75);

    @include grid("desktop") {
      transform: scale(1);
    }
  }
}

.head-content-product-detail {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;

}

.head-title {
  margin: 0;
  padding: 0;
  line-height: 1.1;
  margin-bottom: spacing(1);
}

.head-subtitle {
  margin: 0;
  padding: 0;
  color: var(--medium-gray);
  font-weight: 400;
  font-family: $base-font-family;
}

.head-description {
  color: var(--green);
  max-width: 600px;
  margin: spacing() auto 0;
  font-weight: 500;
  font-family: $base-font-family;
}

.head-wave {
  @include trans(transform);
  // @include appear;
  position: absolute;
  left: 50%;
  display: inline-block;
  transform: translateX(-50%) translateY(0);

  &.mobile {
    @include grid("desktop") {
      display: none;
    }
  }

  &.desktop {
    display: none;

    @include grid("desktop") {
      display: block;
    }
  }

  &.appear {
    @include grid("desktop", $down: true) {
      transform: translateX(-50%) translateY(-52px);
      opacity: 1;
      visibility: visible;
    }

    @include grid("desktop") {
      transform: translateX(-50%) translateY(-70px);
    }
  }
}
