<quote-block inline-template>
  <div class="quote-block">
    <p class="text">{{ instance.text|striptags|linebreaksbr }}</p>
    {% if instance.author %}<p class="author">{{ instance.author }}</p>{% endif %}
  </div>
</quote-block>
