<script>

export default {
  name: 'AccountItem',
}
</script>

<style lang="scss" scoped>
@import "assets/sass/_resources.scss";

.account-item {
  border-bottom: 1px solid rgba(black, .1);

  &.active {
    .link {
      background-color: var(--orange);
      color: var(--dark-gray);
    }

    .icon-arrow {
      transform: rotate(180deg);
    }
  }

  &:first-child {
    border-bottom: 0;
  }

  &:last-child {
    border-bottom: 0;
  }
}

.account-item-logout {
  @include grid('desktop') {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid rgba(black, .1);
    padding: spacing();
  }
}

a {
  @include plumber-size('p-small');
  padding: spacing() !important;
  margin: 0 !important;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--medium-gray-2);
  display: flex;
  align-items: center;

  &:hover {
    color: $action-color;
  }
}

.button-logout {
  @include plumber-size('p-small');
  padding: spacing() !important;
  margin: 0 !important;
  font-weight: 500;
  color: var(--medium-gray-2);
  position: relative;
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);
}

.button-order {
  @extend %button-green;
  min-width: 260px;
  margin: spacing(2) spacing(0) !important;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.icon {
  padding-right: spacing();
}

.icon-arrow {
  @include trans(transform);
  @include icon('icon-Arrow-bottom', $size: 1em, $el: '&::after');
  margin-left: auto;
  padding-right: 0;
  transform-box: fill-box;
  transform-origin: center center;
  transform-style: preserve-3d;
}

.icon--dashboard {
  @include icon('icon-admin-board', $size: 2em, $el: '&::before');
}

.icon--orders {
  @include icon('icon-Orders', $size: 2em, $el: '&::before');
}

.icon--edit {
  @include icon('icon-Edit-info', $size: 2em, $el: '&::before');
}

.icon--password {
  @include icon('icon-Edit-info-1', $size: 2em, $el: '&::before');
}
</style>
