<script>
export default {
  name: 'Account',
}
</script>

<style lang="scss" scoped>
@import "assets/sass/_resources.scss";

.account {
  @extend %appear;
  position: relative;
  margin-bottom: spacing(4);

  @include grid('desktop') {
    margin-bottom: spacing(8);
  }
}

.container {
  @include grid-container;
  max-width: 1200px;
}

.inner-container {
  @include grid('desktop') {
    @include grid-collapse;
    display: flex;
  }
}

.account-nav {
  box-shadow: 1px 1px 18px rgba(145, 145, 145, 0.1);
  background-color: var(--white);
  position: relative;

  @include grid('desktop') {
    @include grid-column(4);
    min-height: 570px;
  }
}

.account-content {
  margin-top: spacing(2);
  background-color: var(--white);
  box-shadow: 1px 1px 18px rgba(145, 145, 145, 0.1);
  padding: spacing();

  @include grid('desktop') {
    @include grid-column(8);
    margin-top: 0;
    padding: spacing(3);
  }

  > * {
    @extend %appear-text;
  }
}

.user-account {
  .name {
    padding: 0;
    margin: 0 0 spacing();
        color: var(--dark-green);
  }

  .description {
    @include plumber-size('p-small');
    padding: 0 !important;
    margin: 0 !important;
        color: var(--dark-green);
  }
}

.user {
  @include plumber-size('p-small');
  @include trans(color);
  background-color: var(--light-beige);
  text-transform: uppercase;
  font-weight: 500;
  padding: spacing() !important;
  margin: 0 0 spacing(2) !important;
  color: var(--medium-gray);
  display: block;

  @include grid('desktop') {
    padding: spacing(1.5) !important;
    margin: 0 0 spacing(3) !important;
  }

  &:hover {
    color: var(--dark-gray);
  }
}
</style>
