<script>
import { TweenMax, Power4 } from 'gsap'

export default {
  name: 'AccountOrderItems',
  data () {
    return {
      show: false,
    }
  },
  methods: {
    showChildren (el, done) {
      TweenMax.set(el, {'height': 'auto'})
      TweenMax.from(el, this.$config.animation.duration, {'height': 0, ease: Power4.easeOut, onComplete: () => {
        done()
      }})
    },
    hideChildren (el, done) {
      TweenMax.set(el, {'height': 'auto'})
      setTimeout(() => {
        TweenMax.to(el, this.$config.animation.duration, {'height': 0, ease: Power4.easeOut, onComplete: () => {
          done()
        }})
      }, this.$config.animation.duration / 3 * 1000)
    }
  }
}
</script>

<style lang="scss" scoped>
@import "assets/sass/_resources.scss";

.title {
  margin: spacing(3) 0 spacing() 0 !important;
  padding: 0 !important;
  color: var(--medium-gray-2);
  font-weight: 700;

  @include grid('desktop') {
    margin: spacing(3) 0 spacing(.5) 0 !important;
  }
}

.account-order-items-nav {
  display: none;

  @include grid('desktop') {
    display: block;
  }
}

.row {
  @include grid('desktop') {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(black, .1);
    padding-bottom: spacing();
  }
}

.field {
  text-transform: uppercase;
  color: var(--medium-gray-2);
  font-weight: 700;
  opacity: .35;
  padding: 0;
  margin: 0;
}

.account-order-wrapper {
  border-bottom: 1px solid rgba(black, .1);
}

.account-order-item {
  border-bottom: 1px solid rgba(black, .1);
  margin-bottom: spacing();
  padding-bottom: spacing();

  @include grid('desktop') {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;
    padding: spacing() 0;
    margin-bottom: 0;
  }

  &:last-child {
    border-bottom: 0;
    margin-bottom: 0;
  }

  span {
    display: block;
    text-transform: uppercase;
    color: var(--medium-gray-2);
    font-weight: 700;
    opacity: .35;
    padding: 0;
    margin: 0;

    @include grid('desktop') {
      display: none;
    }
  }
}

.name {
  @include plumber-size('p-small');
  padding: 0 0 spacing() !important;
  margin: 0 !important;
  color: var(--dark-gray);
  font-weight: 700;

  @include grid('desktop') {
    padding: 0 !important;
  }

  b {
    color: var(--dark-gray);
    font-weight: 400;
  }
}

.date {
  @include plumber-size('p-small');
  padding: 0 0 spacing() !important;
  margin: 0 !important;
  color: var(--dark-gray);

  @include grid('desktop') {
    padding: 0 !important;
  }
}

.status {
  @include plumber-size('p-small');
  padding: 0 0 spacing() !important;
  margin: 0 !important;
  color: var(--dark-gray);
  font-weight: 600;
  color: var(--green);

  @include grid('desktop') {
    padding: 0 !important;
  }
}

.button-item {
  @extend %button-transparent;
  @include plumber-size('p-small');
  padding: spacing(.75) !important;
  margin: 0 !important;
  min-width: 150px;
  color: var(--dark-gray);

  @include grid('desktop') {
  }
}

.button-all {
  @extend %button-green;
  min-width: 185px;
  max-width: 185px;
  margin: spacing(2) 0;
  position: relative;
  left: 50%;
  display: block;
  transform: translateX(-50%);

  @include grid('desktop') {
    left: auto;
    transform: none;
    float: right;
  }

  &.active {
    display: none;
  }
}
</style>
