<script>
import { TweenMax, Power4 } from 'gsap'

export default {
  name: 'AccountOrderList',
  data () {
    return {
      show: false,
    }
  },
  methods: {
    showChildren (el, done) {
      TweenMax.set(el, {'height': 'auto'})
      TweenMax.from(el, this.$config.animation.duration, {'height': 0, ease: Power4.easeOut, onComplete: () => {
        done()
      }})
    },
    hideChildren (el, done) {
      TweenMax.set(el, {'height': 'auto'})
      setTimeout(() => {
        TweenMax.to(el, this.$config.animation.duration, {'height': 0, ease: Power4.easeOut, onComplete: () => {
          done()
        }})
      }, this.$config.animation.duration / 3 * 1000)
    }
  }
}
</script>

<style lang="scss" scoped>
@import "assets/sass/_resources.scss";

</style>
