<script>
export default {
  name: 'AccountOrderDetail',
}
</script>

<style lang="scss" scoped>
@import "assets/sass/_resources.scss";

// Account order detail
.account-order-detail {
  background-color: var(--white);
}

// Account order detail head
.account-order-detail-head {
  @include grid-container;
}

.order {
  padding: 0 0 spacing();
  margin: 0;
  color: var(--black);

  @include grid('desktop') {
    padding: 0 0 spacing(2);
  }
}

.row-1 {
  @include grid-container;
  border-bottom: 1px solid rgba($black, .15);
  padding-bottom: spacing();
  margin-bottom: spacing();

  @include grid('desktop') {
    padding-bottom: spacing(2);
    margin-bottom: spacing(2);
  }
}

.date {
  @include plumber-size('p-medium');
  color: rgba($medium-gray-2, .35);
  padding: 0 0 spacing() !important;
  margin: 0 !important;
  text-transform: uppercase;
  font-weight: 700;

  @include grid('desktop') {
    @include grid-column(6);
    padding: 0 !important;
  }

  span {
    color: var(--dark-gray);
    display: block;
    font-weight: 400;
    text-transform: none;

    @include grid('desktop') {
      padding-top: spacing(.5);
    }
  }
}

.status {
  @include plumber-size('p-medium');
  color: rgba($medium-gray-2, .35);
  padding: 0 !important;
  margin: 0 !important;
  text-transform: uppercase;
  font-weight: 700;

  @include grid('desktop') {
    @include grid-column(6);
    float: right;
  }

  span {
    color: var(--green);
    display: block;
    font-weight: 600;
    text-transform: none;

    @include grid('desktop') {
      padding-top: spacing(.5);
    }
  }
}

.row-2 {
  @include grid-container;
  border-bottom: 1px solid rgba($black, .15);
  padding-bottom: spacing();
  margin-bottom: spacing();

  @include grid('desktop') {
    padding-bottom: spacing(2);
    margin-bottom: spacing(2);
  }
}

.billing-address {
  @include plumber-size('p-medium');
  color: rgba($medium-gray-2, .35);
  padding: 0 0 spacing() !important;
  margin: 0 !important;
  text-transform: uppercase;
  font-weight: 700;

  @include grid('desktop') {
    @include grid-column(6);
    padding: 0 !important;
  }

  span {
    color: var(--dark-gray);
    display: block;
    font-weight: 400;
    text-transform: none;

    @include grid('desktop') {
      padding-top: spacing(.5);
    }
  }
}

.shipping-address {
  @include plumber-size('p-medium');
  color: rgba($medium-gray-2, .35);
  padding: 0 0 spacing() !important;
  margin: 0 !important;
  text-transform: uppercase;
  font-weight: 700;

  @include grid('desktop') {
    @include grid-column(6);
    float: right;
    padding: 0 !important;
  }

  span {
    color: var(--dark-gray);
    display: block;
    font-weight: 400;
    text-transform: none;

    @include grid('desktop') {
      padding-top: spacing(.5);
    }
  }
}

// Account order detail body
.account-order-detail-body {
  @include grid-container;
}

.item {
  @include grid-container;
  border-bottom: 1px solid rgba($black, .15);
  padding-bottom: spacing();
  margin-bottom: spacing();

  @include grid('desktop') {
    padding-bottom: spacing(2);
    margin-bottom: spacing(2);
  }
}

.product {
  @include plumber-size('p-medium');
  padding: 0 0 spacing() !important;
  margin: 0 !important;
}

.product-field {
  color: rgba($medium-gray-2, .35);
  display: block;
  text-transform: uppercase;
  font-weight: 700;

  @include grid('desktop') {
    padding-bottom: spacing(.5);
  }
}

.product-name {
  color: var(--green);
  font-weight: 700;

  a {
    @include trans;
    color: var(--green);

    &:hover {
      color: $action-color;
    }
  }
}

.product-size {
  padding-right: spacing(.5);
  color: var(--dark-gray);
}

.product-count {
  color: var(--dark-gray);
}

.price {
  @include plumber-size('p-medium');
  padding: 0 0 spacing() !important;
  margin: 0 !important;
}

.price-field {
  color: rgba($medium-gray-2, .35);
  display: block;
  text-transform: uppercase;
  font-weight: 700;

  @include grid('desktop') {
    padding-bottom: spacing(.5);
  }
}

.price-price {
  padding-right: spacing(.5);
  color: var(--dark-gray);
}

.price-count {
  color: var(--dark-gray);
}

// Account order detail foot
.account-order-detail-foot {
  @include grid-container;
  text-align: right;
  margin-left: auto;
}

.subtotal {
  @include plumber-size('p-medium');
  padding: 0 0 spacing() !important;
  margin: 0 !important;
  color: rgba($medium-gray-2, .35);
  display: block;
  text-transform: uppercase;
  font-weight: 700;

  span {
    color: var(--dark-gray);
    font-weight: 400;
    min-width: 75px;
    padding-left: spacing();
    display: inline-block;
  }
}

.discount {
  @include plumber-size('p-medium');
  padding: 0 0 spacing() !important;
  margin: 0 !important;
  color: rgba($medium-gray-2, .35);
  display: block;
  text-transform: uppercase;
  font-weight: 700;

  span {
    color: var(--dark-gray);
    font-weight: 400;
    min-width: 75px;
    display: inline-block;
    padding-left: spacing();
  }
}

.delivery {
  position: relative;
  @include plumber-size('p-medium');
  padding: 0 0 spacing() !important;
  margin: 0 0 spacing() !important;
  position: relative;
  color: rgba($medium-gray-2, .35);
  display: block;
  text-transform: uppercase;
  font-weight: 700;

  &::before {
    position: absolute;
    bottom: 0;
    background-color: rgba($black, .15);
    width: 250px;
    height: 1px;
    right: 0;
    content: '';

    @include grid('desktop') {
      width: 320px;
    }
  }

  span {
    color: var(--dark-gray);
    font-weight: 400;
    min-width: 75px;
    display: inline-block;
    padding-left: spacing();
  }
}

.total {
  @include plumber-size('p-medium');
  padding: 0 0 spacing() !important;
  margin: 0 !important;
  color: rgba($medium-gray-2, .35);
  display: block;
  text-transform: uppercase;
  font-weight: 700;

  span {
    color: var(--dark-gray);
    min-width: 75px;
    display: inline-block;
    padding-left: spacing();
  }
}

.button {
  @extend %button-transparent;
  margin: spacing() 0;
  min-width: 135px;

  @include grid('desktop') {
    min-width: 185px;
  }
}
</style>
