<template>
  <div class="account-password-form" v-cloak>
    <el-form :model="formData" ref="form">
      <el-form-item
        :label="$labels.form.oldPassword"
        prop="old_password"
        :rules="[formRules.required, formRules.serverError]"
      >
        <el-input
          type="password"
          v-model="formData['old_password']"
          @input="formClearServerError('old_password')"
        ></el-input>
      </el-form-item>

      <el-form-item
        :label="$labels.form.password"
        prop="new_password1"
        :rules="[formRules.required, formRules.serverError]"
      >
        <el-input
          type="password"
          v-model="formData['new_password1']"
          @input="formClearServerError('new_password1')"
        ></el-input>
        <span>Lozinka mora sadrzavati minimalno 8 znakova</span>
      </el-form-item>

      <el-form-item
        :label="$labels.form.passwordConfirm"
        prop="new_password2"
        :rules="[formRules.required, formRules.matchPassword, formRules.serverError]"
      >
        <el-input
          type="password"
          v-model="formData['new_password2']"
          @input="formClearServerError('new_password2')"
        ></el-input>
      </el-form-item>

      <button
        href="#"
        class="submit"
        :class="{'disabled': formDisabled}"
        :disabled="formDisabled"
        @click.prevent="formSubmit"
      >
        <span>{{ $labels.form.submit }}</span>
      </button>
    </el-form>
  </div>
</template>

<script>
import formMixin from "../../mixins/form.js";
import formRulesMixin from "../../mixins/form-rules.js";

export default {
  name: "AccountPasswordForm",
  mixins: [formMixin, formRulesMixin],
  data() {
    return {
      fromRulesMatchPasswordField: "new_password1"
    };
  },
  methods: {
    formSuccess(data) {
      window.location.href = this.$config.account.urls.detail;
    }
  }
};
</script>

<style lang="scss" scoped>
@import "assets/sass/_resources.scss";

.submit {
  @extend %button;
  padding: spacing(0.8);
  min-width: 135px;
  margin-top: spacing();

  @include grid("desktop") {
    min-width: 190px;
    padding: spacing(1.5);
  }
}
</style>