<template>
  <div class="account-details-form" v-cloak>
    <el-form :model="formData" label-position="top" ref="form">
      <el-form-item :label="$labels.form.firstName" prop="first_name" :rules="[formRules.serverError]">
        <el-input v-model="formData['first_name']" @input="formClearServerError('first_name')"></el-input>
      </el-form-item>
      <el-form-item :label="$labels.form.lastName" prop="last_name" :rules="[formRules.serverError]">
        <el-input v-model="formData['last_name']" @input="formClearServerError('last_name')"></el-input>
      </el-form-item>
      <el-form-item :label="$labels.form.email" prop="email" :rules="[formRules.required, formRules.email, formRules.serverError]">
        <el-input type="email" v-model="formData['email']" @input="formClearServerError('email')"></el-input>
      </el-form-item>
      <el-form-item :label="$labels.form.phone" prop="phone_number" :rules="[formRules.required, formRules.phoneNumber, formRules.serverError]">
        <el-input v-model="formData['phone_number']" @input="formClearServerError('phone_number')"></el-input>
      </el-form-item>

      <button href="#" class="submit" :class="{'disabled': formDisabled}" :disabled="formDisabled" @click.prevent="formSubmit">
        <span>{{ $labels.form.submit }}</span>
      </button>
    </el-form>
  </div>
</template>

<script>
import formMixin from '../../mixins/form.js'
import formRulesMixin from '../../mixins/form-rules.js'

export default {
  name: 'AccountDetailsForm',
  mixins: [formMixin, formRulesMixin],
  methods: {
    formSuccess (data) {
      window.location.href = this.$config.account.urls.detail
    }
  }
}
</script>

<style lang="scss" scoped>
@import "assets/sass/_resources.scss";

.submit {
  @extend %button;
  padding: spacing(.8);
  min-width: 135px;
  margin-top: spacing();

  @include grid('desktop') {
    min-width: 190px;
    padding: spacing(1.5);
  }
}
</style>
