<template>
  <div class="login-register-form" v-appear="{enabled: $root.isLoaded}" v-cloak>
    <h3 class="title" v-if="isRegister">Registracija</h3>
    <h3 class="title" v-if="!isRegister">Prijava registrirani korisnici</h3>
    <div class="wrapper">
      <p v-if="!isRegister">Ukoliko ste registrirani kupac, ovdje se prijavite. Ako želite kupovati kao gost, nije potrebna prijava.</p>
      <el-form :model="formData" label-position="top" ref="form">
        <el-form-item :label="$labels.form.email" prop="username" :rules="[formRules.required, formRules.email, formRules.serverError]">
          <el-input type="email" v-model="formData['username']" @input="formClearServerError('username')"></el-input>
        </el-form-item>
        <el-form-item :label="$labels.form.password" prop="password" :rules="[formRules.required, formRules.serverError]">
          <el-input type="password" v-model="formData['password']" @input="formClearServerError('password')"></el-input>
        </el-form-item>

        <el-form-item :label="$labels.form.passwordConfirm" prop="password2" :rules="[formRules.required, formRules.matchPassword, formRules.serverError]" v-if="isRegister">
          <el-input type="password" v-model="formData['password2']" @input="formClearServerError('password2')"></el-input>
        </el-form-item>

        <el-form-item prop="accept" :rules="[formRules.required]" v-if="isRegister">
          <el-checkbox-group v-model="formData['accept']">
            <el-checkbox><span v-html="$labels.form.acceptConditions"></span></el-checkbox>
          </el-checkbox-group>
        </el-form-item>

        <button href="#" class="submit" :class="{'disabled': formDisabled, 'register-button': isRegister}"  @click.prevent="formSubmit">
          <span v-if="isRegister">{{ $labels.account.register }}</span>
          <span v-else>{{ $labels.account.login }}</span>
        </button>
      </el-form>

      <div>
        <p class="links-register" v-if="isRegister">
          <span>{{ $labels.account.alreadyRegisteredQuestion }} </span>
          <a :href="$config.account.urls.reset" class="forgot-password">{{ $labels.account.forgotPasswordQuestion }}</a>
          <a href="#" @click.prevent="isRegister = false" class="registration">{{ $labels.account.login }}</a>.
        </p>
        <p class="links-login" v-else>
          <span>{{ $labels.account.notRegisteredQuestion }} </span>
          <a :href="$config.account.urls.reset" class="forgot-password">{{ $labels.account.forgotPasswordQuestion }}</a>
          <a href="#" @click.prevent="isRegister = true" class="registration">{{ $labels.account.register }}</a>.
        </p>
      </div>
    </div>
  </div>
</template>

<script>
import get from 'lodash/get'
import qs from 'qs'

import formMixin from '../../mixins/form.js'
import formRulesMixin from '../../mixins/form-rules.js'

export default {
  name: 'LoginRegisterForm',
  mixins: [formMixin, formRulesMixin],
  props: {
    title: {type: String, default: null},
    registerByDefault: {type: Boolean, default: false},
    successUrl: {type: String, default: null},
  },
  data () {
    return {
      isRegister: false,
      accept: false,
    }
  },
  computed: {
    formActionUrl () { return this.isRegister ? this.$config.account.urls.register : this.$config.account.urls.login },
    formDataFormated () { return this.isRegister ? this.registerFormData : this.formData },
    registerFormData () {
      return {
        'email': this.formData['username'],
        'password1': this.formData['password'],
        'password2': this.formData['password2']
      }
    },
    nextUrl () { return this.successUrl || get(qs.parse(window.location.search.substr(1)), 'next', null) }
  },
  created () {
    this.isRegister = this.registerByDefault
  },
  methods: {
    formSuccess (data) {
      if (this.nextUrl) { window.location.href = this.nextUrl }
      else { window.location.reload() }
    },
    formErrorResetData () {
      if (!this.isRegister) this.formData['password'] = ''
    },
  }
}
</script>

<style lang="scss" scoped>
@import "assets/sass/_resources.scss";

.login-register-form {
  @extend %appear;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--white);
  padding: spacing();
  box-shadow: 1px 1px 18px rgba(145, 145, 145, 0.15);
  max-width: 600px;

  @include grid('desktop') {
    padding: spacing(5);
  }
}

.title {
  text-align: center;
  margin-top: 0;
  padding-top: 0;
  color: var(--dark-gray);

  @include grid('desktop') {
    margin-bottom: spacing(4);
  }
}

.login-form-wrapper {
  @include grid('tablet') {
    max-width: 400px;
    margin: 0 auto;
  }
}

.help-text {
  @include plumber-size('p-extra-small');
  color: var(--dark-gray);
  float: right;
  font-weight: 600;
  margin-top: spacing(.5) !important;
}

.submit {
  @extend %button;
  margin-bottom: spacing(4);
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  color: var(--dark-gray);

  &.register-button {
    @extend %button-green;
    margin-bottom: spacing(4);
  }
}

.links-register,
.links-login {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);

  &:hover {
    strong {
      color: var(--orange);
    }
  }

  span {
    @include plumber-size('p-small');
    color: var(--dark-gray);
  }

  strong {
    @include trans(color);
    font-weight: 600;
  }
}

.forgot-password {
  padding: 0 !important;
  @include plumber-size('p-small');
  margin: 0 !important;
  color: var(--dark-gray);
}

.registration {
  @include plumber-size('p-small');
  padding: 0 !important;
  margin: 0 !important;
  color: var(--dark-gray);
  font-weight: 700;
}
</style>
