<template>
  <div class="password-reset-form"  v-cloak>
    <el-form :model="formData" label-position="top" ref="form">
      <el-form-item :label="$labels.form.email" prop="email" :rules="[formRules.required, formRules.email, formRules.serverError]">
        <el-input type="email" v-model="formData['email']" @input="formClearServerError('email')"></el-input>
      </el-form-item>

      <button href="#" class="submit" :class="{'disabled': formDisabled}" @click.prevent="formSubmit">
        <span>{{ $labels.account.reset }}</span>
      </button>
    </el-form>
  </div>
</template>

<script>
import _ from 'lodash/core'
import qs from 'qs'
import formMixin from '../../mixins/form.js'
import formRulesMixin from '../../mixins/form-rules.js'

export default {
  name: 'PasswordResetForm',
  mixins: [formMixin, formRulesMixin],
  computed: {
    formActionUrl () { return this.$config.account.urls.reset }
  },
  methods: {
    formSuccess (data) {
      this.$store.dispatch('messages/fetch')
      this.formLoading.close()
      this.formDisabled = false
      this.form.resetFields()
    }
  }
}
</script>

<style lang="scss" scoped>
@import "assets/sass/_resources.scss";

.password-reset-form {
  max-width: 500px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--white);
  padding: spacing();
  box-shadow: 1px 1px 18px rgba(145, 145, 145, 0.15);

  @include grid('desktop') {
    padding: spacing(3);
  }
}

.submit {
  @extend %button;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  color: var(--dark-gray);

  &.submit-register {
    @extend %button-green;
  }
}
</style>
