{% extends "base.html" %}
{% load cms_tags i18n %}

{% block content %}
  <div class="about" v-appear="{enabled: $root.isLoaded}">
    <div class="container">
      <div class="content-indented" v-appear.children="{enabled: $root.isLoaded}">
        {% block content_text %}
          {% placeholder "about" or %}
            <p>{% trans "No content." %}</p>
          {% endplaceholder %}
        {% endblock %}
      </div>
    </div>
  </div>
{% endblock %}

{% block foot_flower %}{% endblock %}