{% load cms_tags menu_tags sekizai_tags staticfiles i18n utils_core utils_url utils_cms page_images_tags thumbnail blogit_extra_tags %}
{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html lang="en" {% if request.toolbar.show_toolbar %} class="cms-toolbar-expanded" {% endif %}>
<head{% block head_attrs %}{% endblock %}>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% block title %}{% page_attribute "page_title" %}{% endblock %} - {{ request.site.name }}</title>
  {% page_attribute "meta_description" as page_description %}
  {# Translators: Default page meta description. #}
  {% trans "Maticnjak - ZDRAVO, SVJEŽE, DOMAĆE..." as default_page_description %}
  <meta name="description"
    content="{% block meta_description %}{{ page_description|default:default_page_description }}{% endblock %}">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
  <link rel="canonical"
    href="{% block link_canonical %}{{ request.scheme }}://{{ request.site }}{{ request.path }}{% endblock %}">
  {% for code, title in LANGUAGES %}
  {% get_translated_url_with_fallback code as url %}
  {% if url %}
  <link rel="alternate" hreflang="{% if code == LANGUAGE_CODE %}x{% else %}{{ code }}{% endif %}"
    href="{{ request.scheme }}://{{ request.site }}{{ url }}">{% endif %}
  {% endfor %}

  <link rel="shortcut icon" href="{% static "images/favicon/favicon.ico" %}" type="image/x-icon">
  <link rel="icon" type="image/png" href="{% static "images/favicon/favicon-16x16.png" %}" sizes="16x16">
  <link rel="icon" type="image/png" href="{% static "images/favicon/favicon-32x32.png" %}" sizes="32x32">
  <link rel="icon" type="image/png" href="{% static "images/favicon/favicon-96x96.png" %}" sizes="96x96">
  <link rel="icon" type="image/png" href="{% static "images/favicon/android-chrome-192x192.png" %}" sizes="192x192">

  <link rel="apple-touch-icon" sizes="57x57" href="{% static "images/favicon/apple-touch-icon-57x57.png" %}">
  <link rel="apple-touch-icon" sizes="60x60" href="{% static "images/favicon/apple-touch-icon-60x60.png" %}">
  <link rel="apple-touch-icon" sizes="72x72" href="{% static "images/favicon/apple-touch-icon-72x72.png" %}">
  <link rel="apple-touch-icon" sizes="76x76" href="{% static "images/favicon/apple-touch-icon-76x76.png" %}">
  <link rel="apple-touch-icon" sizes="114x114" href="{% static "images/favicon/apple-touch-icon-114x114.png" %}">
  <link rel="apple-touch-icon" sizes="120x120" href="{% static "images/favicon/apple-touch-icon-120x120.png" %}">
  <link rel="apple-touch-icon" sizes="144x144" href="{% static "images/favicon/apple-touch-icon-144x144.png" %}">
  <link rel="apple-touch-icon" sizes="152x152" href="{% static "images/favicon/apple-touch-icon-152x152.png" %}">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static "images/favicon/apple-touch-icon-180x180.png" %}">
  <meta name="msapplication-square70x70logo" content="{% static "images/favicon/smalltile.png" %}">
  <meta name="msapplication-square150x150logo" content="{% static "images/favicon/mediumtile.png" %}">
  <meta name="msapplication-wide310x150logo" content="{% static "images/favicon/widetile.png" %}">
  <meta name="msapplication-square310x310logo" content="{% static "images/favicon/largetile.png" %}">

  {% get_page_image request.current_page 'featured' as page_featured_image %}

  {% block og %}
  <meta property="og:title"
    content="{% block og_title %}{% page_attribute "page_title" %}{% endblock %} - {{ request.site.name }}">
  <meta property="og:description"
    content="{% block og_description %}{{ page_description|default:default_page_description }}{% endblock %}">
  <meta property="og:image"
    content="{% block og_image %}{{ request.scheme }}://{{ request.site }}{% if page_featured_image %}{{ page_featured_image.url }}{% else %}{% static "images/og-image.jpg" %}{% endif %}{% endblock %}">
  <meta property="og:url"
    content="{% block og_url %}{{ request.scheme }}://{{ request.site }}{{ request.path }}{% endblock %}">
  {% endblock %}

  {% addtoblock "css" %}
  {% render_bundle 'main' 'css' %}
  {% endaddtoblock %}

  <!--[if IE]>
  <script type="text/javascript">
      window.location = "/browser-upgrade/";
  </script>
  <![endif]-->
  <script type="text/javascript">
    if (window.navigator.msPointerEnabled) {
      window.location = "/browser-upgrade/";
    }
  </script>

  {% include "includes/google_analytics.html" %}
  {% include "includes/facebook_pixel.html" %}


  {% include "includes/gta.html" %}

  {% render_block "css" postprocessor "compressor.contrib.sekizai.compress" %}

  {% block schema_org %}
  {% page_attribute "page_title" as page_title %}
  <script type="application/ld+json">
{
  "@context": "https://schema.org/",
  "@graph": [
    {
      "@type": "WebPage",
      "headline": "{{ page_title|escapejs }}",
      "name": "{{ page_title|escapejs }}",
      "url": "{{ request.scheme }}://{{ request.site }}",
      "publisher": {
        "@type": "Organization",
        "name": "Maticnjak"
      }
    },
    {
      "@type": "SiteNavigationElement",
      "cssSelector": ".main-menu"
    }
  ]
}
</script>
  {% endblock %}


  <noscript>
    <img height="1" width="1" src="https://www.facebook.com/tr?id=875893822892937&ev=PageView
    &noscript=1" />
  </noscript>
  <!-- End Facebook Pixel Code -->

  <!-- Hotjar Tracking Code for https://maticnjakshop.com/ -->
  <script>
      (function(h,o,t,j,a,r){
          h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
          h._hjSettings={hjid:1871612,hjsv:6};
          a=o.getElementsByTagName('head')[0];
          r=o.createElement('script');r.async=1;
          r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
          a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
  </script>
<style>
    .home-products .product-set img{
      width:120px;
      height:auto;
    }
  </style>
<script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/c9f362c40c66a883327b035c5/d459aee7ae987bb73ad5f6f4c.js");</script>
  </head>

  <link href="https://fonts.googleapis.com/css?family=Vollkorn:400,500,600,700&display=swap&subset=latin-ext"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500,700&display=swap&subset=latin-ext"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Merienda+One&display=swap" rel="stylesheet">

  <body class="{% block body_attrs %}{% endblock %}">
    {% cms_toolbar %}
    <!--[if lt IE 9]>
<p class="browserupgrade">{% blocktrans %}You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.{% endblocktrans %}</p>
<![endif]-->




    <div id="app">
      {% block app %}

      {% block base_head %}
      <header id="head" class="{% block head_class %}head{% endblock %}" v-appear v-cloak>
        <div class="container">
          <div class="head-wrapper">

            <navbar inline-template>
              <div class="navbar">
                <div class="left">
                  {% show_menu 0 1 100 100 "modules/header/catalog_menu.html" %}
                      <a href="/" class="main-menu-link">{% include "svg/logo.svg"  %}</a>
              {% comment %}    {% show_menu 0 1 100 100 "modules/header/main_menu.html" %} {% endcomment %}
                </div>

                <div class="right">
                  <a href="{% url 'shopit-account-detail' as account_url %}{{ account_url }}" class="account-button">
                    {% if customer.is_authenticated %}
                    <span class="account-user">{{ customer.email }}</span>
                    {% else %}
                    <span class="account">{% trans "Prijava" %}</span>
                    {% endif %}
                  </a>

                  <a href="#" class="search-button" @click.prevent="$root.showSearch = true">
                    <span class="search-button-text">{% trans "Pretraga" %}</span>
                  </a>
                  <a href="{% url 'shopit-cart' %}" class="cart-button" >
                    <cart-icon></cart-icon>
                  </a>
                </div>

              <!--  <logo inline-template>
                  <a href="{% page_url 'home' as home_url %}{{ home_url }}" class="logo">
                    {% include "svg/logo.svg"  %}
                  </a>
                </logo> -->
              </div>
            </navbar>


          </div>
        </div>
      </header>
      {% endblock  %}

      {% block mini_cart %}
      <mini-cart></mini-cart>
      {% endblock %}

      <main id="content" class="{% block content_class %}content{% endblock %}" role="main" v-cloak>
{% block head_image_with_content %}

            <div class="head-image-with-content" v-appear.children v-cloak>
              {% block page_image %}
              <div class="head-image">

                {% thumbnail page_featured_image "1920x400" crop upscale subject_location=page_featured_image.subject_location as thumb %}
                <span class="bg" style="background-image: url('{{ thumb.url }}')"></span>
              </div>
              {% endblock %}

              <div class="head-wave mobile">{% include "svg/head-wave-mobile.svg" %}</div>
              <div class="head-wave desktop">{% include "svg/head-wave-desktop.svg" %}</div>
              {% block head_content %}

              <div class="head-content">
                {% block head_content_extra %}{% endblock %}
                <h1 class="head-title">{% block page_title %}{% page_attribute "page_title" %}{% endblock %}</h1>
                {% if page_description %} <h6 class="head-description">{{ page_description }}</h6>{% endif %}
              </div>
              {% endblock %}

            </div>
            {% endblock %}
        {% block content %}




        {% endblock %}
      </main>

      <footer class="foot {% block foot_class %}{% endblock %}" v-appear v-cloak>
        <a href="#head" v-scroll-to="{ el: '#head', offset: - 30 }" class="foot-ancor"><span></span></a>

        {% block foot_flower %}
        <span class="foot-flower"></span>
        {% endblock %}

        <div class="foot-container">
          <div class="wrapper">
            <div class="social">
              <a href="https://web.facebook.com/Maticnjak?_rdc=1&_rdr" target="_blank" class="icon-facebook"></a>
              <a href="https://www.instagram.com/maticnjak_sativa/" target="_blank" class="icon-instagram"></a>
              <a href="https://www.linkedin.com/company/mati%C4%8Dnjak-sativa-d-o-o/" target="_blank"
                class="icon-linkedin"></a>
              <a href="https://www.youtube.com/channel/UCewi3WJifTIFo4DY3qNxt0Q" target="_blank"
                class="icon-youtube"></a>
            </div>

            <div class="links">
              <div class="links-top">
                <a
                  href="{% page_url 'terms_and_conditions' as terms_and_conditions_url %}{{ terms_and_conditions_url }}">{% trans "Uvjeti i odredbe" %}</a>
                <a
                  href="{% page_url 'cookie_law' as cookie_law_url %}{{ cookie_law_url }}">{% trans "Privatnost i kolačići" %}</a>
                {% comment %}
                <a href="{% page_url 'impressum' as impressum_url %}{{ impressum_url }}">{% trans "Impressum" %}</a>
                {% endcomment %}
              </div>

              <div class="links-bottom">
                <a
                  href="{% page_url 'payment_methods' as payment_methods_url %}{{ payment_methods_url }}">{% trans "Načini plaćanja" %}</a>
                <a href="{% page_url 'delivery' as delivery_url %}{{ delivery_url }}">{% trans "Dostava" %}</a>
              </div>
            </div>
          </div>
        </div>

        <div class="foot-bottom">
          <div class="container">
            <p class="copyright desktop">Matičnjak © 2020 - {% trans "All rights reserved" %}</p>

            <div class="shopping-cards">
              <a href="http://www.diners.com.hr/" target="_blank" class="card-diners">DINERS</a>
              <a href="http://www.visa.com.hr/" target="_blank" class="card-visa">VISA</a>
              <a href="http://www.mastercard.com/hr/" target="_blank" class="card-master">MASTER</a>
              <a href="http://www.maestrocard.com/hr/" target="_blank" class="card-maestro">MAESTRO</a>

              {% comment %}
              <a href="http://www.americanexpress.hr/" target="_blank" class="card-amex">AMEX</a>
              <a href="http://www.pbzcard.hr/media/53821/mcsc_hr.html" target="_blank" class="card-master-secure">MASTER
                SECURE</a>
              <a href="http://www.pbzcard.hr/media/53827/vbv_hr.html" target="_blank"
                class="card-visa-verified">VERIFIED BY VISA</a>
              <a href="https://www.discover.com/" target="_blank" class="card-discover">DISCOVER</a>
              <a href="https://dinacard.nbs.rs/english/index.html" target="_blank" class="card-dina">DINA</a>
              <a href="https://www.mastercard.hr/hr-hr/consumers/get-support/MastercardIdentityCheck.html"
                target="_blank" class="card-masted-id-check">MASTER ID CHECK</a>
              <a href="https://www.visa.co.uk/pay-with-visa/featured-technologies/verified-by-visa.html" target="_blank"
                class="card-visa-secure">VISA SECURE</a>
              {% endcomment %}
              <a href="http://www.wspay.info" class="card-wspay" title="WSPay - Web Studio payment gateway"
                target="_blank">WSPAY</a>
            </div>

            <p class="copyright mobile">Matičnjak © 2020 - {% trans "All rights reserved" %}</p>
            <a href="https://iconisagency.com" class="crafted" target="_blank">{% include "svg/iconis.svg" %}</a>
          </div>
        </div>
      </footer>


      <div class="intro-preloader" :class="{ready: !$root.isLoaded, done: $root.isLoaded}">
        <div class="drawer">
          <span class="bg"></span>

          <div class="wrapper">
            <div class='hexagon-loader'>
              <div class='row'>
                <div class='arrow up arrow-1'></div>
                <div class='arrow down arrow-2'></div>
                <div class='arrow up arrow-3'></div>
              </div>
              <div class='row'>
                <div class='arrow down arrow-6'></div>
                <div class='arrow up arrow-5'></div>
                <div class='arrow down arrow-4'></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <search></search>
      {% endblock app %}
    </div>

    {% page_url 'terms_and_conditions' as terms_url %}
    {% page_url 'dealership' as dealership_url %}

    {% addtoblock "js" %}
    {% render_bundle 'main' 'js' %}
    {% endaddtoblock %}

    {% render_block "js_uncompressed" %}

    <!-- Midas Pixel Code -->
    <img height=“1” width=“1" style=“display:none”
      src=“https://cdn.midas-network.com/MidasPixel/IndexAsync/be16e394-db73-4f47-9925-e4f0fc426e14” />
    <!-- DO NOT MODIFY -->
    <!-- End Midas Pixel Code -->

    <script>
      var App = Object.freeze({
        config: {
          csrf: '{{ csrf_token }}',
          lang: '{{ LANGUAGE_CODE|lower }}',
          duration: .333,
          cartParams: { 'fields': 'is_available' },
          animation: {
            duration: .333,
          },
          messages: {
            urls: { get: '{% url "shop:messages-list" %}' }
          },
          search: {
            urls: { get: '{% url "api:search-list" %}' }
          },
          shop: {
            cartParams: { 'fields': 'is_available' },
            cartParamsDetail: { 'fields': 'is_available,name,attachments,price,url' },
            urls: {
              checkout: '{% url "shopit-checkout" %}',
              cart: '{% url "shopit-cart" %}',
              cartEmpty: '{% url "shopit-cart-empty" %}',
              cartApi: '{% url "shop:cart-list" %}',
              deliveryUpdate: '{% url "shop:delivery-country-code" %}'
            }
          },
          catalog: {
            defaultProductImageUrl: '{% autoescape off %}{% static "images/default-product-image.png" %}{% endautoescape %}',
            defaultProductImageUrlSmall: '{% autoescape off %}{% static "images/default-product-image-small.png" %}{% endautoescape %}',
            productsAttributeCodes: {% block js_products_attribute_codes %}[]{% endblock %},
      urls: {
        products: {% block js_products_url %} '{% url "shopit-product-list" %}'{% endblock %}
      }
    },
      account: {
        urls: {
          detail: '{% url "shopit-account-detail" %}',
            login: '{% url "shopit-account-login" %}',
              reset: '{% url "shopit-account-reset" %}',
                register: '{% url "shopit-account-register" %}',
      }
      }
  },
      labels: {
        form: {
          selectOption: '{% trans "Izaberite opciju" %}',
            email: '{% trans "E-mail" %}',
              password: '{% trans "Lozinka" %}',
                passwordConfirm: '{% trans "Potvrdi lozinku" %}',
                  oldPassword: '{% trans "Stara lozinka" %}',
                    password: '{% trans "Lozinka" %}',
                      newPassword: '{% trans "Nova lozinka" %}',
                        passwordConfirm: '{% trans "Potvrda lozinke" %}',
                          submit: '{% trans "Potvrdi" %}',
                            firstName: '{% trans "Ime" %}',
                              lastName: '{% trans "Prezime" %}',
                                phone: '{% trans "Broj telefona" %}',
                                  basicData: '{% trans "Osnovni podatci" %}',
                                    contactData: '{% trans "Kontakt podatci" %}',
                                      extraInfo: '{% trans "Dodatne informacije" %}',
                                        name: '{% trans "Ime i prezime" %}',
                                          address: '{% trans "Adresa" %}',
                                            zipCode: '{% trans "Poštanski broj" %}',
                                              city: '{% trans "Grad" %}',
                                                country: '{% trans "Država" %}',
                                                  shipToDifferentAddress: '{% trans "Dostava na drugu adresu" %}',
                                                    extraInfoPlaceholder: '{% trans "Npr. Molim Vas za R1 račun" %}',
                                                      message: '{% trans "Dodatne informacije" %}',
                                                        useExistantAddress: '{% trans "Use existant address" %}',
                                                          acceptConditions: '{% blocktrans with url=terms_url %}Prihvaćam <a href="{{ url }}">Uvjete i odredbe</a>.{% endblocktrans %}',
                                                            errors: {
            correct: '{% trans "Molimo ispravite greške." %}',
              required: '{% trans "Ovo polje je obavezno." %}',
                email: '{% trans "Unesite ispravnu email adresu." %}',
                  number: '{% trans "Molimo unesite broj." %}',
                    phone: '{% trans "Unesite ispravan broj telefona (+385 99 333 4444)" %}'
          },
        },
        account: {
          login: '{% trans "Prijavi se" %}',
            register: '{% trans "Registriraj se" %}',
              forgotPasswordQuestion: '{% trans "Zaboravili ste lozinku?" %}',
                notRegisteredQuestion: '{% trans "Niste registrirani?" %}',
    },
        products: {
          notAvailable: '{% trans "Nije dostupno" %}',
            isAvailable: '{% trans "Dostupno" %}',
              showMore: '{% trans "Prikaži još proizvoda" %}',
    },
        filters: {
          noProducts: '{% trans "Nema proizvoda" %}',
    },
        search: {
          label: '{% trans "Pretraži proizvode" %}',
            placeholder: '{% trans "Pretraži" %}',
    },
        navButtons: {
          search: '{% trans "Pretraga" %}',
    },
        shop: {
          proceedToCheckout: '{% trans "Proceed to checkout" %}',
            continueShopping: '{% trans "Nastavite s kupovinom" %}'
        },
        cart: {
          cart: '{% trans "Košarica" %}',
            cartToCart: '{% trans "Add to cart" %}',
              title: '{% trans "Vaša košarica" %}',
                subtotal: '{% trans "Ukupna cijena" %}',
                  totalToPay: '{% trans "Ukupno za platiti" %}',
                    isEmpty: '{% trans "Košarica je prazna" %}',
                      empty: '{% trans "Empty the cart" %}',
                        product: '{% trans "Artikli" %}',
                          productNotAvailable: '{% trans "Proizvod nije dostupan" %}',
                            model: '{% trans "Model" %}',
                              price: '{% trans "Cijena" %}',
                                quantity: '{% trans "Količina" %}',
                                  total: '{% trans "Ukupno" %}',
                                    subtotal: '{% trans "Ukupna cijena" %}',
                                      promoCode: '{% trans "Kod za popust" %}',
                                        refresh: '{% trans "Osvježi košaricu" %}',
                                          applyCode: '{% trans "Dodaj kod" %}',
                                            discount: '{% trans "Popust" %}',
                                              distributor: '{% trans "Postani distributer" %}',
                                                removedFrom: '{% trans "Proizvod je izbrisan iz košarice." %}',
                                                  addToAdding: '{% trans "Pričekajte, ažuriramo košaricu." %}',
                                                    addToSuccess: '{% trans "Proizvod uspješno dodan u košaricu." %}',
                                                      addToError: '{% trans "Došlo je do greške kod dodavanja proizvoda u košaricu." %}',
                                                        labelExtra: '{% trans "Besplatno preko 500kn" %}',
                                                          distributorLink: '{% page_url "dealership" as dealership_url %}{{ dealership_url }}'
        },
        checkout: {
          checkout: '{% trans "Blagajna" %}',
            contactInfo: '{% trans "Kontakt podaci" %}',
              billingAddress: '{% trans "Adresa plaćanja" %}',
                paymentMethod: '{% trans "Način plaćanja" %}',
                  payOnDelivery: '{% trans "Plaćanje pouzećem" %}',
                    payOnDeliveryHelp: '{% trans "Plaćanje kod dostave, nakon završene narudžbe zaprimiti će te email potvrde te možete očekivati artikle na Vašoj adresi." %}',
                      payOnDeliveryHelpDisabled: '{% trans "Plaćanje kod dostave je moguće samo za narudžbe unutar Hrvatske." %}',
                        payInAdvance: '{% trans "Uplata na bankovni račun" %}',
                          payInAdvanceHelp: '{% trans "Nakon što popunite tražene podatke, dobiti ćete ponudu za plaćanje koje možete učiniti Internet bankingom ili u poslovnici banke." %}',
                            payWithWspay: '{% trans "Kartično Plaćanje ( WSPAY)" %}',
                              payWithWspayHelp: '{% trans "Plaćanje putem online servisa. Bit ćete preusmjereni na sučelje gdje mozete sigurno platiti Vašu narudžbu." %}',
                                shippingAddress: '{% trans "Adresa dostave" %}',
                                  submitConfirm: '{% trans "Naruči" %}',
                                    submitContinue: '{% trans "Nastavi na plaćanje" %}',
                                      hello: '{% trans "Pozdrav" %}',
                                        selectPayment: '{% trans "Izaberite način plaćanja" %}',
                                          deliveryInfo: '{% trans "Informacije o dostavi" %}',
    },
        errors: {
          correct: '{% trans "Molimo ispravite greške." %}',
            required: '{% trans "Ovo polje je obavezno." %}',
              email: '{% trans "Unesite ispravnu email adresu." %}',
                number: '{% trans "Molimo unesite broj." %}',
                  phone: '{% trans "Unesite ispravan broj telefona (+385 99 333 4444)" %}'
        },
        account: {
          reset: '{% trans "Reset password" %}',
            login: '{% trans "Login" %}',
              forgotPasswordQuestion: '{% trans "Zaboravili ste lozinku?" %}',
                register: '{% trans "Register" %}',
    },
        search: {
          label: '{% trans "Pretraži proizvode" %}',
            placeholder: '{% trans "Pretraži proizvode" %}',
              resultsFor: '{% trans "Rezultati pretrage za" %}',
                noResultsFor: '{% trans "Nema rezultata za" %}',
                  enterKeywords: '{% trans "Upišite pojam za pretraživanje" %}',
    }
      },
});
    </script>
    {% render_block "js" postprocessor "compressor.contrib.sekizai.compress" %}
  </body>

</html>
