{% extends "base.html" %}
{% load cms_tags i18n static contact_tags %}

{% block content_class %}{{ block.super }} content-contact{% endblock %}

{% block content %}
  <div class="contact" v-appear="{enabled: $root.isLoaded}">
    <contact-info inline-template>
      <div class="contact-info">
        <div class="contact-info-container" v-appear.children="{enabled: $root.isLoaded}">
          <img src="{% static 'images/apitherapy-logo.png' %}" alt="Logo" v-cloak>
          <h3 class="title">{% trans "OleoOps d.o.o.," %}</h3>
          <p class="oib"><span>{% trans "OIB" %}:</span>08271524827</p>
          <p class="address"><span>{% trans "Adresa" %}:</span>Šetališe dr. Franje Tuđmana 10<br>47000 Karlovac</p>
          <p class="sales"><span>{% trans "Prodaja" %}:</span><a href="mailto:prodaja@maticnjak.hr">prodaja@maticnjak.hr</a></p>
          <div class="phone">
            <p class="text"><span>{% trans "Konzultacije o primjeni ljekovitih pripravaka" %}</span></p>
            <p class="text"><span>Ponedjeljak - petak</span>9-16h</p>
            <div class="numbers">
              <a href="tel:+385998004726" class="number">+385 99 800 4726</a>
            </div>
          </div>
        </div>
      </div>
    </contact-info>

    {% get_contact_form_data as contact_form_data %}
    <contact-form :contact-data="'{{ contact_form_data|escapejs }}'"></contact-form>
  </div>
{% endblock %}
