{% extends "base.html" %}
{% load cms_tags i18n static dealership_tags %}

{% block head_image_with_content %}
  <div class="head-content-dealership">
    <h1 class="head-title">{% block page_title %}{% page_attribute "page_title" %}{% endblock %}</h1>
    {% comment %}
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam non lectus pretium, vulputate purus nec, sodales tellus. Quisque pellentesque blandit arcu, gravida consequat diam fringilla in. Nullam sit amet pellentesque lacus. Mauris vel tristique eros. Ut vestibulum elit sit amet egestas laoreet. Donec ornare pretium cursus. </p>
    {% endcomment %}
  </div>
{% endblock %}

{% block content_class %}content-dealership{% endblock %}

{% block content %}
  <div class="dealership" v-appear="{enabled: $root.isLoaded}">
    {% get_dealership_form_data as dealership_form_data %}
    <dealership-form :dealership-data="'{{ dealership_form_data|escapejs }}'"></dealership-form>
  </div>
{% endblock %}
