{% extends "base.html" %}
{% load cms_tags i18n %}

{% block content %}
  <div class="container">
    <div class="content-indented" v-appear.children="{enabled: $root.isLoaded}">
      {% block content_text %}
        {% placeholder "content" or %}
          <p>{% trans "Nema sadržaja." %}</p>
        {% endplaceholder %}
      {% endblock %}
    </div>
  </div>
{% endblock %}
