{% extends "base.html" %}
{% load static i18n sekizai_tags %}

{% block title %}Demo{% endblock %}

{% block app %}
  {% addtoblock "css" %}
    <style>
      .demo {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ecedf1;
      }

      .wrapper {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        padding: 1rem;
      }

      .title {
        color: #B49834;
        padding: 0;
        margin: 0;
        text-transform: none;
      }

    .logo {
        margin-bottom: 20px;
      }
    </style>
  {% endaddtoblock %}

  {% block content %}
    <div class="demo">
      <div class="wrapper">
        <img src="{% static "images/logo.png" %}" width="300" alt="Logo" class="logo">
        <h1 class="title">Stranica je u izradi.</h1>
      </div>
    </div>
  {% endblock %}
{% endblock %}
