{% extends "base.html" %}
{% load cms_tags i18n thumbnail static menu_tags shopit_tags utils_url %}

{% block head_class %}head head-home{% endblock %}

{% block head_image_with_content %}
  <!-- <div class="head-image-with-content" v-appear.children="{enabled: $root.isLoaded}">
  <div class="head-image">
    <span class="bg" style="background-image: url('{{ page_featured_image.url }}')"></span>
    <span class="homepage-bg-plant-1"></span>
    <span class="homepage-bg-plant-2"></span>
    <span class="homepage-bg-plant-3"
      :style="{'background-image': `url('{% static "images/homepage-recepies-bg.png" %}')`}"></span>
  </div>

  <div class="head-content">
    <h1 class="head-title">
      {% block page_title %}
      {% trans "<span>100%</span> Ljubavi <br> <span>0%</span> Kemije" %}
      {% endblock %}
    </h1>
  </div>
</div> -->
{% endblock %}

{% block content_class %}{{ block.super }} content-home{% endblock %}

{% block content %}
  <div class="head-home">
    <div class="head-image-with-content" v-appear.children="{enabled: $root.isLoaded}">

      <div class="head-content">
        {% comment %}   <h1 class="head-title">

          {% block page_title %}
          {% endblock %}

          {% trans "<span>100% </span> ljubavi 0% <span>kemije</span>" %}
        </h1>          {% endcomment %}
        <img src="{% static 'images/banneri/proljece-min.jpg' %}"/>
      </div>
    </div>
    <!--  <div class="product-head-wrapper text-center" style="margin-top: 10px">


              {% comment %}      <a href="{% page_url 'catalog' as catalog_url %}{{ catalog_url }}" class="product-categories-link">{% trans "Svi proizvodi" %}</a>
               &nbsp;{% endcomment %}
              <div stlye="display:flex;flex-direction:row;flex-wrap:wrap"></div>
                {% get_categorization 'category' level=0 as main_categories %}
                {% for cat in main_categories %}

                  <a href="{{ cat.get_absolute_url }}" class="product-categories-link" style="display:inline-block">
      {{ cat }}</a>

                {% endfor %}

      </div> -->
    <product-categories inline-template>
    <div class="product-head-wrapper text-center" style="margin-top: 10px">


      {% comment %}      <a href="{% page_url 'catalog' as catalog_url %}{{ catalog_url }}" class="product-categories-link">{% trans "Svi proizvodi" %}</a>
               &nbsp;{% endcomment %}
      <div stlye="display:flex;flex-direction:row;flex-wrap:wrap">
      {% get_categorization 'category' level=0 as main_categories %}
      {% for cat in main_categories %}

        <a href="{{ cat.get_absolute_url }}" class="product-categories-link kategorija" style="display:inline-block">{{ cat }}</a>

      {% endfor %}
</div>
    </div>
    </product-categories>
  </div>

  {% include "home/home_products.html" %}
  {% include "home/home_news.html" %}
  {% include "home/home_recipes.html" %}

  <div class="head-home">
    <div class="head-image-with-content" v-appear.children="{enabled: $root.isLoaded}">
      <div class="head-image">
        <span class="bg" style="background-image: url('{{ page_featured_image.url }}');background-size:contain;"></span>
        <span class="homepage-bg-plant-1"></span>
        <span class="homepage-bg-plant-2"></span>
        <span class="homepage-bg-plant-3"
              :style="{'background-image': `url('{% static "images/homepage-recepies-bg.png" %}')`}"></span>
      </div>
      <div class="head-content">
        <h1 class="head-title">
          {% comment %}
          {% block page_title %}
          {% endblock %}
          {% endcomment %}
          {% trans "<span>100%</span> Ljubavi <br> <span>0%</span> Kemije" %}
        </h1>
      </div>
    </div>
  </div>

  {% include "home/home_product_categories.html" %}
  {% include "home/home_form_links.html" %}
  {% include "home/home_testimonials.html" %}
{% endblock %}

{% block foot_class %}foot-home{% endblock %}
{% block foot_flower %}{% endblock %}
