{% extends "base.html" %}
{% load cms_tags i18n thumbnail static %}

{% block head_class %}head head-home{% endblock %}

{% block head_image_with_content %}
<div class="head-image-with-content" v-appear.children="{enabled: $root.isLoaded}">
  <div class="head-image">
    <span class="bg" style="background-image: url('{{ page_featured_image.url }}')"></span>
    <span class="homepage-bg-plant-1"></span>
    <span class="homepage-bg-plant-2"></span>
    <span class="homepage-bg-plant-3"
      :style="{'background-image': `url('{% static "images/homepage-recepies-bg.png" %}')`}"></span>
  </div>

  <div class="head-content">
    <h1 class="head-title">
      {% block page_title %}
      {% trans "<span>100%</span> Ljubavi <br> <span>0%</span> Kemije" %}
      {% endblock %}
    </h1>
  </div>
</div>
{% endblock %}

{% block content_class %}{{ block.super }} content-home{% endblock %}

{% block content %}
{% include "home/home_product_categories.html" %}
{% include "home/home_products.html" %}
{% include "home/home_form_links.html" %}
{% include "home/home_news.html" %}
{% include "home/home_recipes.html" %}
{% include "home/home_testimonials.html" %}
{% endblock %}

{% block foot_class %}foot-home{% endblock %}
{% block foot_flower %}{% endblock %}