{% extends "base.html" %}
{% load cms_tags i18n %}

{% block content %}
  <div class="locations" v-appear="{enabled: $root.isLoaded}">
    <div class="container">
      <div class="content-indented" v-appear.children="{enabled: $root.isLoaded}">
      <h3>Dio našeg asortimana možete pronaći i u svim boljim ljekarnama!
</h3>
        {% block content_text %}
          {% placeholder "locations" or %}
            <p>{% trans "No content." %}</p>
          {% endplaceholder %}
        {% endblock %}
      </div>
    </div>
  </div>
{% endblock %}
