{% load cms_tags %}

<gallery-block inline-template>
  <div class="gallery-block">
    <div class="wrapper">
      {# SLIDES. #}
      <div
      ref="items"
      class="items"
      v-hammer:swipe="swipe"
      :style="moveTranslateX">
        {% for image in gallery_folder_images %}
          <div
            ref="item"
            class="item"
            :class="{'active': isActive({{ forloop.counter0 }})}">
            {% with instance=image %}{% include "djangocms_gallery/slider/image.html" %}{% endwith %}
          </div>
        {% empty %}
          {% for plugin in instance.child_plugin_instances %}
            <div class="item"
              ref="item"
              class="item"
              :class="{'active': isActive({{ forloop.counter0 }})}">
              {% render_plugin plugin %}
            </div>
          {% endfor %}
        {% endfor %}
      </div>
    </div>

    {# CONTROLS. #}
    <div class="controls">
      <a href="#" class="prev" @click.prevent="prevSlide"></a>
      <a href="#" class="next" @click.prevent="nextSlide"></a>
    </div>
  </div>
</gallery-block>
