<template>
  <div class="contact-form" v-appear="{enabled: $root.isLoaded}" v-appear.children="{enabled: $root.isLoaded}">
    <el-form ref="form" :model="formData" :disabled="formDisabled">
      <el-form-item prop="name" :rules="[formRules.required, formRules.serverError]">
        <span slot="label">{{ fields.name.label }}</span>
        <el-input
          v-model="formData.name"
          type="text"
          @input="formClearServerError('name')"
        />
      </el-form-item>
      <el-form-item
        prop="email"
        :rules="[formRules.required, formRules.email, formRules.serverError]"
      >
        <span slot="label">{{ fields.email.label }}</span>
        <el-input
          v-model="formData.email"
          type="email"
          @input="formClearServerError('email')"
        />
      </el-form-item>
      <el-form-item prop="phone" :rules="[formRules.serverError]">
        <span slot="label">{{ fields.phone.label }}</span>
        <el-input
          v-model="formData.phone"
          type="text"
          @input="formClearServerError('phone')"
        />
      </el-form-item>
      <el-form-item prop="message" :rules="[formRules.required, formRules.serverError]">
        <span slot="label">{{ fields.message.label }}</span>
        <el-input
          v-model="formData.message"
          :rows="10"
          type="textarea"
          @input="formClearServerError('message')"
        />
      </el-form-item>
      <el-form-item prop="accept" :rules="[formRules.isTrue, formRules.serverError]">
        <el-checkbox-group v-model="formData.accept" @change="formClearServerError('accept')">
          <el-checkbox>
            <span v-html="fields.accept.label"></span>
          </el-checkbox>
        </el-checkbox-group>
      </el-form-item>

      <button class="submit" :disabled="formDisabled" @click.prevent="formSubmit">
        <span v-if="formDisabled">{{ labels.submit_loading }}</span>
        <span v-else>{{ labels.submit }}</span>
      </button>
    </el-form>
  </div>
</template>

<script>
import formMixin from '../../mixins/form.js'
import formRulesMixin from '../../mixins/form-rules.js'

export default {
  name: 'ContactForm',
  mixins: [formMixin, formRulesMixin],
  props: {
    contactData: { type: String, required: true }
  },
  computed: {
    contact() {
      return JSON.parse(this.contactData)
    },
    fields() {
      return this.contact.fields
    },
    labels() {
      return this.contact.labels
    },
    formActionUrl() {
      return this.contact.url
    }
  },
   created () {
    // Set accept temp.
    // this.formData['accept'] = true
  },
  methods: {
    formValidate() {
      let isValid = false
      this.form.validate(valid => (isValid = valid))
      return isValid
    },
    formMessage(type, message) {
      if (type === 'success') window.location.href = this.contact.success_url
      else if (type === 'error') {
        alert('Doslo je do greske kod slanja maila')
      }
    },
  }
}
</script>

<style lang="scss" scoped>
@import "assets/sass/_resources.scss";

.contact-form {
  max-width: 775px;
  margin: 0 auto;
  position: relative;
  z-index: 1;

  > * {
    @extend %appear-text;
  }
}

.submit {
  @extend %button;
  color: var(--medium-black);

  @include grid('desktop', $down: true) {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  @include grid('desktop') {
    float: right;
  }
}
</style>
