<script>
export default {
  name: 'ContactInfo',
}
</script>

<style lang="scss" scoped>
@import "assets/sass/_resources.scss";

.contact {
  @extend %appear;
}

.contact-info {
  position: relative;
  z-index: 1;
  text-align: center;
  margin-bottom: spacing(3);

  @include grid('desktop') {
    margin-bottom: spacing(6);
  }
}

.contact-info-container {
  max-width: 500px;
  margin: 0 auto;

  > * {
    @extend %appear-text;
  }
}

img {
  opacity: .45;
  height: 115px;

  @include grid('desktop') {
    height: 140px;
    margin-bottom: spacing(3);
  }
}

.title {
  color: var(--gold);
  font-weight: 600;
  padding: 0 0 spacing(2);
  margin: 0;
}

.oib {
  color: var(--dark-green);
  padding: 0 0 spacing(2);
  margin: 0;

  span {
    font-weight: 700;
    display: block;
  }
}

.address {
  color: var(--dark-green);
  padding: 0 0 spacing(2);
  margin: 0;

  span {
    font-weight: 700;
    display: block;
  }
}

.sales {
  @include plumber-size('p');
  padding: 0 0 spacing(2) !important;
  margin: 0 !important;
  color: var(--dark-green);
  display: block;

  &:hover {
    a {
      color: var(--gold);
    }
  }

  a {
    @include trans(color);
    display: block;
    color: var(--dark-green);
  }

  span {
    font-weight: 700;
    display: block;
  }
}

.phone {
  .text {
    color: var(--dark-green);
    padding: 0 0 spacing();
    margin: 0;

    span {
      font-weight: 700;
      display: block;
      margin-bottom: spacing();

      @include grid('desktop') {
        margin-bottom: 0;
      }
    }
  }
}

.number {
  @include trans(color);
  @include plumber-size('p');
  margin: 0 !important;
  color: var(--dark-green);
  display: block;

  @include grid('desktop') {
    padding: 0 spacing(2) 0 0 !important;
    display: inline-block;
  }

  &:last-child {
    padding-right: 0;
  }

  &:hover {
    color: var(--gold);
  }
}
</style>
