<template>
  <div class="dealership-form" v-appear="{enabled: $root.isLoaded}" v-appear.children="{enabled: $root.isLoaded}">
    <el-form ref="form" :model="formData" :disabled="formDisabled">
      <h6 class="form-title">{{ $labels.form.basicData }}</h6>

      <el-form-item prop="company" :rules="[formRules.required, formRules.serverError]">
        <span slot="label">{{ fields.company.label }}</span>
        <el-input
          v-model="formData.company"
          type="text"
          @input="formClearServerError('company')"
        />
      </el-form-item>

      <div class="dealership-form-group">
        <el-form-item prop="oib" :rules="[formRules.required, formRules.serverError]">
          <span slot="label">{{ fields.oib.label }}</span>
          <el-input
            v-model="formData.oib"
            type="text"
            @input="formClearServerError('oib')"
          />
        </el-form-item>

        <el-form-item prop="address" :rules="[formRules.required, formRules.serverError]">
          <span slot="label">{{ fields.address.label }}</span>
          <el-input
            v-model="formData.address"
            type="text"
            @input="formClearServerError('address')"
          />
        </el-form-item>
      </div>

      <div class="dealership-form-group">
        <el-form-item prop="zip_code" :rules="[formRules.required, formRules.serverError]">
          <span slot="label">{{ fields.zip_code.label }}</span>
          <el-input
            v-model="formData.zip_code"
            type="text"
            @input="formClearServerError('zip_code')"
          />
        </el-form-item>

        <el-form-item prop="city" :rules="[formRules.required, formRules.serverError]">
          <span slot="label">{{ fields.city.label }}</span>
          <el-input
            v-model="formData.city"
            type="text"
            @input="formClearServerError('city')"
          />
        </el-form-item>
      </div>

      <el-form-item prop="state" :rules="[formRules.required, formRules.serverError]">
        <span slot="label">{{ fields.state.label }}</span>
        <el-select
          v-model="formData.state"
          clearable
          :placeholder="fields.state.help_text"
          @change="formClearServerError('state')">
          <el-option
            v-for="(label, value) in fields.state.choices"
            :key="value"
            :label="label"
            :value="value"
          />
        </el-select>
      </el-form-item>

      <h6 class="form-title">{{ $labels.form.contactData }}</h6>

      <div class="dealership-form-group">
        <el-form-item prop="phone" :rules="[formRules.serverError]">
          <span slot="label">{{ fields.phone.label }}</span>
          <el-input
            v-model="formData.phone"
            type="text"
            @input="formClearServerError('phone')"
          />
        </el-form-item>
        <el-form-item
          prop="email"
          :rules="[formRules.required, formRules.email, formRules.serverError]"
        >
          <span slot="label">{{ fields.email.label }}</span>
          <el-input
            v-model="formData.email"
            type="email"
            @input="formClearServerError('email')"
          />
        </el-form-item>
      </div>

      <h6 class="form-title">{{ $labels.form.extraInfo }}</h6>

      <el-form-item prop="message" :rules="[formRules.required, formRules.serverError]">
        <span slot="label">{{ fields.message.label }}</span>
        <el-input
          v-model="formData.message"
          :rows="10"
          :placeholder="fields.message.help_text"
          type="textarea"
          @input="formClearServerError('message')"
        />
      </el-form-item>
      <el-form-item prop="accept" :rules="[formRules.isTrue, formRules.serverError]">
        <el-checkbox-group v-model="formData.accept" @change="formClearServerError('accept')">
          <el-checkbox>
            <span v-html="fields.accept.label"></span>
          </el-checkbox>
        </el-checkbox-group>
      </el-form-item>

      <button class="submit" :disabled="formDisabled" @click.prevent="formSubmit">
        <span v-if="formDisabled">{{ labels.submit_loading }}</span>
        <span v-else>{{ labels.submit }}</span>
      </button>
    </el-form>
  </div>
</template>

<script>
import formMixin from '../../mixins/form.js'
import formRulesMixin from '../../mixins/form-rules.js'

export default {
  name: 'DealershipForm',
  mixins: [formMixin, formRulesMixin],
  props: {
    dealershipData: { type: String, required: true }
  },
  computed: {
    dealership() {
      return JSON.parse(this.dealershipData)
    },
    fields() {
      return this.dealership.fields
    },
    labels() {
      return this.dealership.labels
    },
    formActionUrl() {
      return this.dealership.url
    }
  },
   created () {
    // Set accept temp.
    // this.formData['accept'] = true
  },
  methods: {
    formValidate() {
      let isValid = false
      this.form.validate(valid => (isValid = valid))
      return isValid
    },
    formMessage(type, message) {
      if (type === 'success') window.location.href = this.dealership.success_url
      else if (type === 'error') {
        alert('Doslo je do greske kod slanja maila')
      }
    },
  }
}
</script>

<style lang="scss" scoped>
@import "assets/sass/_resources.scss";

.dealership-form {
  max-width: 910px;
  margin: 0 auto;
  position: relative;
  z-index: 1;

  > * {
    @extend %appear-text;
  }
}

.form-title {
  text-transform: uppercase;
  font-weight: 700;
  color: var(--dark-gray);
  padding: spacing() 0 spacing();
  margin: 0;

  @include grid('desktop') {
    padding: 0 0 spacing(2);
  }
}

.dealership-form-group {
  @include grid-container;

  @include grid('desktop') {
    @include grid-collapse;
  }

  .el-form-item {
    @include grid('desktop') {
      @include grid-column(6);
    }
  }
}

.submit {
  @extend %button-green;

  @include grid('desktop', $down: true) {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}
</style>
