<script>
import Store from './Store'
import { TweenMax, Power4 } from 'gsap'

export default {
  name: 'Stores',
  components: {
    Store
  },
  data () {
    return {
      toggle: false,
    }
  },
  methods: {
    showChildren (el, done) {
      TweenMax.set(el, {'height': 'auto'})
      TweenMax.from(el, this.$config.animation.duration, {'height': 0, ease: Power4.easeOut, onComplete: () => {
        done()
      }})
    },
    hideChildren (el, done) {
      TweenMax.set(el, {'height': 'auto'})
      setTimeout(() => {
        TweenMax.to(el, this.$config.animation.duration, {'height': 0, ease: Power4.easeOut, onComplete: () => {
          done()
        }})
      }, this.$config.animation.duration / 3 * 1000)
    }
  }
}
</script>

<style lang="scss" scoped>
@import "assets/sass/_resources.scss";

.stores {
  margin-bottom: spacing(2);
  position: relative;
  z-index: 1;

  @include grid('desktop') {
    margin-bottom: spacing(4);
  }
}

.stores-container {
  @include trans((background-color, border));

  @include grid('desktop', $down: true) {
    background-color: var(--white);
    border-radius: $small-border-radius;
    border: 1px solid var(--light-green);
  }
}

.stores-item {
  @include plumber-size('h4');
  @include trans(color);
  color: var(--dark-green);
  display: block;
  font-family: $heading-font-family;
  font-weight: 700;
  margin: 0 0 spacing(2) !important;
  padding: 0 !important;
  position: relative;

  @include grid('desktop', $down: true){
    margin: 0 !important;
    padding: spacing() !important;
  }

  @include icon('icon-Arrow-bottom') {
    @include trans(transform);
    position: absolute;
    right: spacing();
    transform-box: fill-box;
    transform-origin: center center;
    transform-style: preserve-3d;

    @include grid('desktop') {
      display: none !important;
    }
  }
}

.stores-item--active {
  @include grid('desktop', $down: true) {
    color: var(--medium-gray-2);
  }

  @include icon('icon-Arrow-bottom') {
    transform: rotate(180deg);
  }
}

.store-wrapper {
  @include grid-container;

  @include grid('desktop'){
    display: block !important;
    height: auto !important;
  }
}

.store-addresses {
  @include grid-container;
  @include trans((visibility, opacity));

  @include grid('desktop', $down: true) {
    opacity: 0;
    visibility: hidden;
  }

  @include grid('desktop') {
    @include grid-collapse;
  }
}

.store-addresses--active {
  @include grid('desktop', $down: true) {
    opacity: 1;
    visibility: visible;
  }
}
</style>
