<script>
import { TweenMax, Power4 } from 'gsap'

export default {
  name: 'Store',
  data () {
    return {
      toggle: false,
    }
  },
  mounted() {
    window.addEventListener('keydown', event => {
      if (event.keyCode === 27) this.toggle = false
    })
  },
  methods: {
    showChildren (el, done) {
      TweenMax.set(el, {'height': 'auto'})
      TweenMax.from(el, this.$config.animation.duration, {'height': 0, ease: Power4.easeOut, onComplete: () => {
        done()
      }})
    },
    hideChildren (el, done) {
      TweenMax.set(el, {'height': 'auto'})
      setTimeout(() => {
        TweenMax.to(el, this.$config.animation.duration, {'height': 0, ease: Power4.easeOut, onComplete: () => {
          done()
        }})
      }, this.$config.animation.duration / 3 * 1000)
    }
  }
}
</script>

<style lang="scss" scoped>
@import "assets/sass/_resources.scss";

.store {
  @include trans(border-color);
  border-bottom: 1px solid var(--lighter-gray);

  @include grid('desktop') {
    @include grid-column(6);
    background-color: var(--white);
    border-radius: $base-border-radius;
    border-bottom: 0;
    // border: 1px solid var(--lighter-gray);
    margin-bottom: spacing(2);
  }

  &:hover {
    @include grid('desktop') {
      // border-color: var(--green);
    }
  }

  &:last-child {
    @include grid('desktop', $down: true) {
      border: none;
    }
  }
}

.store--active {
  .button {
    color: var(--green);

    .counter {
      color: var(--green);
    }

    .icon {
      @include icon('icon-Minus');
    }
  }
}

.button {
  @include plumber-size('h5');
  @include trans(color);
  color: var(--dark-green);
  color: var(--medium-gray);
  display: block;
  font-weight: 500;
  margin: 0 !important;
  padding: spacing() !important;
  position: relative;
  text-transform: uppercase;

  &:hover {
    color: var(--green);

    .counter {
      color: var(--green);
    }
  }
}

.icon {
  color: var(--green);
  position: absolute;
  right: spacing(.5);
  top: 50%;
  transform: translateY(-50%);

  @include icon('icon-Plus', $size: 2em) {
    @include grid('desktop') {
      transform: translateY(4px);
    }
  }
}

.counter {
  @include trans(color);
  color: var(--beige);
  padding-right: spacing();
}

.store-item {
  @include trans((opacity, visibility));
  opacity: 0;
  padding: 0 spacing();
  visibility: hidden;

  p {
    margin: 0;
    padding: 0 0 spacing();

    &:first-child {
      padding-top: spacing();

      @include grid('desktop'){
        padding-top: spacing(3);
      }
    }
  }
}

.store-item--active {
  opacity: 1;
  visibility: visible;
}
</style>
