<script>
import { TweenMax, Power4 } from 'gsap'

export default {
  name: 'WebShops',
  data () {
    return {
      toggle: false
    }
  },
  methods: {
    showChildren (el, done) {
      TweenMax.set(el, {'height': 'auto'})
      TweenMax.from(el, this.$config.animation.duration, {'height': 0, ease: Power4.easeOut, onComplete: () => {
        done()
      }})
    },
    hideChildren (el, done) {
      TweenMax.set(el, {'height': 'auto'})
      setTimeout(() => {
        TweenMax.to(el, this.$config.animation.duration, {'height': 0, ease: Power4.easeOut, onComplete: () => {
          done()
        }})
      }, this.$config.animation.duration / 3 * 1000)
    }
  }
}
</script>

<style lang="scss" scoped>
@import "assets/sass/_resources.scss";

.web-shops {
  margin-bottom: spacing(2);
  position: relative;
  z-index: 1;

  @include grid('desktop') {
    margin-bottom: spacing(3);
  }
}

.wrapper {
  @include trans((background-color, border));

  @include grid('desktop', $down: true) {
    background-color: var(--white);
    border-radius: $small-border-radius;
    border: 1px solid var(--light-green);
  }
}

.title {
  @include plumber-size('h4');
  @include trans(color);
  color: var(--dark-green);
  display: block;
  font-family: $heading-font-family;
  font-weight: 700;
  margin: 0 0 spacing(2) !important;
  padding: 0 !important;
  position: relative;

  @include grid('desktop', $down: true){
    margin: 0 !important;
    padding: spacing() !important;
  }

  @include icon('icon-Arrow-bottom') {
    @include trans(transform);
      position: absolute;
      right: spacing();
      transform-box: fill-box;
      transform-origin: center center;
      transform-style: preserve-3d;

    @include grid('desktop') {
      display: none !important;
    }
  }
}

.title--active {
  @include grid('desktop', $down: true) {
    color: var(--medium-gray-2);
  }

  @include icon('icon-Arrow-bottom') {
    transform: rotate(180deg);
  }
}

.wrapper-2 {
  @include grid-container;

  @include grid('desktop'){
    @include grid-collapse;
    display: block !important;
    height: auto !important;
  }
}

.items {
  @include trans((visibility, opacity));

  @include grid('desktop', $down: true) {
    opacity: 0;
    visibility: hidden;
  }
}

.items--active {
  @include grid('desktop', $down: true) {
    opacity: 1;
    visibility: visible;
  }
}

.item {
  padding: spacing() spacing() 0;

  @include grid('desktop'){
    @include grid-column(2.4);
    margin-bottom: spacing();
    padding: 0;
  }

  &:last-child {
    .link {
      @include grid('desktop', $down: true) {
        border: none;
      }
    }
  }
}

.link {
  @include plumber-size('p');
  @include trans((background-color, color, border-color));
  border-bottom: 1px solid var(--lighter-gray);
  color: var(--dark-green);
  display: block;
  margin: 0;
  padding: 0 0 spacing();
  position: relative;

  @include grid('desktop') {
    border-radius: $base-border-radius;
    border: 1px solid var(--lighter-gray);
    padding: spacing(.5) spacing();
    text-align: center;
  }

  &:hover {
    color: var(--green);

    @include grid('desktop') {
      background: var(--green);
      border-color: var(--green);
      color: var(--white);
    }
  }

  &:active {
    @include grid('desktop') {
      background: rgba(var(--orange), .5);
      border-color: rgba(var(--orange), .5);
      color: $white;
    }
  }
}
</style>
