<div class="hexagon-wrapper">
  <span class="number">{{ forloop.counter }}</span>
  <div class="outer-layer">
    <div class="inner-layer">
    </div>
  </div>
</div>

<div class="text">{{ instance.content|safe }}</div>
