{% load cms_tags i18n %}

<facts inline-template>
  <div class="facts">
    <div class="facts-container">
      <h3 class="title">{{ instance.title }}</h3>

      <div class="facts-items" v-appear.children="{enabled: $root.isLoaded}">
        {% for plugin in instance.child_plugin_instances %}
          <div class="item {% cycle 'even' 'odd'  %}">
            {% render_plugin plugin %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</facts>
