<script>
export default {
  name: 'CatalogMenu',
  data: () => ({
    open: false,

    // hover efect
    activeIndex: 0,
  }),
  watch: {
    open (newValue) {
      this.$root.disableScroll = newValue
    },
  },
  mounted() {
    window.addEventListener('keydown', event => {
      if (event.keyCode === 27) this.open = false
    })
  },
  methods: {
    toggleMenu () {
      this.open = !this.open;
    },

    // hover efect
    isActive (index) { return this.activeIndex === index },
    activate: function (index) {
      this.activeIndex = index;
    },
  }
}
</script>

<style lang="scss" scoped>
@import "assets/sass/_resources.scss";

.catalog-menu {
  position: relative;
}

.catalog-menu-button {
  @extend %_navbar-link;
  background: var(--orange);
  border-radius: $base-border-radius;
  height: spacing(2);
  margin-right: spacing(.5);
  padding: spacing(.5);

  @include grid('desktop') {
    height: spacing(4);
    margin-right: spacing(2);
    padding: spacing(1.2);
  }

  @include icon('icon-Proizvodi');

  &:hover {
    opacity: .75;
  }
  &::before{
    margin-right: 0;
  }
}
.catalog-menu-button-text{
  max-height: 22px;

}
.catalog-menu-drawer {
  @include trans((opacity, visibility, transform));
  background-color: var(--white);
  z-index: 1;
  border-radius: $base-border-radius;
  opacity: 0;
  visibility: hidden;


  @include grid('desktop', $down: true) {
    @include position(fixed, 0);
  }

  @include grid('desktop') {
    position: absolute;
    left: 0;
    top: spacing(6);
    transform: translateY(spacing(2));
    box-shadow: $base-box-shadow;
  }
}

.catalog-menu-drawer--open {
  z-index: 2;
  opacity: 1;
  transform: none;
  visibility: visible;
}

.catalog-menu-drawer-bg {
  @include position(fixed, 0);
  display: none;

  @include grid('desktop') {
    display: block;
  }
}

.catalog-menu-wrapper {
  position: relative;
  overflow: hidden;

  @include grid('desktop', $down: true) {
    overflow-y: scroll;
    height: 100%;
  }

  @include grid('desktop') {
    min-width: 220px;
    min-height: 385px;
  }
}

.catalog-menu-close {
  @include trans(color);
  position: absolute;
  top: 0;
  right: 0;
  padding: spacing(2);
  color: var(--medium-gray-2);
  font-weight: 700;

  @include icon('icon-Close');

  @include grid('desktop') {
    display: none;
  }

  &:hover {
    color: var(--black);
  }
}

.catalog-menu-image {
  @include trans((opacity, visibility));
  @include size(100px);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  display: block;
  right: 0;
  bottom: spacing(-2);
  opacity: 0;
  visibility: hidden;

  @include grid('desktop') {
    @include size(335px);
    bottom: auto;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    // transform: translateY(-spacing(.25));
  }

  &.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(-50%);
  }
}

.catalog-menu-list {
  padding: spacing(4);
  overflow: hidden;
}

.catalog-menu-item {
  position: relative;
  margin-bottom: spacing(1.5);

  &.active {
    .catalog-menu-link {
      color: $action-color;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.catalog-menu-item--active {
  .catalog-menu-link {
    color: var(--dark-green);

    &::before {
      display: block;
    }
  }
}

.catalog-menu-link {
  position: relative;
  @include trans(color);
  text-transform: uppercase;
  color: var(--medium-gray-2);
  font-weight: 500;
  line-height: 1.5;

  &::before {
    @include size(8px);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: spacing(-2);
    content: '';
    background-color: var(--dark-green);
    border-radius: $base-border-radius;
    display: none;
  }
}
</style>
