<script>
export default {
  name: 'Login',
  data: () => ({
    open: false,
  }),
  watch: {
    open (newValue) {
      this.$root.disableScroll = newValue
    },
  },
  mounted() {
    window.addEventListener('keydown', event => {
      if (event.keyCode === 27) this.open = false
    })
  },
  methods: {
    toggleMenu () {
      this.open = !this.open;
    },
  }
}
</script>

<style lang="scss" scoped>
@import "assets/sass/_resources.scss";

.login-button {
  @extend %_navbar-link;
  @include icon('icon-Login');
  margin-right: spacing(.5);

  @include grid('desktop') {
    margin-right: spacing(2);
  }

  &:hover {
    color: var(--medium-gray);
  }
}

.login-button-text {
  display: none;

  @include grid('desktop') {
    display: inline-block;
  }
}

.login-user {
  @include plumber-size('p-extra-small');
  padding: 0 !important;
  margin: 0 !important;
  display: none;

  @include grid('desktop') {
    display: inline-block;
  }
}

.login-drawer {
  @include trans((visibility, opacity, transform));
  background-color: var(--background);
  z-index: 1;
  border-radius: $large-border-radius;
  opacity: 0;
  visibility: hidden;

  @include grid('tablet', $down: true) {
    @include position(fixed, 0);
  }

  @include grid('tablet') {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% + 32px));
    box-shadow: $base-box-shadow;
  }
}

.login-drawer--open {
  opacity: 1;
  visibility: visible;
  z-index: 2;

  @include grid('tablet') {
    transform: translate(-50%, -50%);
  }
}

.login-drawer-bg {
  @include position(fixed, 0);
  display: none;
  opacity: 0;
  visibility: hidden;
  background-color: rgba($black, .5);

  @include grid('desktop') {
    display: block;
  }
}

.login-drawer-bg--open {
  opacity: 1;
  visibility: visible;
  z-index: 2;
}

.login-close {
  @include trans(color);
  position: absolute;
  top: 0;
  right: 0;
  padding: spacing(2);
  color: var(--medium-gray-2);
  font-weight: 700;

  @include icon('icon-Close');

  @include grid('desktop') {
    display: none;
  }

  &:hover {
    color: var(--black);
  }
}

.login-wrapper {
  overflow-y: scroll;
  height: 100%;
  position: relative;
  border-radius: $large-border-radius;
}

.login-register-form {
  padding: spacing(4) spacing(2) spacing(2);

  @include grid('desktop') {
    padding: spacing(4) spacing(4) spacing(2);
  }
}
</style>
