<script>
export default {
  name: 'Logo'
}
</script>

<style lang="scss" scoped>
@import "assets/sass/_resources.scss";

.logo {
  @include grid('desktop', $down: true) {
    width: 100%;
    margin: spacing() 0 spacing(.5) 0;
  }

  @include grid('desktop') {
    @include position(absolute, null null null 50%);
    transform: translateX(-50%);
  }

  &:hover {
    svg {
      opacity: .75;
    }
  }

  svg {
    @include trans;
    height: spacing(3);

    @include grid('desktop', $down: true) {
      position: relative;
      left: 50%;
      margin-left: -22px;
      transform: scale(.8) translateX(-50%);
    }

    @include grid('tablet') {
      height: spacing(4);
    }
  }
}
</style>
