<script>
import isMobile from 'ismobilejs'
import _ from 'lodash/core'
import { TweenMax, Power4 } from 'gsap'

export default {
  name: 'MainMenuItem',
  data: () => ({
    open: false,
  }),
  methods: {
    toggle () {
      this.open = !this.open;
    },
  },
}
</script>

<style lang="scss" scoped>
@import "assets/sass/_resources.scss";

.main-menu-item {
  position: relative;
  margin-bottom: spacing(1.5);

  &:hover {
    .main-menu-link {
      color: var(--black);
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.main-menu-item--active {
  .main-menu-link {
    color: var(--dark-green);

    &::before {
      display: block;
    }
  }
}

.main-menu-link {
  position: relative;
  @include trans(color);
  text-transform: uppercase;
  color: var(--medium-gray-2);
  font-weight: 500;
  line-height: 1.1;

  &::before {
    @include size(8px);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: spacing(-2);
    content: '';
    background-color: var(--dark-green);
    border-radius: $base-border-radius;
    display: none;
  }
}
</style>
