<script>
import MainMenuItem from './MainMenuItem'

export default {
  name: 'MainMenu',
  components: { MainMenuItem },
  data: () => ({
    open: false,
  }),
  watch: {
    open (newValue) {
      this.$root.disableScroll = newValue
    },
  },
  mounted() {
    window.addEventListener('keydown', event => {
      if (event.keyCode === 27) this.open = false
    })
  },
  methods: {
    toggleMenu () {
      this.open = !this.open;
    },
  }
}
</script>

<style lang="scss" scoped>
@import "assets/sass/_resources.scss";

.main-menu {
  position: relative;
}

.main-menu-button {
  @extend %_navbar-link;
  @include icon('icon-Menu');

  &:hover {
    color: var(--medium-gray);
  }
}

.main-menu-button-text {
  display: none;

  @include grid('desktop') {
    display: inline-block;;
  }
}

.main-menu-drawer {
  @include trans((opacity, visibility, transform));
  background-color: var(--white);
  z-index: 1;
  border-radius: $base-border-radius;
  opacity: 0;
  visibility: hidden;

  @include grid('desktop', $down: true) {
    @include position(fixed, 0);
  }

  @include grid('desktop') {
    position: absolute;
    left: 0;
    top: spacing(5.25);
    box-shadow: $base-box-shadow;
    transform: translateY(spacing(2));
  }
}

.main-menu-drawer--open {
  opacity: 1;
  visibility: visible;
  z-index: 2;
  transform: none;
}

.main-menu-drawer-bg {
  @include position(fixed, 0);
  display: none;

  @include grid('desktop') {
    display: block;
  }
}

.main-menu-close {
  @include trans(color);
  position: absolute;
  top: 0;
  right: spacing(2);
  padding: spacing(2);
  color: var(--medium-gray-2);
  font-weight: 700;

  @include icon('icon-Close');

  @include grid('desktop') {
    display: none;
  }

  &:hover {
    color: var(--black);
  }
}

.main-menu-list {
  padding: spacing(4);
}

.main-menu-wrapper {
  min-width: 350px;

  @include grid('desktop', $down: true) {
    position: relative;
    overflow-y: scroll;
    height: 100%;
  }
}
</style>
