<script>
export default {
  name: 'Navbar',
}
</script>

<style lang="scss" scoped>
@import "assets/sass/_resources.scss";

.navbar {
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: spacing() $edge;
  position: relative;
  flex-wrap: wrap;

  @include grid('desktop') {
    padding: spacing(2);
  }
}

.navbar-product_list {
  background-color: var(--white);
}

.left {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex: 1;
}

.right {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.account-button {
  @extend %_navbar-link;
  @include icon('icon-Login');
  margin-right: spacing(.5);

  @include grid('desktop') {
    margin-right: spacing(2);
  }

  &:hover {
    color: var(--medium-gray);
  }
}

.account-text {
  display: none;

  @include grid('desktop') {
    display: inline-block;
  }
}

.account-user {
  @include plumber-size('p-extra-small');
  padding: 0 !important;
  margin: 0 !important;
  display: none;

  @include grid('desktop') {
    display: inline-block;
  }
}

.search-button {
  @extend %_navbar-link;
  @include icon('icon-Pretraga');
  margin-right: spacing(.5);

  @include grid('desktop') {
    margin-right: spacing(2);
  }

  &:hover {
    color: var(--medium-gray);
  }
}

.search-button-text {
  display: none;

  @include grid('mobile-large') {
    display: block;
  }
}

.cart-button {
  @extend %_navbar-link;

  &:hover {
    color: var(--medium-gray);
  }
}
</style>
