{% load cms_tags %}

<gallery :id="{{ gallery_id|default:1 }}" inline-template>
  <div class="gallery gallery--{{ gallery_template|default:"default" }}">
    <div class="wrapper" v-cloak>
      {% block images %}
        {% for image in gallery_folder_images %}
          <div class="item">
            {% with instance=image %}{% include "djangocms_gallery/default/image.html" %}{% endwith %}
          </div>
        {% empty %}
          {% for plugin in instance.child_plugin_instances %}
            <div class="item">
              {% render_plugin plugin %}
            </div>
          {% endfor %}
        {% endfor %}
      {% endblock %}
    </div>
  </div>
</gallery>
