{% load thumbnail i18n l10n %}

<gallery-image
  url="{{ instance.file.url }}"
  size="{{ instance.width|unlocalize }}x{{ instance.height|unlocalize }}"
  @open-gallery="openGallery"
  inline-template>
  <a :href="url" class="link" @click.prevent="openImage" v-cloak>
    {% thumbnail instance.file "1200x600" crop upscale subject_location=instance.file.subject_location as thumb %}
    <span class="bg" style="background-image: url('{{ thumb.url }}')"></span>
  </a>
</gallery-image>
