<store inline-template>

  <div
    class="store"
    {% if instance.adress %}:class="{'store--active': toggle}"{% endif %}>
    <a
      href="javascript:void"
      class="button"
      @click.prevent="toggle = !toggle">
      <span class="counter">{{ forloop.counter }}.</span>
      {{ instance.city }}
      {% if instance.adress %}<span class="icon"></span>{% endif %}
    </a>

    <transition @enter="showChildren" @leave="hideChildren">
      <div
        class="store-item"
        :class="{'store-item--active': toggle}"
        v-show="toggle">
        {{ instance.adress|safe }}
      </div>
    </transition>
  </div>
</store>
