{% load cms_tags i18n %}

<stores inline-template>
  <div class="stores">
    <div class="stores-container">
      <a
        href="javascript:void"
        class="stores-item"
        :class="{'stores-item--active': toggle}"
        @click.prevent="toggle = !toggle">
        {{ instance.title }}
      </a>

      <transition @enter="showChildren" @leave="hideChildren">
        <div
          class="store-wrapper"
          v-show="toggle">
          <div
            class="store-addresses"
            :class="{'store-addresses--active': toggle}">
            {% for plugin in instance.child_plugin_instances %}
              {% render_plugin plugin %}

              {% if forloop.counter|divisibleby:2 %}
                <div class="container"></div>
              {% endif  %}
            {% endfor %}
          </div>
        </div>
      </transition>
    </div>
  </div>
</stores>
