{% load cms_tags i18n %}

<web-shops inline-template>
  <div class="web-shops">
    <div class="wrapper">
      <a
        href="javascript:void"
        class="title"
        :class="{'title--active': toggle}"
        @click.prevent="toggle = !toggle">
        {{ instance.title }}
      </a>

      <transition @enter="showChildren" @leave="hideChildren">
        <div
          class="wrapper-2"
          v-show="toggle">
          <div
            class="items"
            :class="{'items--active': toggle}">
            {% for plugin in instance.child_plugin_instances %}
              {% render_plugin plugin %}
            {% endfor %}
          </div>
        </div>
      </transition>
    </div>
  </div>
</web-shops>
