<script>
export default {
  name: 'DocumentBlock',
}
</script>

<style lang="scss" scoped>
@import "assets/sass/_resources.scss";

.document-block {
  @include grid-container;
  position: relative;
  margin-top: spacing();
  margin-bottom: spacing();
}

.hexagon-wrapper {
  @include trans;
  position: relative;
  margin-right: spacing();

  &:hover {
    .outer-layer .inner-layer:before {
      background: var(--medium-gray-2);
    }
  }
}

.outer-layer {
  overflow: hidden;
  display: inline-block;
  width: spacing(5);
  height: spacing(4);
  transform: rotate(-30deg) skewX(30deg);
  border-radius: spacing(.5);
  position: relative;

  @include grid('desktop') {
    width: spacing(6);
    height: spacing(5);
  }
}

.outer-layer *, .outer-layer *:before {
  display: block;
  overflow: hidden;
  width: inherit;
  height: inherit;
  border-radius: inherit;
}

.inner-layer {
  transform: skewX(-30deg) rotate(60deg) skewX(30deg);
  cursor: pointer;
}

.outer-layer .inner-layer:before {
  @include trans(background);
  transform: skewX(-30deg) rotate(60deg) skewX(30deg);
  background: var(--orange);
  content: '';
}

a {
  @include plumber-size('p');
  position: relative;
  display: flex;
  align-items: center;
  color: var(--black);
}

.icon {
  @include icon('icon-File', 1.5em);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;

  @include grid('desktop') {
    @include icon('icon-File', 2.5rem);
  }
}

.title {
  margin: 0;
  padding: 0;
}
</style>
