<script>
export default {
  name: "Facts"
};
</script>

<style lang="scss" scoped>
@import "assets/sass/_resources.scss";

.facts {
  @extend %media-box;
  position: relative;

  @include grid('desktop', $down: true) {
    max-width: $indented-text-width !important;
     margin-left: auto;
     margin-right: auto;
  }
}

.facts-container {
  max-width: 1190px;
  margin: 0 auto;
}

.title {
  color: var(--dark-green);
}

.facts-items {
  @include grid('desktop') {
    margin-left: spacing(3);
  }
}

.item {
  @extend %media-box;
  @extend %appear-text;
  display: flex;
  align-items: center;
  position: relative;

  &.even {
    @include grid('desktop') {
      margin-left: spacing(9);
    }
  }
}

.hexagon-wrapper {
  @include trans;
  position: relative;
  margin-right: spacing();
}

.outer-layer {
  overflow: hidden;
  display: inline-block;
  width: spacing(5);
  height: spacing(4);
  -webkit-transform: rotate(-30deg) skewX(30deg);
  transform: rotate(-30deg) skewX(30deg);
  border-radius: spacing(.7);
  position: relative;

  @include grid('desktop') {
    width: spacing(10);
    height: spacing(9);
    border-radius: spacing();
  }
}
.outer-layer *, .outer-layer *:before {
  display: block;
  overflow: hidden;
  width: inherit;
  height: inherit;
  border-radius: inherit;
}
.inner-layer {
  transform: skewX(-30deg) rotate(60deg) skewX(30deg);
  cursor: pointer;
}
.outer-layer .inner-layer:before {
  @include trans(background);
  transform: skewX(-30deg) rotate(60deg) skewX(30deg);
  background: var(--lighter-green);
  content: '';
}

.number {
  font-size: modular-scale(2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: var(--green);
  font-weight: 700;

  @include grid('desktop') {
    font-size: modular-scale(9);
  }
}

.text {
  max-width: 885px;

  @include grid('desktop') {
    margin-left: spacing(3);
  }
}
</style>
