<script>
import { debounce } from 'lodash'

export default {
  name: 'GalleryBlock',
  data () {
    return {
      activeIndex: 1,
      maxIndex: 0,
      autoplayTimeout: null,
      pause: 10000,
      itemWidth: null,
    }
  },
  computed: {
    moveTranslateX () {
      let offsetIndex = this.activeIndex -1
      if (this.activeIndex === 0) offsetIndex = 0
      if (this.activeIndex === this.maxIndex) offsetIndex = this.maxIndex - 1
      return {
        '-webkit-transform': 'translateX(' + offsetIndex * this.itemWidth * -1 + 'px)',
        'transform': 'translateX(' + offsetIndex * this.itemWidth * -1 + 'px)'
      }
    }
  },
  mounted () {
    this.setItemWidth()
    window.addEventListener('resize', this.setItemWidth)
    this.transformByWindowSize()
    this.autoplay()
  },

  methods: {
    setItemWidth () { this.itemWidth = this.$refs.item.scrollWidth - this.$refs.items.offsetLeft },
    isActive (index) { return this.activeIndex === index },
    // onWindowResize: debounce(function() {
    //   this.setItemWidth()
    // }, 1000),

    swipe() {
      if (this.$refs.items.scrollWidth < 0) this.prevSlide()
      else this.nextSlide()
    },
    nextSlide () {
      if (this.activeIndex === this.maxIndex) { this.activeIndex = 1 }
      else { this.activeIndex++ }
      this.autoplay();

      // console.log(this.$refs);
    },
    prevSlide () {
      if (this.$refs.items.scrollWidth != 0) {
        if (this.activeIndex === 0) { this.activeIndex = this.maxIndex }
        else { this.activeIndex-- }
        this.autoplay();
      }
    },

    transformByWindowSize() {
      let smallDevice = window.matchMedia('(max-width: 1200px)')
      if (smallDevice.matches) this.maxIndex = this.$el.querySelectorAll('.item').length
      else this.maxIndex = this.$el.querySelectorAll('.item').length - 1
    },

    autoplay () {
      clearTimeout(this.autoplayTimeout)
      this.autoplayTimeout = setTimeout(() => { this.nextSlide() }, this.pause)
    },
    activate: function (index) {
      this.activeIndex = index;
    }
  }
}
</script>

<style lang="scss" scoped>
@import "assets/sass/_resources.scss";

.gallery-block {
  @extend %media-box;
  position: relative;
}

.wrapper {
  @include grid-container;
  border-radius: $base-border-radius;
  overflow: hidden;
}

.items {
  @include trans(transform);
  display: flex;
  position: relative;

  @include grid('desktop') {
    @include grid-collapse;
  }
}

.item {
  height: 270px;
  min-width: 100%;
  position: relative;
  width: 100%;

  @include grid('tablet') {
    height: 430px;
  }

  @include grid('desktop') {
    @include grid-column(6);
    height: 430px;
    min-width: 430px;
  }
}

.bg {
  @include position(absolute, 0);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: $base-border-radius;
}

.controls {
  display: none;

  @include grid('desktop') {
    display: block;
    display: flex;
    justify-content: space-between;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 120%;
  }

  a {
    @include trans((background-color, color, border-color));
    border-radius: $small-border-radius;
    border: 1px solid var(--lighter-gray);
    color: var(--dark-gray);
    display: inline-block;
    padding: spacing();

    &:hover {
      background-color: var(--orange);
      border-color: var(--orange);
      color: var(--black);
    }
  }
}

.prev {
  @include icon('icon-Arrow-left');
}

.next {
  @include icon('icon-Arrow-right');
}
</style>
