<script>
export default {
  name: "ImageWithContent"
};
</script>

<style lang="scss" scoped>
@import "assets/sass/_resources.scss";

$block-spacing: spacing(6);
$block-grid: (
  gutter: $block-spacing
);

.image-with-content {
  @extend %appear;
  @include plumber-box($margin: 2);
  position: relative;

  @include grid("desktop") {
    @include plumber-box($margin: 12);
    padding-right: spacing(3);
  }

  &.even {
    .image {
      span {
        @include grid("desktop") {
          display: none;
        }
      }
    }
  }

  &.even-extra {
    &.appear {
      .image {
        span {
          transform: scale(1) rotate(-68deg);
        }
      }
    }

    .image {
      span {
        left: -330px;
        top: spacing(2);
        transform: scale(0.75) rotate(-50deg);

        @include grid("desktop") {
          display: block;
        }
      }
    }
  }

  &.odd {
    .box {
      @include grid("desktop") {
        display: flex;
      }
    }

    .image {
      @include grid("desktop") {
        order: 2;
      }

      span {
        @include grid("desktop") {
          display: none;
        }
      }
    }

    .text {
      @include grid("desktop") {
        order: 1;
      }
    }
  }

  &.odd-extra {
    &.appear {
      .image {
        span {
          transform: scale(1) rotate(150deg);
        }
      }
    }

    .box {
      @include grid("desktop") {
        display: flex;
      }
    }

    .image {
      @include grid("desktop") {
        order: 2;
      }

      span {
        top: spacing(4);
        right: -320px;
        transform: scale(0.75) rotate(125deg);

        @include grid("desktop") {
          display: block;
        }
      }
    }

    .text {
      @include grid("desktop") {
        order: 1;
      }
    }
  }
}

.box {
  position: relative;

  @include grid("desktop") {
    @include grid-collapse($block-grid);
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
  }
}

.image {
  position: relative;
  min-height: 250px;
  width: 250px;
  margin-bottom: spacing(3);

  @include grid("desktop", $down: true) {
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
  }

  @include grid("tablet") {
    min-height: 400px;
    width: 400px;
  }

  @include grid("desktop") {
    @include grid-column(6, $block-grid);
    min-height: 720px;
    margin-bottom: 0;
  }

  span {
    @include trans(transform, $duration: 3, $delay: 6);
    position: absolute;
    display: none;
    width: 620px;
    height: 600px;
    opacity: 0.1;
    display: block;
  }

  svg {
    z-index: 1;
    position: relative;
  }
}

.text {
  @include grid("desktop") {
    @include grid-column(6, $block-grid);
  }

  @include grid("desktop", $down: true) {
    max-width: $indented-text-width;
    margin: 0 auto;
  }
}

.buttons {
  @include grid-container;
  display: inline-block;

  @include grid("desktop", $down: true) {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}

.button-wrapper {
  position: relative;
  margin-top: spacing(4);
  margin-right: spacing(0.5);
  display: inline-block;

  @include grid("desktop") {
    margin-top: spacing(8);
    margin-right: spacing(4);
    display: inline-block;
  }

  span {
    position: absolute;
    top: -55px;
    left: 0;
    width: 145px;
    height: 135px;
    content: "";
    opacity: 0.1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include grid("mobile-large", $down: true) {
      min-width: 50% !important;
    }

    @include grid("mobile-large") {
      width: 360px;
      height: 330px;
      top: -150px;
      left: -90px;
      transform: scale(0.6);
    }

    @include grid("desktop") {
      display: block;
      left: -150px;
      transform: scale(0.8);
    }
  }

  &:last-child {
    @include grid("desktop") {
      margin-right: 0;
    }
  }

  &.button-wrapper-phytotherapy {
    .button {
      @extend %button-green;
      font-size: modular-scale(1);
    }
  }

  &.button-wrapper-apitherapy {
    span {
      @include grid("desktop") {
        left: -70px;
      }
    }

    .button {
      @extend %button;
      font-size: modular-scale(1);
    }
  }

  .button {
    @include grid("mobile-large", $down: true) {
      min-width: 50% !important;
      padding: spacing() !important;
      font-size: 14px !important;
    }
  }
}
</style>
