<script>
export default {
  name: 'ImageBlock',
}
</script>

<style lang="scss" scoped>
@import "assets/sass/_resources.scss";

.image-block {
  @extend %media-box;
}

.img {
  display: table;
  margin: auto;
  position: relative;
}

.img-wrapper {
  position: relative;
}

img {
  border-radius: $base-border-radius;
  display: block;
  max-width: 100%;
}

.caption {
  display: block;
  font-style: italic;
  margin-top: spacing(1);
}
</style>
