<script>
export default {
  name: "QuoteBlock",
}
</script>

<style lang="scss" scoped>
@import "assets/sass/_resources.scss";

.quote-block {
  @extend %media-box;
}

.text {
  @include plumber-size('h3');
  color: var(--beige);
  font-weight: 700;
  font-style: italic;
  font-family: $heading-font-family;
}
</style>
