<script>
import Plyr from "plyr";

export default {
  name: 'VideoBlock',
  data () {
    return {
      started: false
    }
  },
  mounted () {
    this.player = new Plyr(this.$el.querySelector('.plyr-player'));
  },
  methods: {
    play () {
      if (this.player) {
        this.player.play();
        this.started = true;
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import "assets/sass/_resources.scss";

.video-block {
  @extend %media-box;
  position: relative;
  border-radius: $medium-border-radius;
  overflow: hidden;
  perspective: 1px;
}

.video-block-poster {
  @include position(absolute, 0);
  @include trans((opacity, visibility), $duration: "slow");
  z-index: 4;

  &:hover {

    .label {
      color: var(--medium-gray-2);
    }

    .outer-layer .inner-layer:before {
      background: var(--black);
    }

    .icon {
      color: var(--medium-gray-2);
    }
  }

  &.hide {
    opacity: 0;
    visibility: hidden;
  }
}

.bg {
  @include position(absolute, 0);
  background-position: center;
  background-size: cover;

  &::before {
    @include position(absolute, 0);
    background: $poster-gradient;
    content: '';
  }
}

.caption {
  @include position(absolute, 50% 0 null 0);
  transform: translateY(-50%);
  text-align: center;
  z-index: 2;
}

.hexagon-wrapper {
  @include trans;
  position: relative;
}

.outer-layer {
  overflow: hidden;
  display: inline-block;
  width: spacing(5);
  height: spacing(4);
  -webkit-transform: rotate(-30deg) skewX(30deg);
  transform: rotate(-30deg) skewX(30deg);
  border-radius: spacing(.5);
  position: relative;

  @include grid('desktop') {
    width: spacing(6);
    height: spacing(5);
  }
}
.outer-layer *, .outer-layer *:before {
  display: block;
  overflow: hidden;
  width: inherit;
  height: inherit;
  border-radius: inherit;
}
.inner-layer {
  transform: skewX(-30deg) rotate(60deg) skewX(30deg);
  cursor: pointer;
}
.outer-layer .inner-layer:before {
  @include trans(background);
  transform: skewX(-30deg) rotate(60deg) skewX(30deg);
  background: var(--white);
  opacity: .35;
  content: '';
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: var(--orange);

  @include icon('icon-Play') {
    @include trans(color);
  }

  @include grid('desktop') {
    @include icon('icon-Play', 1.5rem);
  }
}

.label {
  @include trans;
  color: $white;
  color: var(--white);
  margin-top: spacing();
  display: block;
}
</style>
