{% extends "base.html" %}
{% load cms_tags i18n thumbnail %}

{% block head_class %}{{ block.super }} head-recipes{% endblock %}

{% block page_image %}
  <div class="head-image">
    {% thumbnail recipe.featured_image "900x435" crop upscale subject_location=recipe.featured_image.subject_location as thumb %}
    <span class="bg" style="background-image: url('{{ thumb.url }}')"></span>
  </div>
{% endblock %}

{% block page_title %}{{ recipe.name }}{% endblock  %}

{% block content_class %}{{ block.super }} content-recipes{% endblock %}

{% block content %}
  <recipes-detail inline-template>
    <div class="recipes-detail">
      <div class="container">
        <div class="content-indented" v-appear.children="{enabled: $root.isLoaded}">
          {% block content_text %}
            {% render_placeholder recipe.content %}
            {% if not recipe.content.get_plugins.exists %}<p>{% trans "No content." %}</p>{% endif %}
          {% endblock %}
        </div>

        <div class="recipes-detail-footer" v-appear.children="{enabled: $root.isLoaded}">
          <share-buttons
            title="{% trans 'Podijeli' %}"
            domain="{{ request.scheme }}://{{ request.site.domain }}"
            path="{{ request.path }}"
            image-path="{{ post.featured_image.url }}"
            name="{{ post.get_meta_title }}"
            description="{{ post.get_meta_description|striptags|truncatechars:155|escapejs }}">
          </share-buttons>

          <div class="links">
            <a href="{% page_url 'news' as news_url %}{{ news_url }}" class="">{% trans "Novosti" %}</a>
            <a href="{% page_url 'catalog' as catalog_url %}{{ catalog_url }}" class="">{% trans "Proizvodi" %}</a>
            {% comment %}
            <a href="{% page_url 'treatments' as treatments_url %}{{ treatments_url }}" class="">{% trans "Tretmani" %}</a>
            {% endcomment %}
          </div>

          <div class="nav-buttons">
            <a
              {% if recipe.next_recipe %} href="{{ recipe.next_recipe.get_absolute_url }}" {% endif %}
              class="prev {% if not recipe.next_recipe %}disabled{% endif %}">
              <span>{% trans 'Prethodni' %}</span>
            </a>
            <a href="{% page_url 'recipes' as recipes_url %}{{ recipes_url }}" class="back">{% trans 'Svi recepti' %}</a>
            <a
              {% if recipe.previous_recipe %} href="{{ recipe.previous_recipe.get_absolute_url }}" {% endif %}
              class="next {% if not recipe.previous_recipe %}disabled{% endif %}">
              <span>{% trans 'Sljedeći' %}</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </recipes-detail>
{% endblock %}
