{% extends "default.html" %}
{% load cms_tags i18n thumbnail %}

{% block content %}
  <recipes inline-template>
    <div class="post-list" v-appear="{enabled: $root.isLoaded}">
      <div class="container">
      {% include "blogit/post-menu.html" %}
        <div class="post-list-items" v-appear.children="{enabled: $root.isLoaded}">
          {% for item in recipe_list %}
            {% include "recipes/recipe_item.html" %}
          {% endfor %}


        </div>



      </div>
    {% include "includes/pagination.html" %}

    </div>
  </recipes>
{% endblock %}
